{%- liquid
  assign enable_multiply = settings.enable_product_darken_background
-%}
<cart-item
  class='cart-item'
  id='CartItem-{{ item.index }}'
  data-index='{{ item.index }}'
  data-variant-id='{{ item.variant.id }}'
  data-inventory-quantity='{{ item.variant.inventory_quantity }}'
  data-quantity='{{ item.quantity }}'
>
  <div class='cart-item__body' data-cart-item-body>
    <div class='cart-item__grid'>
      <cart-remove-button class='cart-item__remove-button' data-index='{{ item.index }}' tabindex='0'>
        {% render 'icon', icon_name: 'trash', class: 'cart-item__remove-button-icon' %}
      </cart-remove-button>

      <div class='cart-item__details'>
        {% if item.image %}
          {% assign image = item.image %}
          <div class='cart-item__link'>
            <a
              href='{{ item.url }}'
              class='cart-item__image-wrapper shape shape--{{ img_ratio }} {% if img_ratio contains 'fit' %} shape--fit {% endif %} {% if enable_multiply %} multiply-mode {% endif %}'
              aria-hidden='true'
              tabindex='-1'
              aria-label='{{ item.product.title }}'
            >
              <img
                {% render 'image-attributes',
                  image: image,
                  size: 'medium',
                  is_multiply_target: enable_multiply,
                  class: 'cart-item__image shape__target-image'
                %}
              >
            </a>
            <div class='checkmark-with-chevron cart-item__checkmark-with-chevron hidden' data-cart-item-checkmark>
              <svg class='checkmark-with-chevron__icon' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 52 52'>
                <circle class="checkmark-with-chevron__circle" cx="26" cy="26" r="25" fill="none"/>
                <path class="checkmark-with-chevron__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
              </svg>
            </div>
          </div>
        {% endif %}

        <div class='cart-item__info cart-item__info--hide-mobile'>
          <a href='{{ item.url }}' class='cart-item__name' aria-label='{{ item.product.title }}'>
            <span class='cart-item__name-label'>{{ item.product.title | escape }}</span>
          </a>
          {%- if item.product.has_only_default_variant == false
            or item.properties.size != 0
            or item.selling_plan_allocation != null
          -%}
            {%- if item.product.has_only_default_variant == false -%}
              {%- for option in item.options_with_values -%}
                {% if option.value != blank %}
                  <div class='cart-item__option'>{{ option.name }} - {{ option.value }}</div>
                {% endif %}
              {%- endfor -%}
            {%- endif -%}
            {%- for property in item.properties -%}
              {%- assign property_first_char = property.first | slice: 0 -%}
              {%- if property.last != blank and property_first_char != '_' -%}
                <div class='cart-item__option'>
                  <div>{{ property.first }}:</div>
                  <div>
                    {%- if property.last contains '/uploads/' -%}
                      <a href='{{ property.last }}'>
                        {{ property.last | split: '/' | last }}
                      </a>
                    {%- else -%}
                      {{ property.last }}
                    {%- endif -%}
                  </div>
                </div>
              {%- endif -%}
            {%- endfor -%}
            <div class='cart-item__option'>{{ item.selling_plan_allocation.selling_plan.name }}</div>
          {%- endif -%}
          {%- if item.discounts.size > 0 -%}
            <div class='cart-item__discounts'>
              {%- for discount in item.discounts -%}
                <div class='discount'>
                  {%- render 'icon', icon_name: 'discount', class: 'discount__icon' -%}
                  {{ discount.title }}
                </div>
              {%- endfor -%}
            </div>
          {%- endif -%}
        </div>
      </div>

      <div class='cart-item__pay-info'>
        <div class='cart-item__info cart-item__info--desktop-hide'>
          <a href='{{ item.url }}' class='cart-item__name' aria-label='{{ item.product.title }}'>
            <span class='cart-item__name-label'>{{ item.product.title | escape }}</span>
          </a>
          {%- if item.product.has_only_default_variant == false
            or item.properties.size != 0
            or item.selling_plan_allocation != null
          -%}
            {%- if item.product.has_only_default_variant == false -%}
              {%- for option in item.options_with_values -%}
                {% if option.value != blank %}
                  <div class='cart-item__option'>{{ option.name }} - {{ option.value }}</div>
                {% endif %}
              {%- endfor -%}
            {%- endif -%}
            {%- for property in item.properties -%}
              {%- assign property_first_char = property.first | slice: 0 -%}
              {%- if property.last != blank and property_first_char != '_' -%}
                <div class='cart-item__option'>
                  <div>{{ property.first }}:</div>
                  <div>
                    {%- if property.last contains '/uploads/' -%}
                      <a href='{{ property.last }}'>
                        {{ property.last | split: '/' | last }}
                      </a>
                    {%- else -%}
                      {{ property.last }}
                    {%- endif -%}
                  </div>
                </div>
              {%- endif -%}
            {%- endfor -%}
            <div class='cart-item__option'>{{ item.selling_plan_allocation.selling_plan.name }}</div>
          {%- endif -%}
          {%- if item.discounts.size > 0 -%}
            <div class='cart-item__discounts'>
              {%- for discount in item.discounts -%}
                <div class='discount'>
                  {%- render 'icon', icon_name: 'discount', class: 'discount__icon' -%}
                  {{ discount.title }}
                </div>
              {%- endfor -%}
            </div>
          {%- endif -%}
        </div>

        <div class='cart-item__cost-wrap {% if item.original_price != item.final_price %}cart-item__cost-wrap--medium{% endif%} {% if item.variant.available and item.unit_price_measurement %}cart-item__cost-wrap--medium{% endif %} {% if item.original_price != item.final_price and item.variant.available and item.unit_price_measurement %}cart-item__cost-wrap--large{% endif%}'>
          <div class='cart-item__price-wrap'>
            <div class='cart-item__price'>
              <div class='cart-item__price-item'>
                {{ item.final_price | money }}
              </div>
              {% if item.original_price != item.final_price %}
                <div class='cart-item__price-item--small cart-item__price-item--old'>
                  {{ item.original_price | money }}
                </div>
              {% endif %}
            </div>
          </div>

          <quantity-component
            class='cart-item-quantity {% if settings.round_level != "1" %} cart-item-quantity--with-rounded-buttons{% endif %}'
            data-stock='{% if item.variant.inventory_policy == 'deny' %}{% if item.quantity == 0 %}0{% else %}{% if item.variant.inventory_quantity > 0 %}{{ item.variant.inventory_quantity }}{% else %}1{% endif %}{% endif %}{% else %}9999{% endif %}'
            data-cart-item-quantity
          >
            <label class='visually-hidden' for='QuantityInput-CartItem-{{ item.index }}'>
              {{- 'general.cart_items.screen_reader.quantity_label' | t -}}
            </label>

            <quantity-btn
              class='cart-item-quantity__button'
              name='minus'
              data-action='minus'
              type='button'
              disabled
              tabindex='0'
            >
              {% render 'icon', icon_name: 'minus', class: 'cart-item-quantity__button-icon' %}
            </quantity-btn>
            <input
              class='cart-item-quantity__input'
              data-index='{{ item.index }}'
              min='1'
              name='updates[]'
              type='number'
              value='{{ item.quantity }}'
              data-quantity-input
              id='QuantityInput-CartItem-{{ item.index }}'
            >
            <quantity-btn
              class='cart-item-quantity__button'
              name='plus'
              data-action='plus'
              type='button'
              tabindex='0'
            >
              {% render 'icon', icon_name: 'plus', class: 'cart-item-quantity__button-icon' %}
            </quantity-btn>
          </quantity-component>

          <div class='cart-item__totals' data-cart-item-totals>
            <div class='cart-item__totals-price'>
              <div class='cart-item__price {% if item.original_price != item.final_price %}cart-item__price--column{% elsif item.variant.available and item.unit_price_measurement %}cart-item__price--column{% endif %}'>
                <div class='cart-item__price-item'>
                  {{ item.final_line_price | money }}
                </div>
                {%- if item.original_line_price != item.final_line_price -%}
                  <div class='cart-item__price-item--small cart-item__price-item--old'>
                    {{ item.original_line_price | money }}
                  </div>
                {%- endif -%}
                {%- if item.variant.available and item.unit_price_measurement -%}
                  <div class='cart-item__price-item--small'>
                    ({{ item.variant.unit_price | money }}
                    <span aria-hidden='true'>/</span>
                    {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                      {{- item.variant.unit_price_measurement.reference_value -}}
                    {%- endif -%}
                    {{ item.variant.unit_price_measurement.reference_unit }})
                  </div>
                {% endif %}
              </div>
            </div>

            {% render 'icon', icon_name: 'spinner', class: 'loading-spinner cart-item__totals-loading-spinner' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</cart-item>
