{% liquid
  assign color_scheme = section.settings.color_scheme
%}

<drawer-menu
  data-section-id='{{ section.id }}'
  class='drawer-menu color-{{ color_scheme }} container--{{ section.settings.container_size }} {% if section.settings.grid == "6" %} drawer-menu--visible-on-desktop {% endif %}'
  id='DrawerMenu'
  data-aria-expanded='false'
  data-with-overlay
  data-with-close-on-outside
  data-with-close-on-escape
  tabindex='-1'
  {% if settings.round_level != '1' %}
    data-overlay-with-blur
  {% endif %}
  {% if section.settings.grid == '6' %}
    data-drawer-menu-is-section
  {% endif %}
>
  <template data-sidebar-template='DrawerMenu'>
    <div class='drawer-menu__body' data-sidebar-body>
      <drawer-menu-page
        class='drawer-menu__page'
        aria-hidden='false'
        data-page-id='Menu'
      >
        <div class='drawer-menu__content' data-drawer-menu-content>
          {%- if menu.links.size > 0 -%}
            <div class='drawer-menu__list drawer-menu__list--without-mega-menu'>
              <div class='drawer-menu__list-inner'>
                <div class='drawer-menu__list-body drawer-menu__list-body--additional-top-spacing'>
                  {%- for link in menu.links -%}
                    {%- comment %}<locksmith:bf86>{% endcomment -%}
                      {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: menu, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                    {%- comment %}</locksmith:bf86>{% endcomment -%}
                    {%- liquid
                      assign link_title_downcase = link.title | downcase
                      assign has_menu = false

                      for block in section.blocks
                        assign mega_nav_item_name_downcase = block.settings.mega_nav_item_name | downcase

                        if mega_nav_item_name_downcase == link_title_downcase
                          assign has_menu = true
                        endif
                      endfor
                    -%}
                    {%- if link.links.size > 0 or has_menu == true -%}
                      <drawer-menu-page-link
                        class='drawer-menu__menu-item drawer-menu__menu-item--large'
                        data-page-id='DrawerMenuPage-{{ link.handle }}'
                        tabindex='0'
                      >
                        <span class='drawer-menu__menu-item-label'>
                          {{ link.title }}
                        </span>
                        {% render 'icon', icon_name: 'chevron', class: 'drawer-menu__chevron' %}
                      </drawer-menu-page-link>
                    {%- else -%}
                      <a
                        class='drawer-menu__menu-item drawer-menu__menu-item--large {% if link.active %} active{% endif %}'
                        href='{{ link.url }}'
                        aria-label='{{ link.title }}'
                      >
                        <span class='drawer-menu__menu-item-label'>
                          {{ link.title }}
                        </span>
                      </a>
                    {%- endif -%}
                  {%- endfor -%}
                </div>
              </div>
            </div>
          {%- endif -%}
        </div>
        <div class='drawer-menu__settings'>
          {%- if customer -%}
            <a href='{{ routes.account_url }}' class='drawer-menu__account-link'>
              {% render 'icon-pack', icon: 'header-account-icon', class: 'drawer-menu__icon', icon_style: icon_style %}
              {{ 'header.store_front.go_to_profile_in_drawer_on_mobile' | t }}
            </a>
          {%- else -%}
            <drawer-menu-page-link
              class='drawer-menu__account-link'
              data-page-id='login-sidebar'
            >
              {% render 'icon-pack', icon: 'header-account-icon', class: 'drawer-menu__icon', icon_style: icon_style %}
              {{ 'header.store_front.go_to_login_in_drawer_on_mobile' | t }}
            </drawer-menu-page-link>
          {%- endif -%}
          <div class='drawer-menu__localization-settings'>
            <div class='localization-dropdown-wrapper'>
              <dropdown-opener
                class='localization-dropdown-toggle drawer-menu__localization-dropdown-toggle'
                data-aria-expanded='false'
                data-trigger='click'
                data-float-element-id='HeaderDrawerLanguageSelector'
              >
                {{ localization.language.name }}
                {% render 'icon',
                  icon_name: 'chevron',
                  class: 'localization-dropdown-toggle__chevron',
                  stroke_width: 1
                %}
              </dropdown-opener>
              <float-element
                class='localization-dropdown drawer-menu__localization-dropdown'
                aria-hidden='true'
                id='HeaderDrawerLanguageSelector'
                data-placement='top-end'
                data-main-axis-offset='2'
              >
                <template data-float-element-template='HeaderDrawerLanguageSelector'>
                  <div class='localization-dropdown__body'>
                    <localization-selector>
                      {%- form 'localization', id: 'HeaderDrawerLanguageForm' -%}
                        {%- for language in localization.available_languages -%}
                          <button
                            class='localization-dropdown__item {% if localization.language == language %} selected{% endif %}'
                            data-localization-item
                            data-value='{{ language.iso_code }}'
                            data-focus-trap-target
                            aria-label='{{ language.name }}'
                          >
                            {{ language.name }}
                          </button>
                        {%- endfor -%}
                        <input
                          type='hidden'
                          name='locale_code'
                          data-localization-input
                          value='{{ localization.language.iso_code }}'
                          id='HeaderDrawerLanguageForm-LocaleCodeInput-{{ form.id }}'
                        >
                      {%- endform -%}
                    </localization-selector>
                  </div>
                </template>
              </float-element>
            </div>
            <div class='localization-dropdown-wrapper'>
              <dropdown-opener
                class='localization-dropdown-toggle drawer-menu__localization-dropdown-toggle'
                data-aria-expanded='false'
                data-trigger='click'
                data-float-element-id='HeaderDrawerCurrencySelector'
              >
                {{ localization.country.currency.iso_code }}
                {% render 'icon',
                  icon_name: 'chevron',
                  class: 'localization-dropdown-toggle__chevron',
                  stroke_width: 1
                %}
              </dropdown-opener>
              <float-element
                class='localization-dropdown drawer-menu__localization-dropdown'
                aria-hidden='true'
                id='HeaderDrawerCurrencySelector'
                data-placement='top-end'
                data-main-axis-offset='2'
              >
                <template data-float-element-template='HeaderDrawerCurrencySelector'>
                  <div class='localization-dropdown__body'>
                    <localization-selector>
                      {%- form 'localization', id: 'HeaderDrawerCurrencyForm' -%}
                        {%- for country in localization.available_countries -%}
                          <button
                            data-localization-item
                            class='localization-dropdown__item {% if localization.country == country %} selected{% endif %}'
                            data-value='{{ country.iso_code }}'
                            data-focus-trap-target
                            aria-label='{{ country.name }} {{ country.currency.iso_code }}'
                          >
                            {{ country.name }},
                            {{ country.currency.iso_code }}
                          </button>
                        {%- endfor -%}
                        <input
                          type='hidden'
                          name='country_code'
                          data-localization-input
                          value='{{ localization.country.iso_code }}'
                          id='HeaderDrawerCurrencyForm-CountryCodeInput-{{ form.id }}'
                        >
                      {%- endform -%}
                    </localization-selector>
                  </div>
                </template>
              </float-element>
            </div>
          </div>
        </div>
      </drawer-menu-page>
      {%- comment %}<locksmith:d63e>{% endcomment -%}
        {%- assign locksmith_82b9_forloop__size = 0 %}{%- for link in menu.links -%}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: menu, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_82b9_forloop__size = locksmith_82b9_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_82b9_forloop__index = nil -%}
      {%- comment %}</locksmith:d63e>{% endcomment -%}
      {%- for link in menu.links -%}
        {%- comment %}<locksmith:5e5f>{% endcomment -%}
          {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: menu, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_82b9_forloop__index == nil %}{% assign locksmith_82b9_forloop__index = 1 %}{% assign locksmith_82b9_forloop__index0 = 0 %}{% else %}{% assign locksmith_82b9_forloop__index = locksmith_82b9_forloop__index | plus: 1 %}{% assign locksmith_82b9_forloop__index0 = locksmith_82b9_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_82b9_forloop__index == 1 %}{% assign locksmith_82b9_forloop__first = true %}{% else %}{% assign locksmith_82b9_forloop__first = false %}{% endif %}{% if locksmith_82b9_forloop__index == locksmith_82b9_forloop__size %}{% assign locksmith_82b9_forloop__last = true %}{% else %}{% assign locksmith_82b9_forloop__last = false %}{% endif %}{% assign locksmith_82b9_forloop__rindex = locksmith_82b9_forloop__size | minus: locksmith_82b9_forloop__index | minus: 1 %}{% assign locksmith_82b9_forloop__rindex0 = locksmith_82b9_forloop__size | minus: locksmith_82b9_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
        {%- comment %}</locksmith:5e5f>{% endcomment -%}
        {%- liquid
          assign link_title_downcase = link.title | downcase
          assign has_mega_menu = false
          assign block_index = ''

          for block in section.blocks
            assign mega_nav_item_name_downcase = block.settings.mega_nav_item_name | downcase

            if mega_nav_item_name_downcase == link_title_downcase
              assign block_index = forloop.index0
              assign has_mega_menu = true
              break
            endif
          endfor
        -%}
        {%- if link.links.size > 0 or block_index != '' -%}
          <drawer-menu-page
            class='drawer-menu__page {% if has_mega_menu %} drawer-menu__page--with-mega-menu {% endif %} '
            aria-hidden='true'
            data-page-id='DrawerMenuPage-{{ link.handle }}'
            data-prev-page-id='Menu'
            data-mega-menu-id='{{ link_title_downcase }}'
            {% if link.links.size == 0 %}
              data-empty-menu
            {% endif %}
            {% if block_index != '' %}
              block-id='{{ section.blocks[block_index].id }}' {{ section.blocks[block_index].shopify_attributes }}
            {% endif %}
          >
            <div class='drawer-menu__list-title drawer-menu__list-title--mobile'>
              <div class='drawer-menu__list-title-body drawer-menu__list-title-body--with-link'>
                <drawer-menu-page-link
                  class='drawer-menu__list-title-chevron-wrapper'
                  data-page-id='Menu'
                  tabindex='-1'
                >
                  {% render 'icon', icon_name: 'chevron', class: 'drawer-menu__title-chevron x-flip' %}
                </drawer-menu-page-link>
                <a
                  class='drawer-menu__list-title-label unstyled-link'
                  href='{{ link.url }}'
                  aria-label='{{ link.title }}'
                  tabindex='-1'
                >
                  {{ link.title }}
                </a>
              </div>
            </div>

            <div class='drawer-menu__content' data-drawer-menu-content>
              <div class='drawer-menu__list {% if has_mega_menu == false %} drawer-menu__list--without-mega-menu {% endif %}'>
                <div class='drawer-menu__list-inner'>
                  <div class='drawer-menu__list-title drawer-menu__list-title--desktop'>
                    <div class='drawer-menu__list-title-body drawer-menu__list-title-body--with-link'>
                      <drawer-menu-page-link
                        class='drawer-menu__list-title-chevron-wrapper'
                        data-page-id='Menu'
                        tabindex='0'
                      >
                        {% render 'icon', icon_name: 'chevron', class: 'drawer-menu__title-chevron x-flip' %}
                      </drawer-menu-page-link>
                      <a
                        class='drawer-menu__list-title-label unstyled-link'
                        href='{{ link.url }}'
                        aria-label='{{ link.title }}'
                      >
                        {{ link.title }}
                      </a>
                    </div>
                  </div>
                  {%- if link.links.size > 0 -%}
                    <div class='drawer-menu__list-body'>
                      {%- for childlink in link.links -%}
                        {%- comment %}<locksmith:af7c>{% endcomment -%}
                          {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: childlink, subject_parent: link, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                        {%- comment %}</locksmith:af7c>{% endcomment -%}
                        {%- if childlink.links.size > 0 -%}
                          <drawer-menu-page-link
                            class='drawer-menu__menu-item drawer-menu__menu-item--medium'
                            data-page-id='DrawerMenuPage-{{ link.handle }}-{{ childlink.handle }}'
                            tabindex='0'
                          >
                            <span class='drawer-menu__menu-item-label'>{{ childlink.title }}</span>
                            {% render 'icon', icon_name: 'chevron', class: 'drawer-menu__chevron' %}
                          </drawer-menu-page-link>
                        {%- else -%}
                          <a
                            class='drawer-menu__menu-item drawer-menu__menu-item--medium {% if childlink.active %} active{% endif %}'
                            href='{{ childlink.url }}'
                            aria-label='{{ childlink.title }}'
                          >
                            <span class='drawer-menu__menu-item-label'>{{ childlink.title }}</span>
                          </a>
                        {%- endif -%}
                      {%- endfor -%}
                    </div>
                  {%- endif -%}
                </div>
              </div>
              {% if has_mega_menu == true %}
                <div
                  class='drawer-menu__mega-menu-wrapper'
                >
                  {%- liquid
                    for block in section.blocks
                      assign mega_nav_item_name_downcase = block.settings.mega_nav_item_name | downcase

                      if link_title_downcase == mega_nav_item_name_downcase
                        case block.type
                          when 'menu-1'
                            render 'header-menu-1', block: block
                          when 'menu-2'
                            render 'header-menu-2', block: block
                          when 'menu-3'
                            render 'header-menu-3', block: block
                        endcase
                      endif
                    endfor
                  -%}
                </div>
              {% endif %}
            </div>
          </drawer-menu-page>
          {%- for childlink in link.links -%}
            {%- comment %}<locksmith:5458>{% endcomment -%}
              {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: childlink, subject_parent: link, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
            {%- comment %}</locksmith:5458>{% endcomment -%}
            {%- if childlink.links.size > 0 -%}
              <drawer-menu-page
                class='drawer-menu__page {% if has_mega_menu %} drawer-menu__page--with-mega-menu {% endif %}'
                data-prev-page-id='DrawerMenuPage-{{ link.handle }}'
                data-mega-menu-id='{{ link_title_downcase }}'
                aria-hidden='true'
                data-page-id='DrawerMenuPage-{{ link.handle }}-{{ childlink.handle }}'
              >
                <div class='drawer-menu__list-title drawer-menu__list-title--mobile'>
                  <div class='drawer-menu__list-title-body drawer-menu__list-title-body--with-link'>
                    <drawer-menu-page-link
                      class='drawer-menu__list-title-chevron-wrapper'
                      data-page-id='DrawerMenuPage-{{ link.handle }}'
                      tabindex='-1'
                    >
                      {% render 'icon', icon_name: 'chevron', class: 'drawer-menu__title-chevron x-flip' %}
                    </drawer-menu-page-link>
                    <a
                      class='drawer-menu__list-title-label unstyled-link'
                      href='{{ childlink.url }}'
                      aria-label='{{ childlink.title }}'
                      tabindex='-1'
                    >
                      {{ childlink.title }}
                    </a>
                  </div>
                </div>

                <div class='drawer-menu__content' data-drawer-menu-content>
                  <div class='drawer-menu__list {% if has_mega_menu == false %} drawer-menu__list--without-mega-menu {% endif %}'>
                    <div class='drawer-menu__list-inner'>
                      <div class='drawer-menu__list-title drawer-menu__list-title--desktop'>
                        <div class='drawer-menu__list-title-body drawer-menu__list-title-body--with-link'>
                          <drawer-menu-page-link
                            class='drawer-menu__list-title-chevron-wrapper'
                            data-page-id='DrawerMenuPage-{{ link.handle }}'
                            tabindex='0'
                          >
                            {% render 'icon', icon_name: 'chevron', class: 'drawer-menu__title-chevron x-flip' %}
                          </drawer-menu-page-link>
                          <a
                            class='drawer-menu__list-title-label unstyled-link'
                            href='{{ childlink.url }}'
                            aria-label='{{ childlink.title }}'
                          >
                            {{ childlink.title }}
                          </a>
                        </div>
                      </div>
                      {%- if childlink.links.size > 0 -%}
                        <div class='drawer-menu__list-body'>
                          {%- for grandchildlink in childlink.links -%}
                            {%- comment %}<locksmith:d628>{% endcomment -%}
                              {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: grandchildlink, subject_parent: childlink, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                            {%- comment %}</locksmith:d628>{% endcomment -%}
                            <a
                              class='drawer-menu__menu-item drawer-menu__menu-item--small {% if grandchildlink.active %} active{% endif %}'
                              href='{{ grandchildlink.url }}'
                              aria-label='{{ grandchildlink.title }}'
                            >
                              <span class='drawer-menu__menu-item-label'>{{ grandchildlink.title }}</span>
                            </a>
                          {%- endfor -%}
                        </div>
                      {%- endif -%}
                    </div>
                  </div>

                  {% if has_mega_menu == true %}
                    <div
                      class='drawer-menu__mega-menu-wrapper drawer-menu__mega-menu-wrapper--hidden-on-desktop'
                    >
                      {%- liquid
                        for block in section.blocks
                          assign mega_nav_item_name_downcase = block.settings.mega_nav_item_name | downcase

                          if link_title_downcase == mega_nav_item_name_downcase
                            case block.type
                              when 'menu-1'
                                render 'header-menu-1', block: block
                              when 'menu-2'
                                render 'header-menu-2', block: block
                              when 'menu-3'
                                render 'header-menu-3', block: block
                            endcase
                          endif
                        endfor
                      -%}
                    </div>
                  {% endif %}
                </div>
              </drawer-menu-page>
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
      {%- endfor -%}

      {% unless customer %}
        <drawer-menu-page
          class='drawer-menu__page drawer-menu__page--hidden-on-desktop'
          aria-hidden='true'
          data-page-id='login-sidebar'
          data-prev-page-id='Menu'
        >
          <drawer-menu-page-link
            class='drawer-menu__list-title'
            data-page-id='Menu'
            tabindex='0'
          >
            <div class='drawer-menu__list-title-body'>
              <div class='drawer-menu__list-title-chevron-wrapper'>
                {% render 'icon', icon_name: 'chevron', class: 'drawer-menu__title-chevron x-flip' %}
              </div>
              <span class='drawer-menu__list-title-label'>
                {{ 'header.store_front.back_to_home_in_drawer_on_mobile' | t }}
              </span>
            </div>
          </drawer-menu-page-link>
          <div class='drawer-menu__content' data-drawer-menu-content>
            <div class='drawer-menu__login-form-wrap'>
              <div id='login'>
                <div class='login__content'>
                  <h5 class='login__title' tabindex='-1'>
                    {{ 'customer.login_page.store_front.title' | t }}
                  </h5>
                </div>
                {%- if recover_success == true -%}
                  <script>
                    window.addEventListener('load', () => {
                      window.bodyElement.notification.show(
                        "{{ 'customer.recover_password.store_front.success' | t }}",
                        'success',
                      )
                    })
                  </script>
                {%- endif -%}
                {%- form 'customer_login',
                  novalidate: 'novalidate',
                  class: 'login__form',
                  id: 'header_customer_login'
                -%}
                  {%- if form.errors -%}
                    {% assign error = form.errors.translated_fields.email
                      | capitalize
                      | append: ' '
                      | append: form.errors.messages.email
                    %}
                    <script>
                      window.addEventListener('load', () => {
                        window.bodyElement.notification.show('{{ error }}', 'warning')
                      })
                    </script>
                  {%- endif -%}
                  <div class='field login__field'>
                    <label class='label' for='{{ section.id }}-CustomerEmail'>
                      {{- 'customer.login_page.store_front.email_input_label' | t -}}
                    </label>
                    <input
                      class='input  input--solid input--large'
                      type='email'
                      id='{{ section.id }}-CustomerEmail'
                      name='customer[email]'
                      autocomplete='email'
                      autocorrect='off'
                      autocapitalize='off'
                      placeholder='{{ 'customer.login_page.store_front.email_input_placeholder' | t }}'
                      required
                    >
                  </div>
                  {%- if form.password_needed -%}
                    <div class='field login__field'>
                      <label class='label' for='{{ section.id }}-CustomerPassword'>
                        {{- 'customer.login_page.store_front.password_input_label' | t -}}
                      </label>
                      <div class='input-wrap'>
                        <password-field class='password-input'>
                          <input
                            class='input input--solid input--large password-input__input'
                            type='password'
                            value=''
                            id='{{ section.id }}-CustomerPassword'
                            name='customer[password]'
                            autocomplete='current-password'
                            placeholder='{{ 'customer.login_page.store_front.password_input_placeholder' | t }}'
                            data-password-field-input
                            required
                          >
                          <button class='password-input__btn unstyled-button' data-password-field-button>
                            {% render 'icon',
                              icon_name: 'password-input-opened-eye',
                              class: 'password-input__icon password-input__icon--eye'
                            %}
                            {% render 'icon',
                              icon_name: 'password-input-closed-eye',
                              class: 'password-input__icon password-input__icon--closed-eye'
                            %}
                          </button>
                        </password-field>
                      </div>

                      <drawer-menu-page-link
                        class='field__link login__field-link'
                        data-page-id='forgot-password-sidebar'
                        tabindex='0'
                      >
                        {{ 'customer.login_page.store_front.forgot_password_link' | t }}
                      </drawer-menu-page-link>
                    </div>
                  {%- endif -%}
                  <div class='login__btns'>
                    <button
                      class='btn btn--solid login__btn'
                      aria-label='{{ 'customer.login_page.screen_reader.sign_in' | t }}'
                    >
                      {{ 'customer.login_page.store_front.sign_in' | t }}
                    </button>
                    {%- if shop.checkout.guest_login -%}
                      {%- form 'guest_login' -%}
                        <button
                          class='btn btn--outline'
                          aria-label='{{ 'customer.login_page.screen_reader.guest_continue' | t }}'
                        >
                          {{ 'customer.login_page.store_front.guest_continue' | t }}
                        </button>
                      {%- endform -%}
                    {%- endif -%}
                  </div>
                  <div class='login__footer'>
                    {{ 'customer.login_page.store_front.new_customer_at_html' | t: url: routes.account_register_url }}
                  </div>
                {%- endform -%}
              </div>
            </div>
          </div>
        </drawer-menu-page>

        <drawer-menu-page
          class='drawer-menu__page drawer-menu__page--hidden-on-desktop'
          aria-hidden='true'
          data-page-id='forgot-password-sidebar'
          data-prev-page-id='login-sidebar'
        >
          <drawer-menu-page-link
            class='drawer-menu__list-title'
            data-page-id='login-sidebar'
            tabindex='0'
          >
            <div class='drawer-menu__list-title-body'>
              <div class='drawer-menu__list-title-chevron-wrapper'>
                {% render 'icon', icon_name: 'chevron', class: 'drawer-menu__title-chevron x-flip' %}
              </div>
              <span class='drawer-menu__list-title-label'>
                {{ 'header.store_front.back_to_login_in_drawer_on_mobile' | t }}
              </span>
            </div>
          </drawer-menu-page-link>

          <div class='drawer-menu__content' data-drawer-menu-content>
            <div class='drawer-menu__login-form-wrap'>
              <div>
                <div class='login__content'>
                  <h5 class='login__title' tabindex='-1'>
                    {{ 'customer.login_page.store_front.forgot_password_title' | t }}
                  </h5>
                  <div class='login__text body-font-weight-from-global-settings'>
                    {{ 'customer.login_page.store_front.forgot_password_note' | t }}
                  </div>
                </div>
                {%- form 'recover_customer_password', class: 'login__form' -%}
                  {% assign recover_success = form.posted_successfully? %}

                  <div class='field login__field'>
                    <label class='label' for='{{ section.id }}-RecoveryEmail'>
                      {{- 'customer.login_page.store_front.email_input_label' | t -}}
                    </label>
                    <input
                      class='input input--solid input--large'
                      type='email'
                      id='{{ section.id }}-RecoveryEmail'
                      value=''
                      name='email'
                      autocorrect='off'
                      autocapitalize='off'
                      autocomplete='email'
                      placeholder='{{ 'customer.login_page.store_front.email_input_placeholder' | t }}'
                      required
                    >
                  </div>

                  {%- if form.errors -%}
                    {% assign error = form.errors.translated_fields.email
                      | capitalize
                      | append: ' '
                      | append: form.errors.messages.email
                    %}
                    <script>
                      window.addEventListener('load', () => {
                        window.bodyElement.notification.show('{{ error }}', 'warning')
                      })
                    </script>
                  {%- endif -%}

                  <div class='login__btns'>
                    <button
                      class='btn btn--solid login__btn'
                      aria-label='{{ 'customer.login_page.screen_reader.submit' | t }}'
                    >
                      {{ 'customer.login_page.store_front.submit' | t }}
                    </button>
                  </div>
                {%- endform -%}
              </div>
            </div>
          </div>
        </drawer-menu-page>
      {% endunless %}
    </div>
  </template>
</drawer-menu>
