{%- capture icon -%}
  {%- case icon_name -%}
    {%- when 'notification-close' -%}
      <svg
        class='{{ class }}'
        width='20'
        height='20'
        viewBox='0 0 20 20'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <circle cx="10" cy="10" r="10" fill="black"/>
        <path d="M14.1665 5.8335L5.83317 14.1668" stroke="white" stroke-width="2"/>
        <path d="M14.1665 14.1665L5.83317 5.83317" stroke="white" stroke-width="2"/>
      </svg>
    {%- when 'size-chart' -%}
      <svg
        class='{{ class }}'
        width='22'
        height='22'
        viewBox='0 0 22 22'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path d="M5 7V10" stroke="currentColor" stroke-linecap="square" stroke-linejoin="round"/>
        <path d="M8 7V12" stroke="currentColor" stroke-linecap="square" stroke-linejoin="round"/>
        <path d="M11 7V10" stroke="currentColor" stroke-linecap="square" stroke-linejoin="round"/>
        <path d="M14 7V12" stroke="currentColor" stroke-linecap="square" stroke-linejoin="round"/>
        <path d="M17 7V10" stroke="currentColor" stroke-linecap="square" stroke-linejoin="round"/>
        <path d="M2 6H20V15H2V6Z" stroke="currentColor"/>
      </svg>
    {%- when 'alert_cancel' -%}
      <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <circle cx="12" cy="12" r="12" fill="#C33B3B"/>
        <path d="M7.75781 7.75684L16.2431 16.2421" stroke="white" stroke-width="2"/>
        <path d="M16.2441 7.75684L7.75886 16.2421" stroke="white" stroke-width="2"/>
      </svg>
    {%- when 'youtube' -%}
      <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path d="M21.5821 8.03406C21.3521 7.23341 20.6744 6.60284 19.8139 6.38885C18.2542 6 12 6 12 6C12 6 5.74586 6 4.18613 6.38885C3.32565 6.60288 2.64794 7.23341 2.41792 8.03406C2 9.48529 2 12.5131 2 12.5131C2 12.5131 2 15.541 2.41792 16.9922C2.64794 17.7929 3.32565 18.3972 4.18613 18.6112C5.74586 19 12 19 12 19C12 19 18.2541 19 19.8139 18.6112C20.6744 18.3972 21.3521 17.7929 21.5821 16.9922C22 15.541 22 12.5131 22 12.5131C22 12.5131 22 9.48529 21.5821 8.03406ZM9.95453 15.2622V9.76408L15.1818 12.5132L9.95453 15.2622Z" fill="currentColor"/>
      </svg>
    {%- when 'vimeo' -%}
      <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M19.931 7.60192C20.0505 6.92242 20.0475 6.22242 19.6345 5.69442C19.057 4.95342 17.8285 4.92592 16.9865 5.05692C16.301 5.16292 13.9855 6.20042 13.1975 8.68292C14.5935 8.57492 15.326 8.78492 15.1915 10.3449C15.1345 10.9984 14.8095 11.7134 14.4475 12.3989C14.0285 13.1889 13.243 14.7414 12.213 13.6224C11.2855 12.6154 11.355 10.6899 11.1425 9.40742C11.0245 8.68792 10.9 7.79142 10.6675 7.05142C10.4675 6.41492 10.0085 5.64742 9.4475 5.48142C8.8445 5.30142 8.099 5.58242 7.661 5.84392C6.2675 6.67592 5.206 7.85842 4 8.83392V8.92542C4.2395 9.15692 4.3025 9.53742 4.6555 9.58892C5.485 9.71292 6.276 8.80442 6.8285 9.74942C7.1635 10.3274 7.268 10.9614 7.4835 11.5839C7.7705 12.4134 7.993 13.3174 8.228 14.2714C8.6245 15.8869 9.1135 18.3024 10.4895 18.8934C11.192 19.1954 12.2475 18.7909 12.7815 18.4694C14.2295 17.5999 15.357 16.3394 16.3225 15.0574C18.53 12.0229 19.748 8.58492 19.931 7.60192Z" fill="currentColor"/>
      </svg>
    {%- when 'discord' -%}
      <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path d="M18.2378 6.16052C17.0905 5.62337 15.8602 5.22761 14.5739 5.00095C14.5505 4.99658 14.5271 5.00751 14.515 5.02937C14.3568 5.31653 14.1815 5.69115 14.0588 5.98559C12.6753 5.77424 11.2989 5.77424 9.94374 5.98559C9.82099 5.6846 9.63936 5.31653 9.48043 5.02937C9.46836 5.00824 9.44496 4.99731 9.42154 5.00095C8.13593 5.22689 6.90567 5.62264 5.7577 6.16052C5.74776 6.1649 5.73924 6.17219 5.73359 6.18166C3.40004 9.73909 2.76079 13.2091 3.07439 16.636C3.0758 16.6528 3.08503 16.6688 3.0978 16.679C4.63741 17.8328 6.12878 18.5332 7.59246 18.9974C7.61588 19.0047 7.6407 18.996 7.65561 18.9763C8.00184 18.4938 8.31048 17.9851 8.57511 17.4501C8.59072 17.4188 8.57582 17.3816 8.5439 17.3692C8.05435 17.1797 7.5882 16.9487 7.1398 16.6863C7.10433 16.6652 7.10149 16.6134 7.13412 16.5887C7.22848 16.5165 7.32286 16.4414 7.41297 16.3656C7.42927 16.3518 7.45198 16.3489 7.47115 16.3576C10.417 17.73 13.6062 17.73 16.5172 16.3576C16.5364 16.3481 16.5591 16.3511 16.5761 16.3649C16.6662 16.4407 16.7606 16.5165 16.8557 16.5887C16.8883 16.6134 16.8862 16.6652 16.8507 16.6863C16.4023 16.9538 15.9361 17.1797 15.4459 17.3685C15.414 17.3809 15.3998 17.4188 15.4154 17.4501C15.6857 17.9844 15.9943 18.4931 16.3342 18.9756C16.3484 18.996 16.3739 19.0047 16.3973 18.9974C17.8681 18.5332 19.3595 17.8328 20.8991 16.679C20.9126 16.6688 20.9211 16.6535 20.9225 16.6368C21.2978 12.6748 20.2939 9.23329 18.2612 6.18238C18.2562 6.17219 18.2477 6.1649 18.2378 6.16052ZM9.01502 14.5494C8.12812 14.5494 7.39735 13.7185 7.39735 12.6982C7.39735 11.6778 8.11395 10.8469 9.01502 10.8469C9.92315 10.8469 10.6469 11.6851 10.6327 12.6982C10.6327 13.7185 9.91606 14.5494 9.01502 14.5494ZM14.9961 14.5494C14.1092 14.5494 13.3784 13.7185 13.3784 12.6982C13.3784 11.6778 14.095 10.8469 14.9961 10.8469C15.9042 10.8469 16.6279 11.6851 16.6137 12.6982C16.6137 13.7185 15.9042 14.5494 14.9961 14.5494Z" fill="currentColor"/>
      </svg>
    {%- when 'behance' -%}
      <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path d="M7.78912 5.4035C8.32952 5.39346 8.86916 5.44887 9.39625 5.5685C9.84003 5.66539 10.2614 5.84569 10.6379 6.09981C10.9856 6.3525 11.2608 6.69223 11.4357 7.08488C11.6367 7.5677 11.7337 8.08749 11.7203 8.61033C11.7431 9.18441 11.5965 9.75252 11.2987 10.2439C10.9854 10.7079 10.5524 11.0785 10.0455 11.3164C10.7334 11.5018 11.3325 11.9266 11.7352 12.5143C12.1217 13.137 12.316 13.8599 12.2937 14.5925C12.3064 15.1766 12.1857 15.7559 11.9406 16.2863C11.714 16.7489 11.3823 17.1521 10.972 17.4635C10.5496 17.7716 10.0742 17.9995 9.5695 18.1359C9.04611 18.2807 8.50542 18.3534 7.96237 18.3521H2V5.4035H7.78912ZM7.44509 10.6407C7.86969 10.6582 8.28766 10.5311 8.63063 10.2802C8.79489 10.1339 8.92266 9.95131 9.00374 9.74689C9.08482 9.54247 9.11696 9.32192 9.09759 9.10286C9.10858 8.84701 9.05764 8.59229 8.94909 8.36035C8.85701 8.17568 8.71383 8.02133 8.53658 7.91566C8.35705 7.79935 8.15535 7.72153 7.94422 7.68714C7.71514 7.64276 7.48203 7.62257 7.24874 7.62691H4.70109V10.6522H7.44509V10.6407ZM7.59359 16.1534C7.85037 16.1569 8.10662 16.1292 8.35673 16.0709C8.58529 16.0204 8.80205 15.9266 8.99529 15.7945C9.1846 15.6625 9.33754 15.4849 9.43997 15.2781C9.55874 15.0144 9.61331 14.7263 9.5992 14.4374C9.62495 14.1741 9.59008 13.9085 9.49727 13.6608C9.40446 13.4131 9.25617 13.19 9.06377 13.0085C8.65596 12.7081 8.1562 12.5593 7.65052 12.5877H4.70109V16.1534H7.59359Z" fill="currentColor"/>
        <path d="M16.1407 16.1056C16.3527 16.3021 16.6025 16.4535 16.8748 16.5505C17.1471 16.6475 17.4362 16.6881 17.7247 16.6699C18.1821 16.6815 18.6305 16.5423 19.001 16.2739C19.3024 16.078 19.5307 15.7879 19.6503 15.4489H21.8044C21.5749 16.414 21.0144 17.2682 20.2204 17.8629C19.4587 18.3685 18.5585 18.6245 17.6447 18.5955C16.9925 18.6041 16.3453 18.4815 15.7414 18.235C15.1951 18.0072 14.7052 17.6628 14.3059 17.226C13.908 16.7683 13.6024 16.238 13.4058 15.6642C13.1851 15.023 13.0771 14.3483 13.0865 13.6702C13.0825 13.0034 13.1941 12.341 13.4165 11.7124C13.7153 10.8281 14.2865 10.0612 15.0482 9.52164C15.8099 8.98212 16.7229 8.69777 17.6563 8.70938C18.3453 8.69498 19.0268 8.85625 19.6363 9.17799C20.1873 9.48011 20.6626 9.90323 21.0264 10.4155C21.3987 10.9531 21.6655 11.5564 21.8127 12.1934C21.9741 12.8775 22.0317 13.582 21.9835 14.2832H15.5673C15.5153 14.942 15.7209 15.5953 16.1407 16.1056ZM18.9557 11.1811C18.7761 11.0015 18.5602 10.8625 18.3224 10.7734C18.0845 10.6843 17.8304 10.6472 17.5771 10.6647C17.2409 10.6518 16.9073 10.7263 16.6085 10.8808C16.3716 11.0112 16.1626 11.1867 15.993 11.3973C15.8428 11.5948 15.7309 11.8186 15.663 12.0573C15.6019 12.2563 15.5637 12.4617 15.5492 12.6694H19.5233C19.4886 12.128 19.2914 11.6095 18.9573 11.1819L18.9557 11.1811Z" fill="currentColor"/>
        <path d="M20.0166 6.26807H15.0369V7.54106H20.0166V6.26807Z" fill="currentColor"/>
      </svg>
    {%- when 'viber' -%}
      <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path d="M11.9553 1.89819C6.19814 1.89819 1.53076 6.56473 1.53076 12.3218C1.53076 18.079 6.19814 22.7463 11.9553 22.7463C17.7119 22.7463 22.3793 18.079 22.3793 12.3218C22.3793 6.56473 17.7119 1.89819 11.9553 1.89819ZM11.4672 7.40491C11.5521 7.32723 11.6117 7.31643 11.9061 7.32545C12.0595 7.33087 12.2853 7.3489 12.408 7.36334C13.0292 7.44098 13.5313 7.59088 14.082 7.8599C14.6238 8.12537 14.9704 8.37636 15.4291 8.83322C15.8589 9.26481 16.0972 9.59166 16.3501 10.0991C16.7022 10.8069 16.9026 11.6484 16.937 12.5748C16.9496 12.8907 16.9406 12.9612 16.8683 13.0514C16.7311 13.2266 16.4295 13.1978 16.3266 13.0009C16.2941 12.9359 16.2851 12.88 16.2742 12.6271C16.2562 12.2389 16.2291 11.9879 16.1749 11.6882C15.9619 10.5126 15.3984 9.57358 14.4992 8.90007C13.7498 8.33666 12.9751 8.06221 11.9603 8.00261C11.6172 7.98275 11.5576 7.9701 11.48 7.91049C11.3354 7.79674 11.3282 7.52949 11.4672 7.40491ZM13.6197 9.73072C13.2567 9.51406 12.7204 9.35332 12.2311 9.31362C12.0541 9.29914 11.9566 9.26307 11.8898 9.18539C11.7869 9.068 11.776 8.90913 11.8627 8.7773C11.9566 8.63104 12.101 8.60755 12.5326 8.67257C13.6288 8.83326 14.4775 9.34253 15.0336 10.1695C15.346 10.6354 15.5411 11.1826 15.6079 11.7694C15.6313 11.9844 15.6313 12.3762 15.6061 12.4412C15.5826 12.5026 15.5067 12.5857 15.4417 12.6199C15.3713 12.6561 15.2215 12.6525 15.1384 12.6092C14.9993 12.5387 14.9578 12.4267 14.9578 12.1234C14.9578 11.6557 14.8368 11.1627 14.6273 10.7799C14.389 10.3429 14.0423 9.98176 13.6197 9.73072ZM14.2301 12.1378C14.1235 12.2353 13.9267 12.239 13.8075 12.1469C13.7208 12.0819 13.6937 12.0132 13.6738 11.8273C13.6504 11.5799 13.607 11.4065 13.533 11.2458C13.3741 10.9045 13.0942 10.7275 12.6211 10.6698C12.399 10.6427 12.3321 10.6174 12.26 10.5325C12.1281 10.3754 12.1787 10.1208 12.3611 10.0269C12.4297 9.99255 12.4586 9.98895 12.6103 9.99801C12.7042 10.0034 12.8432 10.0196 12.9173 10.0359C13.273 10.1118 13.5457 10.2472 13.7786 10.4657C14.0784 10.7492 14.2427 11.0923 14.3149 11.5853C14.3637 11.9067 14.3438 12.0331 14.2301 12.1378ZM16.9279 16.8816C16.7942 17.2265 16.2742 17.873 15.9112 18.1492C15.5826 18.3984 15.3496 18.4941 15.0426 18.5086C14.7898 18.5212 14.6851 18.4995 14.3618 18.3659C11.8265 17.3204 9.80229 15.7603 8.19516 13.6168C7.35548 12.4972 6.71621 11.3361 6.27921 10.1317C6.02462 9.42923 6.01196 9.12405 6.22142 8.76469C6.31176 8.61301 6.69636 8.23739 6.97626 8.02792C7.44218 7.68122 7.65706 7.55299 7.8286 7.51688C7.94594 7.49161 8.14999 7.51146 8.28003 7.55841C8.34324 7.58004 8.44073 7.63059 8.49674 7.66674C8.8398 7.89428 9.79509 9.11677 10.1075 9.72713C10.2862 10.0756 10.3458 10.3338 10.2898 10.5253C10.232 10.7311 10.1363 10.8395 9.70835 11.1844C9.53682 11.3234 9.37608 11.4661 9.35085 11.504C9.28582 11.5979 9.23346 11.7821 9.23346 11.9121C9.23528 12.2137 9.43031 12.7608 9.68672 13.1816C9.88534 13.5084 10.2411 13.9273 10.5932 14.2488C11.0067 14.6281 11.3715 14.8862 11.7832 15.0903C12.3122 15.3539 12.6355 15.4207 12.8721 15.3106C12.9317 15.2835 12.9949 15.2474 13.0148 15.2311C13.0328 15.2149 13.1719 15.0452 13.3235 14.8574C13.6161 14.4889 13.6829 14.4294 13.8833 14.3608C14.1379 14.2741 14.398 14.2976 14.6598 14.4312C14.8584 14.5342 15.2918 14.8032 15.5717 14.9982C15.9401 15.2565 16.7274 15.8994 16.834 16.0275C17.0218 16.2586 17.0543 16.5547 16.9279 16.8816Z" fill="currentColor"/>
      </svg>
    {%- when 'dribbble' -%}
      <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 3C7.03146 3 3 7.03146 3 12C3 16.9685 7.03146 21 12 21C16.9588 21 21 16.9685 21 12C21 7.03146 16.9588 3 12 3ZM17.9447 7.14859C19.0184 8.45661 19.6627 10.1258 19.6822 11.9317C19.4284 11.8829 16.8905 11.3655 14.333 11.6876C14.2744 11.5607 14.2256 11.4241 14.167 11.2874C14.0109 10.9165 13.8351 10.5358 13.6594 10.1746C16.4902 9.02278 17.7787 7.36334 17.9447 7.14859ZM12 4.32755C13.9523 4.32755 15.7386 5.05965 17.0954 6.2603C16.9588 6.45553 15.7972 8.0076 13.064 9.03254C11.8048 6.71909 10.4089 4.82538 10.1941 4.53254C10.7701 4.39588 11.3753 4.32755 12 4.32755ZM8.72994 5.04989C8.93492 5.32321 10.3015 7.22669 11.5803 9.49132C7.98807 10.4479 4.81562 10.4284 4.47397 10.4284C4.97179 8.04664 6.58243 6.06508 8.72994 5.04989ZM4.30803 12.0098C4.30803 11.9317 4.30803 11.8536 4.30803 11.7755C4.63991 11.7852 8.36877 11.8341 12.205 10.6822C12.4295 11.1117 12.6345 11.551 12.8297 11.9902C12.7321 12.0195 12.6247 12.0488 12.5271 12.0781C8.564 13.3568 6.45553 16.8514 6.27983 17.1443C5.05965 15.7874 4.30803 13.9816 4.30803 12.0098ZM12 19.692C10.2234 19.692 8.58351 19.0868 7.28524 18.0716C7.42192 17.7885 8.98374 14.782 13.3178 13.269C13.3373 13.2592 13.3471 13.2592 13.3666 13.2495C14.4501 16.051 14.8894 18.4035 15.0065 19.077C14.0792 19.4772 13.064 19.692 12 19.692ZM16.2853 18.3742C16.2072 17.9056 15.7972 15.6605 14.7918 12.8981C17.2028 12.5174 19.3113 13.1421 19.5748 13.2299C19.2429 15.3677 18.013 17.2126 16.2853 18.3742Z" fill="currentColor"/>
      </svg>
    {%- when 'twitch' -%}
      <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path d="M6.9999 2L3.42847 5.57143V18.4286H7.71418V22L11.2856 18.4286H14.1428L20.5713 12V2H6.9999ZM19.1428 11.2857L16.2856 14.1429H13.4285L10.9285 16.6429V14.1429H7.71418V3.42857H19.1428V11.2857Z" fill="currentColor"/>
        <path d="M16.9999 5.92857H15.5713V10.2143H16.9999V5.92857Z" fill="currentColor"/>
        <path d="M13.0713 5.92857H11.6428V10.2143H13.0713V5.92857Z" fill="currentColor"/>
      </svg>
    {%- when 'whatsapp' -%}
      <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path d="M12.0377 3.29028C7.09761 3.29028 3.07723 7.16261 3.07548 11.9216C3.07432 13.4434 3.48774 14.9287 4.27161 16.2369L3 20.7096L7.75142 19.5094C9.07309 20.2008 10.5427 20.5614 12.0343 20.5604H12.0377C16.9779 20.5604 20.9983 16.6875 21 11.9285C21.0012 9.62338 20.0698 7.45351 18.3772 5.82248C16.6852 4.19086 14.4352 3.29086 12.0377 3.29028ZM12.0377 19.1024H12.0348C10.6982 19.1024 9.3871 18.7563 8.24323 18.1025L7.97032 17.9469L5.15187 18.6588L5.90439 16.0111L5.72729 15.7399C4.98343 14.6054 4.58745 13.2782 4.58806 11.9216C4.58981 7.96564 7.932 4.74828 12.0406 4.74828C14.0299 4.74886 15.9002 5.49615 17.3071 6.85196C18.714 8.20777 19.488 10.0107 19.4868 11.928C19.4851 15.8839 16.1435 19.1024 12.0372 19.1024H12.0377ZM16.1237 13.7285C15.8996 13.6211 14.7987 13.0991 14.5932 13.0265C14.3882 12.9551 14.239 12.918 14.0897 13.134C13.9411 13.35 13.5114 13.836 13.3814 13.9794C13.2501 14.1234 13.1195 14.1408 12.8954 14.0334C12.6712 13.9254 11.9495 13.6978 11.0948 12.9627C10.4288 12.3913 9.97935 11.6853 9.84871 11.4687C9.71806 11.2533 9.83477 11.1365 9.94684 11.0291C10.0473 10.9333 10.171 10.7777 10.2825 10.6517C10.3939 10.5257 10.4311 10.4357 10.5066 10.2917C10.5809 10.1483 10.5437 10.0217 10.4874 9.91428C10.4311 9.8057 9.984 8.74428 9.79645 8.31286C9.61529 7.89248 9.43064 7.9488 9.29303 7.94183C9.16239 7.93603 9.01374 7.93428 8.86335 7.93428C8.71529 7.93428 8.472 7.98828 8.26645 8.20428C8.06148 8.42028 7.48258 8.9417 7.48258 10.0031C7.48258 11.0651 8.28503 12.0905 8.3971 12.2345C8.50916 12.378 9.97645 14.5571 12.223 15.492C12.7572 15.7132 13.1741 15.8462 13.4998 15.946C14.0363 16.1103 14.5246 16.0865 14.9102 16.0314C15.3399 15.9693 16.2352 15.51 16.421 15.0065C16.608 14.5031 16.608 14.0711 16.5523 13.9811C16.4977 13.8911 16.3479 13.8371 16.1237 13.7285Z" fill="currentColor"/>
      </svg>
    {%- when 'spinner' -%}
      <svg class='{{ class }}' width='65px' height='65px' viewBox='0 0 66 66' xmlns='http://www.w3.org/2000/svg'>
        <circle stroke="currentColor" fill="none" stroke-width="{{ stroke_width | default: 3 }}" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
      </svg>
    {%- when 'twitter' -%}
      <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path d="M19.1498 8.51837C19.1612 8.67277 19.1612 8.82721 19.1612 8.98162C19.1612 13.6912 15.4493 19.1176 8.66499 19.1176C6.57488 19.1176 4.63326 18.5331 3 17.5184C3.29697 17.5515 3.58247 17.5625 3.89086 17.5625C5.61546 17.5625 7.20305 17 8.47083 16.0405C6.84899 16.0074 5.48985 14.9816 5.02156 13.5699C5.25001 13.6029 5.47842 13.625 5.71829 13.625C6.0495 13.625 6.38074 13.5809 6.6891 13.5037C4.99875 13.1728 3.73094 11.739 3.73094 10.0073V9.96325C4.22204 10.228 4.79315 10.3934 5.39844 10.4154C4.40478 9.77571 3.75379 8.68381 3.75379 7.4485C3.75379 6.78675 3.9365 6.18013 4.25631 5.65072C6.07232 7.81248 8.80203 9.22422 11.8629 9.37866C11.8058 9.11395 11.7716 8.83825 11.7716 8.5625C11.7716 6.59925 13.4162 5 15.4607 5C16.5228 5 17.4822 5.43015 18.1561 6.125C18.9898 5.9706 19.7893 5.67279 20.4975 5.26471C20.2233 6.09193 19.6409 6.78679 18.8756 7.22793C19.618 7.15076 20.3376 6.95219 21 6.67648C20.4975 7.38234 19.8693 8.01099 19.1498 8.51837Z" fill="currentColor"/>
      </svg>
    {%- when 'tumblr' -%}
      <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path d="M13.3864 20C10.9804 20 9.18703 18.7621 9.18703 15.8004V11.0572H7V8.48894C9.40694 7.86406 10.4131 5.79331 10.5296 4H13.0279V8.07231H15.9429V11.0572H13.0279V15.1874C13.0279 16.4254 13.6525 16.8532 14.6476 16.8532H16.0594V20H13.3864Z" fill="currentColor"/>
      </svg>
    {%- when 'tiktok' -%}
      <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path d="M19 10.5613C17.6238 10.5646 16.2814 10.1355 15.1623 9.33448V14.9209C15.1619 15.9556 14.8457 16.9654 14.2558 17.8155C13.666 18.6656 12.8307 19.3154 11.8616 19.6779C10.8924 20.0404 9.83575 20.0985 8.83276 19.8443C7.82977 19.59 6.9283 19.0357 6.24889 18.2553C5.56947 17.475 5.14449 16.5058 5.03078 15.4774C4.91707 14.449 5.12004 13.4104 5.61256 12.5005C6.10508 11.5905 6.86367 10.8527 7.78689 10.3855C8.71011 9.91831 9.75396 9.74411 10.7789 9.88618V12.696C10.3099 12.5484 9.80625 12.5529 9.33993 12.7086C8.87361 12.8644 8.46843 13.1635 8.18227 13.5633C7.8961 13.9631 7.74357 14.4431 7.74647 14.9347C7.74936 15.4263 7.90753 15.9044 8.19839 16.3008C8.48925 16.6972 8.89792 16.9915 9.36604 17.1418C9.83417 17.2921 10.3378 17.2906 10.805 17.1375C11.2723 16.9845 11.6792 16.6878 11.9677 16.2897C12.2562 15.8916 12.4115 15.4125 12.4115 14.9209V4H15.1623C15.1604 4.23229 15.1799 4.46426 15.2205 4.69299C15.3161 5.20358 15.5148 5.68931 15.8046 6.12045C16.0943 6.5516 16.469 6.91911 16.9056 7.2005C17.5269 7.61126 18.2552 7.83019 19 7.83003V10.5613Z" fill="currentColor"/>
      </svg>
    {%- when 'tick' -%}
      <svg
        class='{{ class }}'
        aria-hidden='true'
        focusable='false'
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 20 20'
      >
        <path fill="#108043" stroke="#fff" d="M16.136 6.979h0l.003-.004a1.499 1.499 0 00-2.275-1.954l-5.945 6.777-1.858-1.859A1.499 1.499 0 103.94 12.06l2.999 3s0 0 0 0c.289.29.675.44 1.1.439h.019a1.5 1.5 0 001.08-.522l6.998-7.998z"/>
      </svg>
    {%- when 'success' -%}
      <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <circle cx="12" cy="12" r="10" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.29325 16.7066L6.29325 13.7066C5.90225 13.3156 5.90225 12.6836 6.29325 12.2926C6.68425 11.9016 7.31625 11.9016 7.70725 12.2926L9.94325 14.5286L16.2413 7.34959C16.6012 6.92959 17.2323 6.88159 17.6503 7.24059C18.0703 7.60059 18.1192 8.23059 17.7592 8.64959L10.7593 16.6496C10.5782 16.8616 10.3162 16.9876 10.0382 16.9986C9.73525 16.9996 9.48025 16.8946 9.29325 16.7066Z" fill="#2BD479"/>
      </svg>
    {%- when 'telegram' -%}
      <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM12.0785 9.00302C11.1058 9.40757 9.16192 10.2449 6.24671 11.515C5.77333 11.7033 5.52535 11.8874 5.50278 12.0675C5.46463 12.3718 5.84573 12.4917 6.3647 12.6548C6.43529 12.677 6.50843 12.7 6.58342 12.7244C7.094 12.8904 7.78083 13.0846 8.13788 13.0923C8.46176 13.0993 8.82324 12.9657 9.22234 12.6917C11.9461 10.8531 13.3521 9.92375 13.4404 9.90372C13.5027 9.88958 13.589 9.87181 13.6474 9.92378C13.7059 9.97575 13.7002 10.0742 13.694 10.1006C13.6562 10.2615 12.1602 11.6523 11.3861 12.3721C11.1447 12.5964 10.9735 12.7556 10.9385 12.7919C10.8601 12.8734 10.7802 12.9504 10.7035 13.0244C10.4622 13.2569 10.2121 13.4987 10.0245 13.6801C9.82981 13.8684 9.72016 14.1274 9.72016 14.3982C9.72016 14.7961 9.72016 15.4025 9.72016 15.8964C9.72016 16.1636 10.0425 16.2967 10.2303 16.1065C10.6963 15.6344 11.1914 15.1284 11.479 14.8408C11.8351 15.0832 12.4954 15.5825 12.9548 15.8836C13.0719 15.9604 13.1837 16.0401 13.2925 16.1177C13.7069 16.4131 14.0791 16.6784 14.539 16.6361C14.8062 16.6115 15.0822 16.3603 15.2224 15.6109C15.5536 13.8399 16.2048 10.0026 16.3553 8.42139C16.3685 8.28285 16.3519 8.10555 16.3386 8.02772C16.3253 7.94989 16.2974 7.839 16.1963 7.75691C16.0765 7.65969 15.8915 7.63919 15.8088 7.64064C15.4327 7.64727 14.8556 7.84792 12.0785 9.00302Z" fill="currentColor"/>
      </svg>
    {%- when 'stock' -%}
      <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path class="icon-stock__outer-hexagon" d="M10.5 1.86603C11.4282 1.33013 12.5718 1.33013 13.5 1.86603L20.0263 5.63397C20.9545 6.16987 21.5263 7.16025 21.5263 8.23205V15.7679C21.5263 16.8397 20.9545 17.8301 20.0263 18.366L13.5 22.134C12.5718 22.6699 11.4282 22.6699 10.5 22.134L3.97372 18.366C3.04552 17.8301 2.47372 16.8397 2.47372 15.7679V8.23205C2.47372 7.16025 3.04552 6.16987 3.97372 5.63397L10.5 1.86603Z" fill="#C33B3B"/>
        <path class="icon-stock__border" d="M10.5 1.86603C11.4282 1.33013 12.5718 1.33013 13.5 1.86603L20.0263 5.63397C20.9545 6.16987 21.5263 7.16025 21.5263 8.23205V15.7679C21.5263 16.8397 20.9545 17.8301 20.0263 18.366L13.5 22.134C12.5718 22.6699 11.4282 22.6699 10.5 22.134L3.97372 18.366C3.04552 17.8301 2.47372 16.8397 2.47372 15.7679V8.23205C2.47372 7.16025 3.04552 6.16987 3.97372 5.63397L10.5 1.86603Z" fill="currentColor"/>
        <path class="icon-stock__inner-hexagon" d="M15.5801 8.48964L13.25 7.14434C12.4765 6.69776 11.5235 6.69776 10.75 7.14434L8.41987 8.48964C7.64637 8.93622 7.16987 9.76154 7.16987 10.6547V13.3453C7.16987 14.2385 7.64637 15.0638 8.41987 15.5104L10.75 16.8557C11.5235 17.3022 12.4765 17.3022 13.25 16.8557L15.5801 15.5104C16.3536 15.0638 16.8301 14.2385 16.8301 13.3453V10.6547C16.8301 9.76154 16.3536 8.93622 15.5801 8.48964Z" fill="#C33B3B" stroke="white"/>
      </svg>
    {%- when 'sort' -%}
      <svg class='icon-sort {{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path class="icon-sort__left-arrow" fill-rule="evenodd" clip-rule="evenodd" d="M21.7072 9.29304L17.0001 4.58594L12.293 9.29304L13.7072 10.7073L16 8.41444V19H18V8.41429L20.293 10.7073L21.7072 9.29304Z" fill="currentColor"/>
        <path class="icon-sort__right-arrow" fill-rule="evenodd" clip-rule="evenodd" d="M6 15.5856V5H8V15.5857L10.293 13.2927L11.7072 14.707L7.00008 19.4141L2.29297 14.707L3.70718 13.2927L6 15.5856Z" fill="currentColor"/>
      </svg>
    {%- when 'snapchat' -%}
      <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path d="M12.1137 20C12.0673 20 12.0217 19.9987 11.9761 19.9967H11.976C11.9469 19.9988 11.9166 20 11.8862 20C10.8198 20 10.1354 19.5418 9.47353 19.0987C9.01653 18.7929 8.58531 18.5042 8.07716 18.424C7.8292 18.3852 7.58241 18.3654 7.34391 18.3654C6.91425 18.3654 6.57527 18.4282 6.32783 18.474C6.17745 18.5019 6.04771 18.5259 5.94913 18.5259C5.84612 18.5259 5.73449 18.5048 5.686 18.3478C5.64384 18.2118 5.61334 18.0802 5.584 17.9527C5.50842 17.6248 5.45474 17.4232 5.30965 17.4021C3.61834 17.1547 3.13428 16.8173 3.02635 16.578C3.01106 16.5437 3.00237 16.5094 3.0003 16.4755C2.99484 16.3835 3.06361 16.3023 3.15956 16.2875C5.75948 15.882 6.92537 13.3656 6.97375 13.2587C6.97506 13.2558 6.97651 13.2529 6.97792 13.25C7.13706 12.9446 7.16821 12.6795 7.07086 12.4622C6.89244 12.064 6.31055 11.889 5.92533 11.7733C5.83109 11.745 5.74174 11.7183 5.67126 11.692C4.90262 11.4042 4.83866 11.1088 4.86887 10.9583C4.92037 10.7017 5.28237 10.523 5.57513 10.523C5.65543 10.523 5.72609 10.5365 5.78553 10.5627C6.13131 10.7161 6.4429 10.7939 6.71178 10.7939C7.08331 10.7939 7.24547 10.646 7.26531 10.6266C7.25586 10.46 7.24416 10.2859 7.23221 10.1064C7.15477 8.94232 7.05883 7.49591 7.44771 6.67029C8.61323 4.19544 11.0848 4.00319 11.8146 4.00319C11.8333 4.00319 12.1345 4.00017 12.1345 4.00017L12.1777 4C12.9091 4 15.3861 4.19263 16.5523 6.66881C16.9413 7.49488 16.8451 8.94252 16.7675 10.1057L16.7643 10.1562C16.7535 10.3182 16.7431 10.4756 16.7344 10.6264C16.753 10.6443 16.9022 10.7803 17.239 10.7925H17.2394C17.4953 10.7832 17.7895 10.706 18.1123 10.5628C18.207 10.521 18.312 10.5121 18.3836 10.5121C18.4928 10.5121 18.6036 10.5321 18.6955 10.5685L18.7011 10.5707C18.9623 10.6583 19.1333 10.8316 19.137 11.0127C19.1404 11.1833 19.0029 11.4397 18.3285 11.692C18.2586 11.718 18.1692 11.7449 18.0746 11.7733C17.689 11.8892 17.1073 12.064 16.929 12.4621C16.8316 12.6793 16.8628 12.9442 17.0218 13.2498C17.0233 13.2527 17.0249 13.2556 17.0261 13.2587C17.0745 13.3655 18.2393 15.8812 20.8404 16.2871C20.9364 16.3021 21.005 16.3833 20.9997 16.4753C20.9975 16.5098 20.9887 16.5446 20.9731 16.5783C20.8658 16.816 20.3821 17.1529 18.6903 17.4005C18.5521 17.4206 18.4985 17.5911 18.416 17.9488C18.3861 18.079 18.3557 18.2068 18.3139 18.3413C18.2778 18.458 18.2011 18.5126 18.0719 18.5126H18.0509C17.9612 18.5126 17.8338 18.4974 17.6723 18.4674C17.3858 18.4143 17.0647 18.3654 16.6561 18.3654C16.4175 18.3654 16.1706 18.3852 15.9225 18.424C15.4149 18.5042 14.984 18.7923 14.5278 19.0977C13.8647 19.5418 13.1803 20 12.1137 20Z" fill="currentColor"/>
      </svg>
    {%- when 'share' -%}
      <svg fill='none' height='24' viewbox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'>
        <path d="M11 5H6C4.34315 5 3 6.34315 3 8V18C3 19.6569 4.34315 21 6 21H16C17.6569 21 19 19.6569 19 18V13" stroke-width="1.5" stroke="currentColor"/>
        <path d="M13 3H21M21 3V11M21 3L9 15" stroke-width="1.5" stroke="currentColor"/>
      </svg>
    {%- when 'search' -%}
      {%- if icon_style == 'solid' -%}
        <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
          <circle cx="10" cy="9.99997" r="8" fill="currentColor"/>
          <path d="M15.0078 14.9998L20.5227 20.5148" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      {%- else -%}
        <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
          <circle cx="10.5012" cy="10.5011" r="7.75006" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M16.209 16.2009L21.0081 21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      {%- endif -%}
    {%- when 'main-search' -%}
      <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <circle cx="10.5012" cy="10.5011" r="7.75006" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M16.209 16.2009L21.0081 21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    {%- when 'plus' -%}
      <svg class="{{ class }}" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7 12H17" stroke="currentColor" stroke-width="2"/>
        <path d="M12 7L12 17" stroke="currentColor" stroke-width="2"/>
      </svg>
    {%- when 'play' -%}
      {%- if icon_style == 'solid' -%}
        <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
          <path d="M6 8.29672C6 6.55931 7.80303 5.4528 9.28703 6.27947L16.8325 10.4827C18.3892 11.3499 18.3892 13.6501 16.8325 14.5173L9.28703 18.7205C7.80303 19.5472 6 18.4407 6 16.7033V8.29672Z" fill="currentColor"/>
        </svg>
      {%- else -%}
        <svg
          class='{{ class }}'
          width='24'
          height='24'
          viewBox='0 0 24 24'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path d="M7 15.5179V8.48207C7 6.93849 8.67443 5.97675 10.0077 6.75451L16.0385 10.2724C17.3615 11.0442 17.3615 12.9558 16.0385 13.7276L10.0077 17.2455C8.67443 18.0232 7 17.0615 7 15.5179Z" stroke="currentColor" stroke-width="2"/>
        </svg>
      {%- endif -%}
    {% when 'play-without-round' %}
      <svg class="{{ class }}" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M7 18.1295V5.87052C7 5.48462 7.41861 5.24419 7.75193 5.43863L18.2596 11.5681C18.5904 11.761 18.5904 12.2389 18.2596 12.4319L7.75194 18.5614C7.41861 18.7558 7 18.5154 7 18.1295Z" fill="currentColor" />
      </svg>
    {% when 'pause' %}
      <svg
        class='{{ class }}'
        width='24'
        height='24'
        viewBox='0 0 24 24'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path d="M9 6L9 18" stroke="currentColor" stroke-width="2"/>
        <path d="M15 6L15 18" stroke="currentColor" stroke-width="2"/>
      </svg>
    {%- when 'pinterest' -%}
      <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path d="M21 12C21 16.9718 16.9718 21 12 21C11.071 21 10.1782 20.8585 9.33629 20.5972C9.70282 19.9984 10.2508 19.0185 10.454 18.2383C10.5629 17.8173 11.0129 16.0972 11.0129 16.0972C11.3069 16.656 12.1633 17.1315 13.0742 17.1315C15.7887 17.1315 17.7448 14.6347 17.7448 11.5319C17.7448 8.55968 15.3169 6.33508 12.196 6.33508C8.3129 6.33508 6.24798 8.94073 6.24798 11.7823C6.24798 13.1032 6.95202 14.7472 8.07339 15.2698C8.24395 15.3496 8.33468 15.3133 8.3746 15.15C8.40363 15.0266 8.55605 14.4133 8.625 14.1302C8.64677 14.0395 8.63589 13.9597 8.56331 13.8726C8.19677 13.419 7.89919 12.5915 7.89919 11.8185C7.89919 9.83347 9.40161 7.91371 11.9637 7.91371C14.1738 7.91371 15.7234 9.41976 15.7234 11.5754C15.7234 14.0105 14.4931 15.698 12.8927 15.698C12.0109 15.698 11.3468 14.9685 11.5609 14.0722C11.8149 13.0016 12.3048 11.8476 12.3048 11.0746C12.3048 10.3851 11.9347 9.80806 11.1653 9.80806C10.2617 9.80806 9.53589 10.7407 9.53589 11.9927C9.53589 12.7911 9.80444 13.3282 9.80444 13.3282C9.80444 13.3282 8.91532 17.0952 8.75202 17.7992C8.57056 18.5758 8.64315 19.6718 8.71936 20.3831C5.37339 19.073 3 15.8141 3 12C3 7.02823 7.02823 3 12 3C16.9718 3 21 7.02823 21 12Z" fill="currentColor"/>
      </svg>
    {%- when 'people' -%}
      {%- if icon_style == 'solid' -%}
        <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
          <circle cx="12" cy="7" r="5" fill="currentColor"/>
          <path d="M2.87452 18.0646C3.53213 15.1054 6.1568 13 9.18819 13H14.8118C17.8432 13 20.4679 15.1054 21.1255 18.0646C21.5743 20.0842 20.0375 22 17.9686 22H6.03136C3.96251 22 2.42573 20.0842 2.87452 18.0646Z" fill="currentColor"/>
        </svg>
      {%- else -%}
        <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
          <circle cx="12" cy="7" r="4.5"  stroke-width="1.5" stroke="currentColor"/>
          <path stroke-width="1.5" d="M3.36262 18.1731C3.96938 15.4427 6.39115 13.5 9.18819 13.5H14.8118C17.6089 13.5 20.0306 15.4427 20.6374 18.1731C21.0168 19.8804 19.7176 21.5 17.9686 21.5H6.03136C4.28239 21.5 2.98321 19.8804 3.36262 18.1731Z" stroke="currentColor"/>
        </svg>
      {%- endif -%}
    {%- when 'padlock' -%}
      <svg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <rect x="4.75" y="8.75" width="14.5" height="12.5" rx="3.25" stroke="currentColor" stroke-width="1.5"/>
        <path d="M16 9V7C16 4.79086 14.2091 3 12 3V3C9.79086 3 8 4.79086 8 7V9" stroke="currentColor" stroke-width="1.5"/>
        <path d="M14 14C14 15.1046 13.1046 16 12 16C10.8954 16 10 15.1046 10 14C10 12.8954 10.8954 12 12 12C13.1046 12 14 12.8954 14 14Z" fill="currentColor"/>
        <path d="M11 14H13V18C13 18.5523 12.5523 19 12 19C11.4477 19 11 18.5523 11 18V14Z" fill="currentColor"/>
      </svg>
    {%- when 'minus' -%}
      {%- assign stroke_width = stroke_width | default: 2 -%}

      <svg class='{{ class }}' fill='none' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'>
        <path d="M7 12H17" stroke-width="{{ stroke_width }}" stroke="currentColor"/>
      </svg>
    {%- when 'long-minus' -%}
      <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path d="M5 12H19" stroke="currentColor" stroke-width="2"/>
      </svg>
    {%- when 'instagram' -%}
      {%- if type == 'solid' -%}
        <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
          <circle cx="12" cy="12" r="3.375" fill="currentColor"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M3 7C3 4.79086 4.79086 3 7 3H17C19.2091 3 21 4.79086 21 7V17C21 19.2091 19.2091 21 17 21H7C4.79086 21 3 19.2091 3 17V7ZM17.625 12C17.625 15.1066 15.1066 17.625 12 17.625C8.8934 17.625 6.375 15.1066 6.375 12C6.375 8.8934 8.8934 6.375 12 6.375C15.1066 6.375 17.625 8.8934 17.625 12ZM18.0063 7.09526C18.4723 7.09526 18.8501 6.7175 18.8501 6.25151C18.8501 5.78552 18.4723 5.40776 18.0063 5.40776C17.5403 5.40776 17.1626 5.78552 17.1626 6.25151C17.1626 6.7175 17.5403 7.09526 18.0063 7.09526Z" fill="currentColor"/>
        </svg>
      {%- else -%}
        <svg class='{{ class }}' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'>
          <path d="M20 3.60156C25.3438 3.60156 25.9766 3.625 28.0781 3.71875C30.0313 3.80469 31.0859 4.13281 31.7891 4.40625C32.7188 4.76563 33.3906 5.20313 34.0859 5.89844C34.7891 6.60156 35.2188 7.26563 35.5781 8.19531C35.8516 8.89844 36.1797 9.96094 36.2656 11.9062C36.3594 14.0156 36.3828 14.6484 36.3828 19.9844C36.3828 25.3281 36.3594 25.9609 36.2656 28.0625C36.1797 30.0156 35.8516 31.0703 35.5781 31.7734C35.2188 32.7031 34.7813 33.375 34.0859 34.0703C33.3828 34.7734 32.7188 35.2031 31.7891 35.5625C31.0859 35.8359 30.0234 36.1641 28.0781 36.25C25.9688 36.3438 25.3359 36.3672 20 36.3672C14.6563 36.3672 14.0234 36.3438 11.9219 36.25C9.96875 36.1641 8.91406 35.8359 8.21094 35.5625C7.28125 35.2031 6.60938 34.7656 5.91406 34.0703C5.21094 33.3672 4.78125 32.7031 4.42188 31.7734C4.14844 31.0703 3.82031 30.0078 3.73438 28.0625C3.64063 25.9531 3.61719 25.3203 3.61719 19.9844C3.61719 14.6406 3.64063 14.0078 3.73438 11.9062C3.82031 9.95312 4.14844 8.89844 4.42188 8.19531C4.78125 7.26563 5.21875 6.59375 5.91406 5.89844C6.61719 5.19531 7.28125 4.76563 8.21094 4.40625C8.91406 4.13281 9.97656 3.80469 11.9219 3.71875C14.0234 3.625 14.6563 3.60156 20 3.60156ZM20 0C14.5703 0 13.8906 0.0234375 11.7578 0.117188C9.63281 0.210938 8.17188 0.554687 6.90625 1.04688C5.58594 1.5625 4.46875 2.24219 3.35938 3.35938C2.24219 4.46875 1.5625 5.58594 1.04688 6.89844C0.554688 8.17188 0.210938 9.625 0.117188 11.75C0.0234375 13.8906 0 14.5703 0 20C0 25.4297 0.0234375 26.1094 0.117188 28.2422C0.210938 30.3672 0.554688 31.8281 1.04688 33.0938C1.5625 34.4141 2.24219 35.5312 3.35938 36.6406C4.46875 37.75 5.58594 38.4375 6.89844 38.9453C8.17188 39.4375 9.625 39.7812 11.75 39.875C13.8828 39.9688 14.5625 39.9922 19.9922 39.9922C25.4219 39.9922 26.1016 39.9688 28.2344 39.875C30.3594 39.7812 31.8203 39.4375 33.0859 38.9453C34.3984 38.4375 35.5156 37.75 36.625 36.6406C37.7344 35.5312 38.4219 34.4141 38.9297 33.1016C39.4219 31.8281 39.7656 30.375 39.8594 28.25C39.9531 26.1172 39.9766 25.4375 39.9766 20.0078C39.9766 14.5781 39.9531 13.8984 39.8594 11.7656C39.7656 9.64063 39.4219 8.17969 38.9297 6.91406C38.4375 5.58594 37.7578 4.46875 36.6406 3.35938C35.5313 2.25 34.4141 1.5625 33.1016 1.05469C31.8281 0.5625 30.375 0.21875 28.25 0.125C26.1094 0.0234375 25.4297 0 20 0Z" fill="currentColor"/>
          <path d="M20 9.72656C14.3281 9.72656 9.72656 14.3281 9.72656 20C9.72656 25.6719 14.3281 30.2734 20 30.2734C25.6719 30.2734 30.2734 25.6719 30.2734 20C30.2734 14.3281 25.6719 9.72656 20 9.72656ZM20 26.6641C16.3203 26.6641 13.3359 23.6797 13.3359 20C13.3359 16.3203 16.3203 13.3359 20 13.3359C23.6797 13.3359 26.6641 16.3203 26.6641 20C26.6641 23.6797 23.6797 26.6641 20 26.6641Z" fill="currentColor"/>
          <path d="M33.0781 9.32034C33.0781 10.6485 32 11.7188 30.6797 11.7188C29.3516 11.7188 28.2812 10.6407 28.2812 9.32034C28.2812 7.99221 29.3594 6.9219 30.6797 6.9219C32 6.9219 33.0781 8.00003 33.0781 9.32034Z" fill="currentColor"/>
        </svg>
      {%- endif -%}
    {%- when 'trash' -%}
      <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path d="M5 7H19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
        <path d="M5 11L6.43534 18.3817C6.61807 19.3215 7.44118 20 8.39857 20H15.6014C16.5588 20 17.3819 19.3215 17.5647 18.3817L19 11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
        <path d="M7 7H7.55848C8.41934 7 9.18362 6.44914 9.45585 5.63246L9.77208 4.68377C9.90819 4.27543 10.2903 4 10.7208 4H13.2792C13.7097 4 14.0918 4.27543 14.2279 4.68377L14.5442 5.63246C14.8164 6.44914 15.5807 7 16.4415 7H17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
        <path d="M10.0405 11L14 15M14 11L10 15" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
      </svg>
    {%- when 'filter-toggle' -%}
      <svg class='icon-filter' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <rect class="icon-filter__top-line" x="3" y="9" width="2" height="18" transform="rotate(-90 3 9)" fill="currentColor"/>
        <rect class="icon-filter__bottom-line" width="2" height="18" transform="matrix(3.82475e-08 -1 -1 -4.85682e-08 21 17)" fill="currentColor"/>
        <rect class="icon-filter__square" x="6" y="11" width="6" height="3" transform="rotate(-90 6 11)" fill="currentColor"/>
        <rect class="icon-filter__square" width="6" height="3" transform="matrix(3.82475e-08 -1 -1 -4.85682e-08 18 19)" fill="currentColor"/>
      </svg>
    {%- when 'facebook' -%}
      <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path d="M18.4665 3H5.5335C4.86158 3 4.21717 3.26692 3.74205 3.74204C3.26692 4.21717 3 4.86157 3 5.5335V18.4665C3 19.1385 3.26692 19.7829 3.74205 20.2579C4.21717 20.733 4.86158 21 5.5335 21H11.4195V14.43H9.19426V11.8673H11.4195V9.97951C11.4195 8.90963 11.7154 8.07826 12.3071 7.48763C12.8989 6.89588 13.701 6.59888 14.7146 6.59888C15.7294 6.59888 16.3864 6.63825 16.6867 6.7125V8.99401H15.3345C14.8462 8.99401 14.5132 9.09751 14.3344 9.30451C14.1566 9.51038 14.0677 9.82088 14.0677 10.2338V11.8673H16.6024L16.2649 14.43H14.0677V21H18.4665C19.1385 21 19.7829 20.733 20.258 20.2579C20.7332 19.7829 21 19.1385 21 18.4665V5.5335C21 4.86157 20.7332 4.21717 20.258 3.74204C19.7829 3.26692 19.1385 3 18.4665 3Z" fill="currentColor"/>
      </svg>
    {%- when 'password-input-opened-eye' -%}
      <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1 12C1 12 4 20 12 20C20 20 23 12 23 12C23 12 20 4 12 4C4 4 1 12 1 12ZM10 12C10 10.8954 10.8954 10 12 10C13.1046 10 14 10.8954 14 12C14 13.1046 13.1046 14 12 14C10.8954 14 10 13.1046 10 12ZM12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8Z" fill="currentColor" />
      </svg>
    {%- when 'password-input-closed-eye' -%}
      <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.934 6.48021L20.7071 4.70711C21.0976 4.31658 21.0976 3.68342 20.7071 3.29289C20.3166 2.90237 19.6834 2.90237 19.2929 3.29289L3.29289 19.2929C2.90237 19.6834 2.90237 20.3166 3.29289 20.7071C3.68342 21.0976 4.31658 21.0976 4.70711 20.7071L6.74949 18.6647C8.18658 19.4619 9.92512 20 12 20C20 20 23 12 23 12C23 12 21.811 8.82935 18.934 6.48021ZM15.4462 9.96803L13.9323 11.482C13.9764 11.6472 14 11.8208 14 12C14 13.1046 13.1046 14 12 14C11.8208 14 11.6472 13.9764 11.482 13.9323L9.96803 15.4462C10.5635 15.7981 11.2582 16 12 16C14.2091 16 16 14.2091 16 12C16 11.2582 15.7981 10.5635 15.4462 9.96803ZM12 4C13.5231 4 14.8649 4.28997 16.0393 4.7595L12.732 8.06683C12.4947 8.02294 12.25 8 12 8C9.79086 8 8 9.79086 8 12C8 12.25 8.02294 12.4947 8.06683 12.732L4.12781 16.671C1.92792 14.4745 1 12 1 12C1 12 4 4 12 4Z" fill="currentColor" />
      </svg>
    {%- when 'error' -%}
      <svg
        class='{{ class }}'
        width='24'
        height='24'
        viewBox='0 0 24 24'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path d="M12 6V13" stroke="currentColor" stroke-width="2"/>
        <path d="M12 15V17" stroke="currentColor" stroke-width="2"/>
        <rect x="0.5" y="0.5" width="23" height="23" rx="11.5" stroke="currentColor"/>
      </svg>
    {%- when 'discount' -%}
      <svg
        class='{{ class }}'
        width='16'
        height='16'
        viewBox='0 0 16 16'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.3333 7.48217V4.01536C13.3333 3.27032 12.725 2.66634 11.9746 2.66634H9.12056C8.77229 2.66634 8.43731 2.79914 8.18482 3.03732L3.30089 7.6443C2.47006 8.42801 2.45316 9.73761 3.26348 10.5422L5.47723 12.7403C6.25792 13.5155 7.51832 13.5324 8.31982 12.7785L12.909 8.4615C13.1798 8.20674 13.3333 7.85261 13.3333 7.48217ZM10.3333 4.66634C9.78097 4.66634 9.33325 5.11405 9.33325 5.66634C9.33325 6.21862 9.78097 6.66634 10.3333 6.66634C10.8855 6.66634 11.3333 6.21862 11.3333 5.66634C11.3333 5.11405 10.8855 4.66634 10.3333 4.66634Z" fill="currentColor"/>
      </svg>
    {%- when 'close' -%}
      {%- assign stroke_width = stroke_width | default: 2 -%}
      <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path d="M4.92871 4.92896L19.0708 19.0711" stroke="currentColor" stroke-width="{{ stroke_width }}"/>
        <path d="M19.0713 4.92895L4.92915 19.0711" stroke="currentColor" stroke-width="{{ stroke_width }}"/>
      </svg>
    {%- when 'close-large' -%}
      {%- assign stroke_width = stroke_width | default: 2 -%}
      <svg class='{{ class }}' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path d="M22.6665 9.3335L9.33317 22.6668" stroke="currentColor" stroke-width="{{ stroke_width }}" />
        <path d="M22.6665 22.6665L9.33317 9.33317" stroke="currentColor" stroke-width="{{ stroke_width }}" />
      </svg>
    {%- when 'copy' -%}
      {%- assign stroke_width = stroke_width | default: 1.5 -%}
      <svg class="{{ class }}" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14.6665 11.1663V13.6663C14.6665 16.9997 13.3332 18.333 9.99984 18.333H6.83317C3.49984 18.333 2.1665 16.9997 2.1665 13.6663V10.4997C2.1665 7.16634 3.49984 5.83301 6.83317 5.83301H9.33317" stroke="currentColor" stroke-width="{{ stroke_width }}" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M14.6668 11.1663H12.0002C10.0002 11.1663 9.3335 10.4997 9.3335 8.49967V5.83301L14.6668 11.1663Z" stroke="currentColor" stroke-width="{{ stroke_width }}" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M10.1665 1.66699H13.4998" stroke="currentColor" stroke-width="{{ stroke_width }}" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M6.3335 4.16699C6.3335 2.78366 7.45016 1.66699 8.8335 1.66699H11.0168" stroke="currentColor" stroke-width="{{ stroke_width }}" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M18.8334 6.66699V11.8253C18.8334 13.117 17.7834 14.167 16.4917 14.167" stroke="currentColor" stroke-width="{{ stroke_width }}" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M18.8335 6.66699H16.3335C14.4585 6.66699 13.8335 6.04199 13.8335 4.16699V1.66699L18.8335 6.66699Z" stroke="currentColor" stroke-width="{{ stroke_width }}" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    {%- when 'clipboard' -%}
      <svg class='{{ class }}' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.2501 3.6665C9.14551 3.6665 8.25008 4.56193 8.25008 5.6665V12.6665C8.25008 13.7711 9.14551 14.6665 10.2501 14.6665H16.3334C17.438 14.6665 18.3334 13.7711 18.3334 12.6665V5.6665C18.3334 4.56193 17.438 3.6665 16.3334 3.6665H10.2501ZM5.66675 7.33316H7.33341V12.5832C7.33341 14.24 8.67656 15.5832 10.3334 15.5832H13.7501V16.3332C13.7501 17.4377 12.8547 18.3332 11.7501 18.3332H5.66675C4.56218 18.3332 3.66675 17.4377 3.66675 16.3332V9.33316C3.66675 8.22859 4.56218 7.33316 5.66675 7.33316Z" fill="currentColor" />
      </svg>
    {%- when 'circle' -%}
      <svg
        class='{{ class }}'
        width='24'
        height='24'
        viewBox='0 0 24 24'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <circle class="{{ background_class  }}" cx="12" cy="12" r="11" fill="black" fill-opacity="0.3"/>
        <circle class="{{ circle_class  }}" cx="12" cy="12" r="3" fill="white"/>
        <path class="{{ border_class }}" pathLength="100" d="M19 12C19 12.8808 18.8373 13.7236 18.5404 14.5C17.5339 17.1314 14.9852 19 12 19C8.13401 19 5 15.866 5 12C5 9.62125 6.18652 7.51964 8 6.25469C9.13383 5.46381 10.5128 5 12 5C15.866 5 19 8.13401 19 12Z" stroke="white" stroke-width="3"/>
      </svg>
    {%- when 'back-to-top-icon' -%}
      <svg
        class='{{ class }}'
        width='24'
        height='24'
        viewBox='0 0 24 24'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path d="M12 22L12 4" stroke="currentColor" stroke-width="2"/>
        <path d="M7 9L12 4L17 9" stroke="currentColor" stroke-width="2"/>
      </svg>
    {%- when 'chevron' -%}
      <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path d="M9.5 7L14.5 12L9.5 17" stroke="currentColor" stroke-width="{{ stroke_width | default: 2 }}"/>
      </svg>
    {% when 'link-chevron' %}
      <svg class='{{ class }}' width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.75062 7.50122L14.2493 11.9999L9.75062 16.4987" stroke="currentColor" stroke-width="1.5"/>
      </svg>
    {%- when 'check' -%}
      <svg class='{{ class }}' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path d="M4.5835 10.0837L9.16683 14.667L17.4168 6.41699" stroke="currentColor" stroke-width="3"/>
      </svg>
    {%- when 'cart' -%}
      {%- if icon_style == 'solid' -%}
        <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
          <path d="M8.0066 18C6.89769 18 6 18.8977 6 20.0066C6 21.1023 6.89769 22 8.0066 22C9.10231 22 10 21.1023 10 20.0066C10 18.8977 9.10231 18 8.0066 18Z" fill="currentColor"/>
          <path d="M19.0066 18C17.8977 18 17 18.8977 17 20.0066C17 21.1023 17.8977 22 19.0066 22C20.1023 22 21 21.1023 21 20.0066C21 18.8977 20.1023 18 19.0066 18Z" fill="currentColor"/>
          <path d="M20.0806 6.22961C20.7222 6.22961 21.1429 6.4604 21.5637 6.96594C21.9844 7.47149 22.058 8.19684 21.9634 8.85514L20.9641 14.5932C20.7748 15.979 19.6388 17 18.303 17H8.93304C7.53413 17 6.37714 15.8801 6.26144 14.4294L4.24114 3.92059L2.6529 3.63485C2.23218 3.55792 1.93767 3.1293 2.0113 2.6897C2.08493 2.2402 2.49513 1.94237 2.92638 2.00941L5.43495 2.40396C5.79256 2.47099 6.05552 2.77762 6.08707 3.15128L6.73684 5.61306C6.7684 5.96585 7.04187 6.22961 7.37845 6.22961H20.0806Z" fill="currentColor"/>
        </svg>
      {%- else -%}
        <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
          <path d="M9.0033 20C8.44884 20 8 20.4488 8 21.0033C8 21.5512 8.44884 22 9.0033 22C9.55116 22 10 21.5512 10 21.0033C10 20.4488 9.55116 20 9.0033 20Z" fill="currentColor"/>
          <path d="M19.0033 20C18.4488 20 18 20.4488 18 21.0033C18 21.5512 18.4488 22 19.0033 22C19.5512 22 20 21.5512 20 21.0033C20 20.4488 19.5512 20 19.0033 20Z" fill="currentColor"/>
          <path d="M2.64709 1.76456C2.24092 1.68333 1.8458 1.94674 1.76456 2.35291C1.68333 2.75908 1.94674 3.1542 2.35291 3.23544L2.64709 1.76456ZM4.32319 2.86464L4.1761 3.60007L4.32319 2.86464ZM5.11347 3.68082L5.85327 3.55752L5.11347 3.68082ZM7.0822 15.4932L6.3424 15.6165L7.0822 15.4932ZM20.4823 15.5883L21.2178 15.7354L20.4823 15.5883ZM21.5216 10.3922L22.257 10.5393L21.5216 10.3922ZM9.5 7.25C9.08579 7.25 8.75 7.58579 8.75 8C8.75 8.41421 9.08579 8.75 9.5 8.75V7.25ZM2.35291 3.23544L4.1761 3.60007L4.47028 2.1292L2.64709 1.76456L2.35291 3.23544ZM4.37367 3.80412L6.3424 15.6165L7.82199 15.3699L5.85327 3.55752L4.37367 3.80412ZM10.0414 18.75H17.5406V17.25H10.0414V18.75ZM21.2178 15.7354L22.257 10.5393L20.7861 10.2451L19.7469 15.4413L21.2178 15.7354ZM19.5604 7.25H9.5V8.75H19.5604V7.25ZM22.257 10.5393C22.5973 8.83764 21.2958 7.25 19.5604 7.25V8.75C20.3492 8.75 20.9408 9.47166 20.7861 10.2451L22.257 10.5393ZM17.5406 18.75C19.3281 18.75 20.8672 17.4883 21.2178 15.7354L19.7469 15.4413C19.5366 16.493 18.6131 17.25 17.5406 17.25V18.75ZM6.3424 15.6165C6.64377 17.4247 8.20823 18.75 10.0414 18.75V17.25C8.94149 17.25 8.00282 16.4548 7.82199 15.3699L6.3424 15.6165ZM4.1761 3.60007C4.27795 3.62044 4.3566 3.70167 4.37367 3.80412L5.85327 3.55752C5.73374 2.84035 5.18322 2.27179 4.47028 2.1292L4.1761 3.60007Z" fill="currentColor"/>
        </svg>
      {%- endif -%}
    {%- when 'arrow' -%}
      <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path d="M2 12H20" stroke="currentColor" stroke-width="2"/>
        <path d="M15 7L20 12L15 17" stroke="currentColor" stroke-width="2"/>
      </svg>
    {%- when 'account' -%}
      <svg class='{{ class }}' fill='none' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'>
        <circle cx="12" cy="7" r="4" stroke-width="2" stroke="#141416"/>
        <path d="M3.85071 18.2816C4.40664 15.7799 6.62549 14 9.18819 14H14.8118C17.3745 14 19.5934 15.7799 20.1493 18.2816C20.4593 19.6766 19.3977 21 17.9686 21H6.03136C4.60226 21 3.5407 19.6766 3.85071 18.2816Z" stroke-width="2" stroke="black"/>
      </svg>
    {%- when '3d' -%}
      <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path d="M18.75 8.25V15.7498L12 19.5V12.0002L18.75 8.25Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M12 19.5L5.25 15.7498V8.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M12.0003 12L5.25 8.25L12.0003 4.5L18.75 8.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    {%- when 'print' -%}
      <svg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.24999 5.00002V2.91669H13.75V5.00002L6.24999 5.00002ZM4.99999 5.00002H3.66666C2.56209 5.00002 1.66666 5.89545 1.66666 7.00002L1.66666 13C1.66666 14.1046 2.56209 15 3.66666 15H4.99999V17.5C4.99999 17.9603 5.37309 18.3334 5.83332 18.3334H14.1667C14.6269 18.3334 15 17.9603 15 17.5V15H16.3333C17.4379 15 18.3333 14.1046 18.3333 13V7.00002C18.3333 5.89545 17.4379 5.00002 16.3333 5.00002H15V2.50002C15 2.03978 14.6269 1.66669 14.1667 1.66669H5.83332C5.37309 1.66669 4.99999 2.03978 4.99999 2.50002V5.00002ZM13.75 17.0834L13.75 16.6667V11.6667L6.25204 11.6667V15H6.24999V17.0834H13.75ZM8.12499 12.5C7.77981 12.5 7.49999 12.7798 7.49999 13.125C7.49999 13.4702 7.77981 13.75 8.12499 13.75H11.875C12.2202 13.75 12.5 13.4702 12.5 13.125C12.5 12.7798 12.2202 12.5 11.875 12.5H8.12499ZM7.49999 15.625C7.49999 15.2798 7.77981 15 8.12499 15H11.875C12.2202 15 12.5 15.2798 12.5 15.625C12.5 15.9702 12.2202 16.25 11.875 16.25H8.12499C7.77981 16.25 7.49999 15.9702 7.49999 15.625ZM13.9583 6.66669C13.6131 6.66669 13.3333 6.94651 13.3333 7.29169C13.3333 7.63687 13.6131 7.91669 13.9583 7.91669H16.0417C16.3868 7.91669 16.6667 7.63687 16.6667 7.29169C16.6667 6.94651 16.3868 6.66669 16.0417 6.66669H13.9583Z" fill="currentColor" fill-opacity="0.7"/>
      </svg>
    {%- when 'rss' -%}
      <svg
        class='{{ class }}'
        width='24'
        height='24'
        viewBox='0 0 24 24'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path d="M4.91146 16.1719C3.30729 16.1719 2 17.4792 2 19.0781C2 20.6823 3.30729 21.974 4.91146 21.974C6.52083 21.974 7.82292 20.6771 7.82292 19.0781C7.82292 17.4792 6.52083 16.1719 4.91146 16.1719Z" fill="currentColor"/>
        <path d="M2 8.6665V12.828C4.5 12.828 6.90104 13.5675 8.66667 15.3332C10.4323 17.0988 11.1667 19.4946 11.1667 21.9998H15.3333C15.3333 14.7134 9.29167 8.6665 2 8.6665Z" fill="currentColor"/>
        <path d="M2 2V6.16146C10.9062 6.16146 17.8281 13.0885 17.8281 22H22C22 10.974 13.0417 2 2 2Z" fill="currentColor"/>
      </svg>
    {%- when 'shopify-logo' -%}
      <svg
        xmlns='http://www.w3.org/2000/svg'
        class='icon icon-shopify'
        viewBox='0 0 150 43'
        version='1.1'
        aria-hidden='true'
      >
        <title>Shopify logo</title>
        <path fill="currentColor" d="M33.3,8.9 C33.3,8.9 33.3,8.7 33.2,8.6 C33.1,8.5 33,8.5 33,8.5 L29.6,8.3 L27.5,6.2 C27.4,6.1 27.3,6.1 27.2,6.1 L25.4,42.2 L38,39.5 L33.3,8.9 Z M25.8,5.9 L24.9,6.2 C24.3,4.6 23.6,3.4 22.6,2.7 C21.9,2.2 21.1,2 20.3,2.1 C20.1,1.9 19.9,1.7 19.7,1.5 C18.8,0.8 17.6,0.6 16.1,1.2 C11.8,2.7 10,8.3 9.3,11 L5.5,12.1 C5.5,12.1 4.6,12.3 4.4,12.6 C4.2,12.9 4.1,13.6 4.1,13.6 L0.9,37.9 L24.5,42.3 L26.3,6 C26.1,5.8 25.9,5.9 25.8,5.9 Z M20.1,7.6 L16,8.9 C16.5,6.8 17.6,4.6 19.6,3.8 C20,4.8 20.1,6.3 20.1,7.6 Z M16.6,2.4 C17.5,2.1 18.2,2.1 18.7,2.4 C16,3.6 14.8,6.7 14.3,9.3 L11,10.3 C11.7,7.8 13.3,3.6 16.6,2.4 Z M18.9,20.3 C18.7,20.2 18.5,20.1 18.2,20 C17.9,19.9 17.7,19.8 17.4,19.7 C17.1,19.6 16.8,19.6 16.4,19.5 L15.3,19.5 C15,19.5 14.7,19.6 14.4,19.7 C14.1,19.8 13.9,19.9 13.7,20.1 C13.5,20.3 13.4,20.5 13.3,20.7 C13.2,20.9 13.1,21.2 13.1,21.4 C13.1,21.6 13.1,21.8 13.2,22 C13.3,22.2 13.4,22.4 13.5,22.6 C13.7,22.8 13.9,23 14.1,23.2 C14.3,23.4 14.6,23.6 14.9,23.8 C15.4,24.1 15.8,24.4 16.3,24.8 C16.8,25.2 17.2,25.6 17.5,26.1 C17.9,26.6 18.2,27.1 18.4,27.8 C18.6,28.4 18.7,29.1 18.7,29.9 C18.6,31.1 18.4,32.2 17.9,33.1 C17.5,34 16.8,34.7 16.1,35.2 C15.4,35.7 14.5,36 13.6,36.1 C12.7,36.2 11.7,36.2 10.8,35.9 C10.3,35.8 9.9,35.6 9.5,35.5 C9.1,35.3 8.7,35.1 8.3,34.9 C8,34.7 7.6,34.5 7.4,34.3 C7.1,34.1 6.9,33.9 6.7,33.6 L7.8,30 C8,30.2 8.2,30.3 8.5,30.5 C8.8,30.7 9.1,30.9 9.4,31 C9.7,31.2 10.1,31.3 10.4,31.5 C10.8,31.6 11.1,31.7 11.5,31.8 L12.3,31.8 C12.5,31.7 12.8,31.6 12.9,31.5 C13.1,31.4 13.2,31.2 13.3,31 C13.4,30.8 13.4,30.6 13.5,30.3 C13.5,30.1 13.5,29.8 13.4,29.6 C13.3,29.4 13.2,29.2 13.1,28.9 C13,28.7 12.8,28.5 12.5,28.2 C12.3,28 12,27.7 11.6,27.5 C11.2,27.2 10.8,26.9 10.4,26.5 C10.1,26.1 9.7,25.8 9.5,25.3 C9.3,24.9 9.1,24.4 8.9,23.9 C8.8,23.4 8.7,22.9 8.7,22.3 C8.7,21.3 8.9,20.5 9.3,19.7 C9.6,18.9 10.1,18.2 10.7,17.5 C11.3,16.9 12,16.3 12.9,15.9 C13.8,15.5 14.7,15.2 15.8,15 C16.3,14.9 16.8,14.9 17.2,14.9 C17.7,14.9 18.1,14.9 18.5,15 C18.9,15.1 19.3,15.1 19.6,15.2 C19.9,15.3 20.2,15.4 20.5,15.5 L18.9,20.3 Z M21.5,7.2 L21.5,6.7 C21.5,5.4 21.3,4.3 21,3.5 C21.3,3.5 21.6,3.6 21.9,3.8 C22.7,4.3 23.2,5.4 23.6,6.6 L21.5,7.2 Z"/>
        <path fill="currentColor" d="M45.3,29.6 C46.2,30.1 47.8,30.7 49.4,30.7 C50.8,30.7 51.6,29.9 51.6,29 C51.6,28.1 51.1,27.5 49.5,26.6 C47.6,25.5 46.2,24 46.2,22 C46.2,18.5 49.2,16 53.6,16 C55.5,16 57,16.4 57.8,16.8 L56.6,20.3 C55.9,20 54.8,19.6 53.5,19.6 C52.1,19.6 51.2,20.2 51.2,21.3 C51.2,22.1 51.9,22.7 53.1,23.3 C55.1,24.4 56.7,25.9 56.7,28 C56.7,32 53.5,34.2 49,34.1 C46.9,34.1 45,33.5 44.1,32.9 L45.3,29.6 Z M57.7,34.1 L62.6,8.9 L67.6,8.9 L65.7,18.7 L65.8,18.7 C67.1,17.1 68.9,16 71.1,16 C73.7,16 75.2,17.7 75.2,20.5 C75.2,21.4 75.1,22.7 74.8,23.8 L72.8,34.1 L67.8,34.1 L69.7,24.2 C69.8,23.5 69.9,22.7 69.9,22 C69.9,20.9 69.5,20.2 68.3,20.2 C66.7,20.2 65,22.2 64.3,25.5 L62.6,34.2 L57.7,34.2 L57.7,34.1 Z M93.3,23 C93.3,29.1 89.3,34.4 83.4,34.4 C78.9,34.4 76.5,31.3 76.5,27.5 C76.5,21.5 80.5,16.1 86.5,16.1 C91.2,16.1 93.3,19.4 93.3,23 Z M81.6,27.3 C81.6,29.1 82.3,30.5 84,30.5 C86.7,30.5 88.1,25.8 88.1,22.8 C88.1,21.3 87.5,19.8 85.7,19.8 C83.1,19.9 81.6,24.5 81.6,27.3 Z M92.1,41.1 L95.6,23 C96,21 96.4,18.3 96.6,16.4 L101,16.4 L100.7,19.2 L100.8,19.2 C102.1,17.3 104.1,16.2 106.1,16.2 C109.8,16.2 111.3,19.1 111.3,22.5 C111.3,28.5 107.4,34.6 101.6,34.6 C100.4,34.6 99.2,34.1 98.7,34.1 L98.6,34.1 L97.2,41.1 L92.1,41.1 Z M99.3,29.9 C99.8,30.3 100.5,30.6 101.4,30.6 C104.2,30.6 106.1,26 106.1,22.8 C106.1,21.5 105.6,20.1 104.1,20.1 C102.4,20.1 100.7,22.1 100.1,25.2 L99.3,29.9 Z M111.5,34.1 L114.9,16.4 L120,16.4 L116.6,34.1 L111.5,34.1 Z M118,14.5 C116.6,14.5 115.6,13.4 115.6,11.9 C115.6,10.3 116.9,9 118.5,9 C120,9 121,10.1 121,11.6 C121,13.4 119.6,14.5 118,14.5 Z M120.9,34.1 L123.6,20.1 L121.3,20.1 L122,16.4 L124.3,16.4 L124.4,15.6 C124.8,13.5 125.6,11.4 127.3,10 C128.6,8.9 130.4,8.4 132.2,8.4 C133.4,8.4 134.3,8.6 134.9,8.8 L133.9,12.7 C133.5,12.6 133,12.4 132.3,12.4 C130.6,12.4 129.6,13.9 129.3,15.6 L129.1,16.4 L132.6,16.4 L131.9,20.1 L128.4,20.1 L125.7,34.1 L120.9,34.1 L120.9,34.1 Z M138.9,16.4 L139.7,24.3 C139.9,26.1 140.1,27.6 140.1,28.5 L140.2,28.5 C140.6,27.6 141,26.2 141.7,24.3 L144.8,16.4 L150,16.4 L143.9,29.5 C141.7,34 139.6,37.2 137.3,39.4 C135.5,41.1 133.4,41.9 132.4,42.1 L131,37.9 C131.8,37.6 132.9,37.2 133.8,36.5 C135,35.7 135.9,34.6 136.5,33.5 C136.6,33.2 136.7,33 136.6,31.6 L133.6,16.4 L138.9,16.4 Z"/>
      </svg>
    {%- when 'search-sidebar-section-arrow' -%}
      <svg
        class='{{ class }}'
        width='24'
        height='24'
        viewBox='0 0 24 24'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path d="M2 12H20" stroke="currentColor" stroke-width="2"/>
        <path d="M15 7L20 12L15 17" stroke="currentColor" stroke-width="2"/>
      </svg>
    {%- when 'quote' -%}
      <svg class='{{ class }}' viewBox='0 0 64 44' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path d="M53.1934 1.05842C52.5759 2.46965 52.0098 3.98167 51.4953 5.5945C51.0836 7.10653 50.8263 8.61856 50.7234 10.1306C50.7234 11.5418 50.9807 12.8522 51.4953 14.0619C52.0098 15.1707 52.9361 16.0779 54.2741 16.7835C56.95 18.1947 59.2142 20.0092 61.0668 22.2268C63.0223 24.3436 64 26.9645 64 30.0893C64 32.0046 63.6398 33.819 62.9193 35.5326C62.1989 37.2463 61.1697 38.7583 59.8317 40.0687C58.5967 41.2784 57.1044 42.236 55.3547 42.9416C53.6051 43.6472 51.7526 44 49.7971 44C45.8861 44 42.5927 42.6392 39.9168 39.9175C37.2409 37.1959 35.8 33.9198 35.5942 30.0893C35.2854 26.0573 35.8 22.3276 37.1379 18.9003C38.5788 15.3723 40.2255 12.2978 42.0781 9.67698C44.0336 7.05613 45.9376 4.93929 47.7901 3.32646C49.6427 1.61283 50.9292 0.504009 51.6496 0C51.8555 0.100802 52.1128 0.252005 52.4215 0.453608L52.8847 0.907216C52.9876 1.00802 53.0905 1.05842 53.1934 1.05842ZM17.6861 1.05842C17.0686 2.46965 16.5025 3.98167 15.9879 5.5945C15.5763 7.10653 15.319 8.61856 15.216 10.1306C15.216 11.5418 15.4733 12.8522 15.9879 14.0619C16.5025 15.1707 17.4288 16.0779 18.7668 16.7835C21.4427 18.1947 23.7069 20.0092 25.5595 22.2268C27.5149 24.3436 28.4927 26.9645 28.4927 30.0893C28.4927 32.0046 28.1325 33.819 27.412 35.5326C26.6916 37.2463 25.6624 38.7583 24.3244 40.0687C23.0894 41.2784 21.5971 42.236 19.8474 42.9416C18.0978 43.6472 16.2452 44 14.2898 44C10.3788 44 7.08538 42.6392 4.40947 39.9175C1.73355 37.1959 0.292678 33.9198 0.0868385 30.0893C-0.221921 26.0573 0.292678 22.3276 1.63063 18.9003C3.07151 15.3723 4.71823 12.2978 6.57078 9.67698C8.52626 7.05613 10.4303 4.93929 12.2828 3.32646C14.1354 1.61283 15.4219 0.504009 16.1423 0C16.3482 0.100802 16.6055 0.252005 16.9142 0.453608L17.3774 0.907216C17.4803 1.00802 17.5832 1.05842 17.6861 1.05842Z" fill="currentColor" fill-opacity="0.05"/>
      </svg>
    {%- when 'home' -%}
      <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path d="M3 12L5 10M5 10L12 3L19 10M5 10V20C5 20.5523 5.44772 21 6 21H9M19 10L21 12M19 10V20C19 20.5523 18.5523 21 18 21H15M9 21C9.55228 21 10 20.5523 10 20V16C10 15.4477 10.4477 15 11 15H13C13.5523 15 14 15.4477 14 16V20C14 20.5523 14.4477 21 15 21M9 21H15" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    {%- when 'medium' -%}
      <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path d="M13.6377 11.7767C13.6377 15.0383 10.9493 17.6867 7.61891 17.6867C4.2885 17.6867 1.6001 15.0383 1.6001 11.7767C1.6001 8.51511 4.2885 5.8667 7.61891 5.8667C10.9493 5.8667 13.6377 8.51511 13.6377 11.7767ZM20.2317 11.7767C20.2317 14.8426 18.8808 17.3345 17.2223 17.3345C15.5637 17.3345 14.2128 14.8426 14.2128 11.7767C14.2128 8.71081 15.5637 6.21895 17.2223 6.21895C18.8808 6.21895 20.2317 8.69776 20.2317 11.7767ZM22.9334 11.7767C22.9334 14.5295 22.4653 16.7604 21.8768 16.7604C21.2883 16.7604 20.8202 14.5295 20.8202 11.7767C20.8202 9.02392 21.2883 6.79299 21.8768 6.79299C22.4653 6.79299 22.9334 9.02392 22.9334 11.7767Z" fill="currentColor"/>
      </svg>
    {%- when 'order' -%}
      <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path d="M19 11H5M19 11C20.1046 11 21 11.8954 21 13V19C21 20.1046 20.1046 21 19 21H5C3.89543 21 3 20.1046 3 19V13C3 11.8954 3.89543 11 5 11M19 11V9C19 7.89543 18.1046 7 17 7M5 11V9C5 7.89543 5.89543 7 7 7M7 7V5C7 3.89543 7.89543 3 9 3H15C16.1046 3 17 3.89543 17 5V7M7 7H17" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    {%- when 'enter' -%}
      <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path d="M4 5H16V9H18V3H2V21H18V15H16V19H4V5Z" fill="currentColor"/>
        <path d="M10.9257 16.9498L12.3399 15.5356L9.80435 13H22V11H9.80442L12.3399 8.46451L10.9257 7.05029L5.97596 12L10.9257 16.9498Z" fill="currentColor"/>
      </svg>
    {%- when 'linkedin' -%}
      <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path d="M7.57801 9.01343H4V20.0433H7.57801V9.01343Z" fill="currentColor"/>
        <path d="M17.3239 9.14278C17.2859 9.13088 17.2499 9.11787 17.21 9.10664C17.1618 9.09567 17.1139 9.08652 17.0649 9.07871C16.875 9.04052 16.6667 9.01346 16.4229 9.01346C14.337 9.01346 13.0138 10.5347 12.578 11.1222V9.01343H9V20.0433H12.578V14.027C12.578 14.027 15.2818 10.2508 16.4228 13.0242V20.0433H19.9999V12.6002C19.9999 10.9336 18.8608 9.54485 17.3239 9.14278Z" fill="currentColor"/>
        <path d="M7.5003 5.75471C7.5003 6.72398 6.71665 7.50948 5.75029 7.50948C4.78387 7.50948 4.00024 6.72395 4.00024 5.75471C4.00024 4.78564 4.78387 4 5.75029 4C6.71665 4 7.5003 4.78564 7.5003 5.75471Z" fill="currentColor"/>
      </svg>
    {%- when 'flickr' -%}
      <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM11 12C11 13.1046 10.1046 14 9 14C7.89543 14 7 13.1046 7 12C7 10.8954 7.89543 10 9 10C10.1046 10 11 10.8954 11 12ZM17 12C17 13.1046 16.1046 14 15 14C13.8954 14 13 13.1046 13 12C13 10.8954 13.8954 10 15 10C16.1046 10 17 10.8954 17 12Z" fill="currentColor"/>
      </svg>
    {%- when 'reddit' -%}
      <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path d="M21 12.1112C21 10.9545 20.0699 10.0135 18.9266 10.0135C18.418 10.0135 17.9385 10.1996 17.5599 10.5366C16.1887 9.6489 14.3592 9.08959 12.3411 9.02935L13.5759 4.75639L16.6078 5.32628C16.6076 5.3512 16.6028 5.37498 16.6041 5.40016C16.6409 6.13016 17.2578 6.69367 17.9794 6.65643C18.7009 6.61919 19.2579 5.99508 19.2211 5.26512C19.1843 4.53512 18.5674 3.97161 17.8459 4.00885C17.38 4.03289 16.9857 4.30323 16.7725 4.68712C16.7722 4.68701 16.7718 4.68675 16.7714 4.68668L13.1179 4L11.6627 9.02818C9.63977 9.08274 7.80442 9.6388 6.42738 10.5249C6.05077 10.1952 5.57621 10.0135 5.07341 10.0135C3.93021 10.0135 3 10.9545 3 12.1112C3 12.8266 3.36404 13.4862 3.95353 13.8711C3.91771 14.0805 3.89727 14.293 3.89727 14.5088C3.89727 17.5365 7.52503 20 11.9846 20C16.4441 20 20.0719 17.5365 20.0719 14.5088C20.0719 14.2992 20.0528 14.0928 20.019 13.8893C20.6247 13.5074 21 12.8378 21 12.1112ZM8.14106 13.5389C8.14106 12.8274 8.71134 12.2501 9.41555 12.2501C10.1191 12.2501 10.6894 12.8274 10.6894 13.5389C10.6894 14.251 10.1191 14.8279 9.41555 14.8279C8.71134 14.8279 8.14106 14.251 8.14106 13.5389ZM14.9881 17.0254C14.9502 17.0656 14.0359 18.0066 11.9697 18.0066C9.89288 18.0066 9.06208 17.0525 9.02786 17.0121C8.91078 16.8737 8.92674 16.6654 9.06347 16.5474C9.1995 16.43 9.40338 16.4451 9.52079 16.5813C9.53941 16.6019 10.2328 17.3477 11.9697 17.3477C13.7368 17.3477 14.5116 16.5755 14.5194 16.568C14.6445 16.4389 14.8505 16.4358 14.979 16.5625C15.1069 16.6887 15.1116 16.8947 14.9881 17.0254ZM14.7347 14.8279C14.0305 14.8279 13.4602 14.251 13.4602 13.5389C13.4602 12.8274 14.0305 12.2501 14.7347 12.2501C15.4383 12.2501 16.0086 12.8274 16.0086 13.5389C16.0086 14.251 15.4383 14.8279 14.7347 14.8279Z" fill="currentColor"/>
      </svg>
    {%- when 'email' -%}
      <svg class='{{ class }}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M6 5C4.89543 5 4 5.89543 4 7V7.76393C4 8.52148 4.428 9.214 5.10557 9.55279L11.1056 12.5528C11.6686 12.8343 12.3314 12.8343 12.8944 12.5528L18.8944 9.55279C19.572 9.214 20 8.52148 20 7.76393V7C20 5.89543 19.1046 5 18 5H12H6ZM4 17V10.382C4 10.7607 4.214 11.107 4.55279 11.2764L11.1056 14.5528C11.6686 14.8343 12.3314 14.8343 12.8944 14.5528L19.4472 11.2764C19.786 11.107 20 10.7607 20 10.382V17C20 18.1046 19.1046 19 18 19H6C4.89543 19 4 18.1046 4 17Z" fill="currentColor"/>
      </svg>
  {%- endcase -%}
{%- endcapture -%}
{{- icon | strip_newlines -}}
