{%- if image != blank -%}
  <a
    class='unstyled-link {{ class }}'
    href='{{ routes.root_url }}'
    aria-label='{{ 'general.logo.screen_reader.aria_label' | t }}'
  >
    <img
      {{ attrs }}
      {% render 'image-attributes', image: image, size: 'medium', class: 'logo-img' %}
    >
  </a>
{%- elsif logo_text != blank -%}
  <a
    class='logo-text {{ class }}'
    href='{{ routes.root_url }}'
    aria-label='{{ 'general.logo.screen_reader.aria_label' | t }}'
  >
    {{- shop.name -}}
  </a>
{%- endif -%}
