{% liquid
  assign options = block.settings

  assign color_scheme = options.color_scheme
  assign vertical_spacing = options.vertical_spacing
  assign horizontal_spacing = options.horizontal_spacing
  assign desktop_width = options.desktop_width
  assign desktop_position = options.desktop_position

  assign heading = options.heading
  assign heading_size = options.heading_size
  assign subheading = options.subheading
  assign body = options.body
  assign body_size = options.body_size
  assign discount_code = options.discount_code
  assign disclaimer = options.disclaimer
  assign content_alignment = options.content_alignment
  assign show_socials = options.show_socials

  assign page_condition = options.page_condition
  assign pages = options.pages
  assign product_tags = options.product_tags
  assign when_show = options.when_show
  assign time_delay = options.time_delay
  assign page_scroll = options.page_scroll
  assign exit_intent = options.exit_intent
  assign frequency = options.frequency

  assign promo_btn_label = options.promo_btn_label
  assign promo_btn_style = options.promo_btn_style
  assign promo_btn_url = options.promo_btn_url
  assign close_btn_label = options.close_btn_label
  assign close_btn_style = options.close_btn_style

  assign img = options.img
  assign video = options.video
  assign img_position = options.img_position
  assign hide_img_mobile = options.hide_img_mobile
  assign img_overlay_opacity = options.img_overlay_opacity | times: 0.01

  assign storefront_overlay_solid = options.storefront_overlay_solid
  assign storefront_overlay_gradient = options.storefront_overlay_gradient
  assign storefront_overlay_opacity = options.storefront_overlay_opacity | times: 0.01
  assign content_blur = options.content_blur

  assign timer_desktop_width = options.timer_desktop_width

  if desktop_position == 'top_center' or desktop_position == 'bottom_center'
    assign horizontal_spacing = 32
  endif

  if desktop_position == 'center_left' or desktop_position == 'center_right'
    assign vertical_spacing = 32
  endif

  assign has_image = false
  if img != blank or video != blank
    assign has_image = true
  endif

  assign has_btn = false
  if promo_btn_label != blank or close_btn_label != blank
    assign has_btn = true
  endif

  assign one_btn = false
  if has_btn == true and promo_btn_label == blank or has_btn == true and close_btn_label == blank
    assign one_btn = true
  endif
%}

{% capture css %}
  {% style %}
    .block-{{ block.id}} {
      --gsc-content-align: {{ content_alignment }};
      --gsc-desktop-width: {{ desktop_width}}px;
      --gsc-overlay-opacity: {{ img_overlay_opacity }};
      --gsc-timer-width: 100%;
    }

    @media {% render 'media-queries', screen: 'md' %} {
      .block-{{ block.id }} {
          --gsc-timer-width: {{ timer_desktop_width }}%;
      }

      .block-{{ block.id }}.popup--flyout {
        padding: {{vertical_spacing}}px {{horizontal_spacing}}px;
      }
    }
  {% endstyle %}
{% endcapture %}

{% render 'inline-css-minifier', css: css %}

<popup-promo
  class='popup popup-promo popup--{{popup_variant}} popup-position--{{desktop_position}} block-{{block.id}} color-{{color_scheme}}'
  id='Popups-Promo-{{ block.id }}'
  data-block-id='{{block.id}}'
  role='dialog'
  aria-modal='true'
  tabindex='-1'
  data-ignore-esc-key
  data-variant='{{popup_variant}}'
  data-page-condition='{{page_condition}}'
  data-pages='{{pages}}'
  data-product-tags='{{product_tags}}'
  data-when-show='{{when_show}}'
  data-time-delay='{{time_delay}}'
  data-page-scroll='{{page_scroll}}'
  data-exit-intent='{{exit_intent}}'
  data-frequency='{{frequency}}'
  data-overlay-solid='{{storefront_overlay_solid}}'
  data-overlay-gradient='{{storefront_overlay_gradient}}'
  data-overlay-opacity='{{storefront_overlay_opacity}}'
  data-overlay-blur='{{content_blur}}'
  data-has-image='{{has_image}}'
  data-hide-img-mobile='{{hide_img_mobile}}'
  {{ block.shopify_attributes }}
>
  <template data-modal-template='Popups-Promo-{{ block.id }}'>
    <div class='popup__body popup--with-image-on-{{img_position}}'>
      <button
        class='unstyled-button close-button-with-scale-hover-wrapper popup__close-button'
        tabindex='0'
        aria-label='{{- 'popups.screen_reader.close' | t -}}'
        data-close-small-btn
      >
        <span class='close-button-with-scale-hover'></span>
      </button>
      {% if has_image %}
        <div class='popup__media-container'>
          {% render 'media-with-art-direction',
            class: 'popup__media',
            with_overlay: true,
            with_placeholder: false,
            desktop_img: img,
            mobile_img: img,
            mobile_video: video,
            desktop_video: video,
            loading: 'eager'
          %}
        </div>
      {% endif %}
      <div class='popup__content-container'>
        <div class='popup__content'>
          {% if subheading != blank %}
            <div class='caption popup__subheading'>{{ subheading }}</div>
          {% endif %}
          {% if heading != blank %}
            <h2 class='{{heading_size}} popup__heading'>{{ heading }}</h2>
          {% endif %}
          {% if body != blank %}
            <div class='{{body_size}} popup__body-text body-font-weight-from-global-settings'>
              {{ body }}
            </div>
          {% endif %}
          {% if discount_code != blank %}
            <div class='popup__discount'>
              <clipboard-button
                class='popup__btn-discount'
                aria-hidden='true'
                data-value='{{discount_code}}'
                data-tooltip-id='DiscountCodeTooltip'
                data-clipboard-button-tooltip-target-id='DiscountCodeTooltip'
              >
                {%- render 'icon', icon_name: 'copy', class: 'copy-icon' -%}
                <div class='popup__btn-discount-label'>
                  {{ discount_code }}
                </div>
              </clipboard-button>
              <clipboard-button-tooltip
                class='tooltip'
                aria-hidden='true'
                id='DiscountCodeTooltip'
                data-placement='bottom'
                data-main-axis-offset='5'
              >
                <template data-clipboard-button-tooltip-template='DiscountCodeTooltip'>
                  <div>
                    <div class='tooltip__body'>
                      <div class='tooltip__arrow' data-float-element-arrow></div>
                      {{ 'gift_card.store_front.copied' | t }}
                    </div>
                  </div>
                </template>
              </clipboard-button-tooltip>
            </div>
          {% endif %}
          {% if with_ %}
          {% endif %}
          {% if with_timer %}
            <div class='popup__timer'>
              {% render 'timer', timerId: 'popup-' | append block.id, block: block %}
            </div>
          {% endif %}
          {% if has_btn %}
            <div class='popup__btns-wrapper {% if one_btn %} popup__btns-wrapper--one-btn {% endif %}'>
              <div class='popup__btns {% if with_link %} popup__btns--with-link {% endif %}'>
                {% if promo_btn_label != blank %}
                  {% if promo_btn_style == 'link' %}
                    <a
                      class='link popup__btn-link'
                      href='{{promo_btn_url}}'
                      aria-label='{{promo_btn_label}}'
                      data-promo-btn
                    >
                      <span class='link__text'>{{ promo_btn_label }}</span>
                      {%- render 'icon', icon_name: 'link-chevron', class: 'link__chevron' -%}
                    </a>
                  {% else %}
                    <a
                      class='btn btn--{{ promo_btn_style }} popup__btn'
                      aria-label='{{promo_btn_label}}'
                      href='{{promo_btn_url}}'
                      data-promo-btn
                    >
                      {{ promo_btn_label }}
                    </a>
                  {% endif %}
                {% endif %}
                {% if close_btn_label != blank %}
                  {% if close_btn_style == 'link' %}
                    <a
                      class='link popup__btn-link'
                      aria-label='{{close_btn_label}}'
                      data-close-btn
                    >
                      <span class='link__text'>{{ close_btn_label }}</span>
                      {%- render 'icon', icon_name: 'link-chevron', class: 'link__chevron' -%}
                    </a>
                  {% else %}
                    <a
                      class='btn btn--{{ close_btn_style }} popup__btn'
                      aria-label='{{close_btn_label}}'
                      data-close-btn
                    >
                      {{ close_btn_label }}
                    </a>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          {% endif %}
          {% if disclaimer != blank %}
            <div class='popup__disclaimer'>{{ disclaimer }}</div>
          {% endif %}
          {% if show_socials %}
            {%- render 'social-list', class: 'popup__social-list' -%}
          {% endif %}
        </div>
      </div>
    </div>
  </template>
</popup-promo>
