{% liquid
  assign options = block.settings

  assign color_scheme = options.color_scheme
  assign desktop_width = options.desktop_width
  assign heading = options.heading
  assign heading_size = options.heading_size
  assign subheading = options.subheading
  assign body = options.body
  assign body_size = options.body_size
  assign disclaimer = options.disclaimer
  assign content_alignment = options.content_alignment

  assign page_condition = options.page_condition
  assign pages = options.pages
  assign product_tags = options.product_tags

  assign verify_btn_label = options.verify_btn_label
  assign verify_btn_style = options.verify_btn_style
  assign exit_btn_label = options.exit_btn_label
  assign exit_btn_style = options.exit_btn_style
  assign exit_btn_url = options.exit_btn_url

  assign img = options.img
  assign video = options.video
  assign img_position = options.img_position
  assign hide_img_mobile = options.hide_img_mobile
  assign img_overlay_opacity = options.img_overlay_opacity | times: 0.01

  assign storefront_overlay_solid = options.storefront_overlay_solid
  assign storefront_overlay_gradient = options.storefront_overlay_gradient
  assign storefront_overlay_opacity = options.storefront_overlay_opacity | times: 0.01
  assign content_blur = options.content_blur

  assign has_image = false
  if img != blank or video != blank
    assign has_image = true
  endif

  assign has_btn = false
  if verify_btn_label != blank or exit_btn_label != blank
    assign has_btn = true
  endif

  assign one_btn = false
  if has_btn == true and verify_btn_label == blank or has_btn == true and exit_btn_label == blank
    assign one_btn = true
  endif
%}

{% capture css %}
  {% style %}
    .block-{{block.id}} {
      --gsc-content-align: {{content_alignment}};
      --gsc-desktop-width: {{desktop_width}}px;
      --gsc-overlay-opacity: {{ img_overlay_opacity }};
    }
  {% endstyle %}
{% endcapture %}

{% render 'inline-css-minifier', css: css %}

<popup-age-verifier
  class='popup popup-age-verifier block-{{block.id}} color-{{color_scheme}}'
  id='Popups-AgeVerifier-{{ block.id }}'
  data-block-id='{{block.id}}'
  role='dialog'
  aria-modal='true'
  tabindex='-1'
  data-ignore-esc-key
  data-page-condition='{{page_condition}}'
  data-pages='{{pages}}'
  data-product-tags='{{product_tags}}'
  data-overlay-solid='{{storefront_overlay_solid}}'
  data-overlay-gradient='{{storefront_overlay_gradient}}'
  data-overlay-opacity='{{storefront_overlay_opacity}}'
  data-overlay-blur='{{content_blur}}'
  data-has-image='{{has_image}}'
  data-hide-img-mobile='{{hide_img_mobile}}'
  {{ block.shopify_attributes }}
>
  <template data-modal-template='Popups-AgeVerifier-{{ block.id }}'>
    <div class='popup__body popup--with-image-on-{{img_position}}'>
      {% if has_image %}
        <div class='popup__media-container'>
          {% render 'media-with-art-direction',
            class: 'popup__media',
            with_overlay: true,
            with_placeholder: false,
            desktop_img: img,
            mobile_img: img,
            mobile_video: video,
            desktop_video: video,
            loading: 'eager'
          %}
        </div>
      {% endif %}
      <div class='popup__content-container'>
        <div class='popup__content'>
          {% if subheading != blank %}
            <div class='caption popup__subheading'>{{ subheading }}</div>
          {% endif %}
          {% if heading != blank %}
            <h2 class='{{heading_size}} popup__heading'>{{ heading }}</h2>
          {% endif %}
          {% if body != blank %}
            <div class='{{body_size}} popup__body-text body-font-weight-from-global-settings'>
              {{ body }}
            </div>
          {% endif %}
          {% if has_btn %}
            <div class='popup__btns-wrapper {% if one_btn %} popup__btns-wrapper--one-btn {% endif %}'>
              <div class='popup__btns'>
                {% if verify_btn_label != blank %}
                  {% if verify_btn_style == 'link' %}
                    <a
                      class='link popup__btn-link'
                      href='#'
                      aria-label='{{verify_btn_label}}'
                      data-verify-btn
                    >
                      <span class='link__text'>{{ verify_btn_label }}</span>
                      {%- render 'icon', icon_name: 'link-chevron', class: 'link__chevron' -%}
                    </a>
                  {% else %}
                    <a
                      class='btn btn--{{ verify_btn_style }} popup__btn'
                      aria-label='{{verify_btn_label}}'
                      data-verify-btn
                    >
                      {{ verify_btn_label }}
                    </a>
                  {% endif %}
                {% endif %}
                {% if exit_btn_label != blank %}
                  {% if exit_btn_style == 'link' %}
                    <a
                      class='link popup__btn-link'
                      href='{% if exit_btn_url != blank %}{{exit_btn_url}}{%else%}https://google.com{%endif%}'
                      aria-label='{{exit_btn_label}}'
                      data-exit-btn
                    >
                      <span class='link__text'>{{ exit_btn_label }}</span>
                      {%- render 'icon', icon_name: 'link-chevron', class: 'link__chevron' -%}
                    </a>
                  {% else %}
                    <a
                      class='btn btn--{{ exit_btn_style }} popup__btn'
                      aria-label='{{exit_btn_label}}'
                      href='{% if exit_btn_url != blank %}{{exit_btn_url}}{%else%}https://google.com{%endif%}'
                      data-exit-btn
                    >
                      {{ exit_btn_label }}
                    </a>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          {% endif %}
          {% if disclaimer != blank %}
            <div class='popup__disclaimer'>{{ disclaimer }}</div>
          {% endif %}
        </div>
      </div>
    </div>
  </template>
</popup-age-verifier>
