{%- liquid
  assign media_type = media.media_type | default: 'image'
  assign enable_multiply = settings.enable_product_darken_background
  assign placeholder_class = 'placeholder-image product-media__image'

  if enable_darken_mode
    assign placeholder_class = placeholder_class | append: ' multiply-mode__target'
  endif
-%}

<div class='product-media__image-wrapper {% if enable_multiply %}multiply-mode{% endif %}'>
  {%- if media_type == 'image' -%}
    {%- assign image = media.image -%}

    {%- if enable_image_zoom -%}
      <product-modal-opener
        data-modal='#ProductModal-{{ product.id }}-{{ sectionId }}'
        data-media-id='{{ modal_media_id }}'
      >
        {%- if image != blank -%}
          <img
            {% render 'image-attributes',
              image: image,
              is_multiply_target: enable_multiply,
              class_from_parent: class,
              class: 'product-media__image'
            %}
          >
        {%- else -%}
          {{ 'image' | placeholder_svg_tag: placeholder_class }}
        {%- endif -%}
      </product-modal-opener>
    {%- else -%}
      {%- if image != blank -%}
        <img
          {% render 'image-attributes',
            image: image,
            is_multiply_target: enable_multiply,
            class_from_parent: class,
            class: 'product-media__image'
          %}
        >
      {%- else -%}
        {{ 'image' | placeholder_svg_tag: placeholder_class }}
      {%- endif -%}
    {%- endif -%}
  {%- elsif media_type == 'model' -%}
    <product-model class='deferred-media'>
      <div id='Deferred-Poster-Modal-{{ media.id }}' class='deferred-media__poster' type='button'>
        <div class='deferred-media__button'>
          {%- render 'icon',
            icon_name: '3d',
            class: 'deferred-media__button-icon deferred-media__button-icon--model'
          -%}
        </div>
        {%- if media != blank -%}
          {%- assign image = media.preview_image -%}

          <img
            {% render 'image-attributes',
              image: image,
              is_multiply_target: enable_multiply,
              class_from_parent: class,
              class: 'product-media__image'
            %}
          >
        {%- else -%}
          {{ 'image' | placeholder_svg_tag: placeholder_class }}
        {%- endif -%}
      </div>
      <template>
        {%- liquid
          echo media | media_tag: image_size: '2048x', toggleable: true
        -%}
      </template>
      <div class='deferred-media__xr-button-wrapper'>
        <button
          class='btn btn--solid deferred-media__xr-button'
          type='button'
          aria-label='{{ 'product.screen_reader.xr_button_label' | t }}'
          data-shopify-xr
          data-shopify-model3d-id='{{ media.id }}'
          data-shopify-title='title'
          data-shopify-xr-hidden
        >
          {%- render 'icon', icon_name: '3d', class: 'deferred-media__xr-button-icon' -%}
          {{ 'product.store_front.xr_button_label' | t }}
        </button>
      </div>
    </product-model>
  {%- elsif media_type == 'video' or media_type == 'external_video' -%}
    <deferred-media
      class='deferred-media'
      {% if enable_video_autoplay %}
        data-autoplay
      {% endif %}
    >
      <div id='Deferred-Poster-Modal-{{ media.id }}' class='deferred-media__poster' type='button'>
        <div class='deferred-media__button'>
          {%- render 'icon',
            icon_name: 'play',
            class: 'deferred-media__button-icon deferred-media__button-icon--play',
            icon_style: 'solid'
          -%}
        </div>
        {%- if media != blank -%}
          {%- assign image = media.preview_image -%}

          <img
            {% render 'image-attributes',
              image: image,
              is_multiply_target: enable_multiply,
              class_from_parent: class,
              class: 'product-media__image'
            %}
          >
        {%- else -%}
          {{ 'image' | placeholder_svg_tag: placeholder_class }}
        {%- endif -%}
      </div>
      <template>
        {%- liquid
          assign video_class = 'deffered-media__video'

          if section.settings.scale_video == true
            assign video_class = 'deffered-media__video deffered-media__video--with-scale'
          endif

          case media_type
            when 'external_video'
              if media.host == 'youtube'
                echo media | external_video_url: autoplay: false, loop: enable_video_looping, playlist: media.external_id | external_video_tag: class: video_class, loading: 'lazy'
              else
                echo media | external_video_url: autoplay: false, loop: enable_video_looping | external_video_tag: class: video_class, loading: 'lazy'
              endif
            when 'video'
              if enable_video_autoplay
                render 'video-with-alt', class: video_class, video: media, autoplay: true, loop: enable_video_looping, controls: false, muted: true, loading: 'eager'
              else
                render 'video-with-alt', class: video_class, video: media, autoplay: false, loop: enable_video_looping, controls: true, muted: true, loading: 'eager'
              endif
          endcase
        -%}
      </template>
    </deferred-media>
  {%- endif -%}
</div>
