{%- liquid
  assign options = block.settings
  assign option_type = options.option_type

  assign primary_option_names = settings.primary_option_name | downcase | split: ','
  assign primary_option_name_downcase = blank

  for name in primary_option_names
    assign name_striped = name | strip
    if product.options_by_name[name_striped] != blank
      assign primary_option_name_downcase = name_striped
      break
    endif
  endfor

  assign secondary_option_names = settings.secondary_option_names | newline_to_br | split: '<br />'

  assign block_option_name_downcase = block.settings.option_name | downcase
  assign information_drawer_button_label = block.settings.information_drawer_button_label

  assign product_media_filtering_option = ''

  if settings.product_media_filtering_option != blank and section.settings.show_only_selected_variants == true
    assign product_media_filtering_option = settings.product_media_filtering_option
  endif
-%}

{%- if product != blank and product.has_only_default_variant == false -%}
  <variant-picker
    class='product-variant-picker block-{{ block.id }} {% if block.settings.option_type contains 'dropdown' %}product-variant-picker--with-dropdown-options{% endif %}'
    data-section='{{ sectionId }}'
    data-section-id-without-prefix='{{ section.id }}'
    data-product-id='{{ product.id }}'
    data-url='{{ product.url }}'
    id='product-variant-picker-{{ sectionId }}'
    data-type='{% if block.settings.option_type contains 'dropdown' %}dropdown{% else %}checkbox{% endif %}'
    {% if product.selected_or_first_available_variant %}
      data-selected-variant-id='{{ product.selected_or_first_available_variant.id }}'
    {% endif %}
    data-update-url='{% if sectionId contains 'MainSection' %}true{% else %}false{% endif %}'
    {{ block.shopify_attributes }}
    data-product-media-filtering-option='{{product_media_filtering_option}}'
  >
    <div class='product-variant-picker__form'>
      {%- for option in product.options_with_values -%}
        <div data-variant-picker-option-inputs>
          {{ option.name }}

          {%- for value in option.values -%}
            <div>
              <input
                type='radio'
                id='{{ sectionId }}-{{ product.id }}-{{ option.position }}-{{ forloop.index0 }}'
                name='{{ option.name }}'
                value='{{ value | escape }}'
                form='product-form-{{ product.id }}-{{ sectionId }}'
                {% if option.selected_value == value %}
                  checked
                {% endif %}
              >
              {{ value }}
            </div>
          {%- endfor -%}
        </div>
      {%- endfor -%}
    </div>
    <div class='product-variant-picker__list'>
      {%- for option in product.options_with_values -%}
        {% liquid
          assign option_name_downcase = option.name | downcase
          assign color_option_picker_type = ''

          assign is_swatch = false
          assign is_primary_swatch = false

          if option_name_downcase == primary_option_name_downcase
            assign is_primary_swatch = true
            assign is_swatch = true
          else
            for secondary_option_name in secondary_option_names
              assign secondary_option_name_downcase = secondary_option_name | downcase | strip

              if secondary_option_name_downcase == option_name_downcase
                assign is_swatch = true

                break
              endif
            endfor
          endif

          if is_swatch
            if is_primary_swatch
              assign color_option_picker_type = block.settings.primary_swatch_option_type
            else
              assign color_option_picker_type = block.settings.secondary_swatch_option_type
            endif
          endif
        %}

        <div data-variant-picker-option-labels option-picker-name='{{ option.name }}'>
          {%- if is_swatch -%}
            {%-
              render 'product-color-swatches',
              product: product,
              option: option,
              color_option_picker_type: color_option_picker_type,
              is_primary_swatch: is_primary_swatch,
              block: block,
              sectionId: sectionId,
            -%}
          {%- elsif block.settings.option_type contains 'button' -%}
            <div class='product-variant-picker__option-label'>
              {{ option.name }}

              {%- assign option_name_downcase = option.name | downcase -%}

              {%- if block_option_name_downcase == option_name_downcase -%}
                <sidebar-button>
                  <button
                    data-sidebar-button
                    data-sidebar-id='product-variant-picker-popup-{{ product.id }}-{{ sectionId }}'
                    class='unstyled-button product-variant-picker__popup-toggle'
                    type='button'
                  >
                    <span>{{ information_drawer_button_label }}</span>
                  </button>
                </sidebar-button>
              {%- endif -%}
            </div>
            <div class='product-variant-picker__container'>
              {%- for value in option.values -%}
                {% assign popular = product.variants[forloop.index0].metafields.custom.most_popular.value %}
                <label
                  for='{{ sectionId }}-{{ product.id }}-{{ option.position }}-{{ forloop.index0 }}'
                  class='product-variant-picker__option {% if option.selected_value == value %} selected {% endif %} {% if option_type == 'button-outline' %} pill--outline {% elsif option_type == 'button-solid' %} pill--solid {% elsif option_type == 'button-underline' %} pill--underline {% endif %} {% if popular %} most-popular {% endif %}'
                  {% if option.selected_value == value %}
                    tabindex='0'
                  {% endif %}
                >
                  {% if popular %}
                    <span class="product-variant-picker__option__most-popolar-label">Most popular</span>
                  {% endif %}
                  <div class="product-variant-picker__option__content">
                    <div class="product-variant-picker__option__radiobutton"></div>
                    <div class="product-variant-picker__option__details">
                      <span class='product-variant-picker__option__title'>{{ value }}</span>
                      <span class='product-variant-picker__option__description'>{{ product.variants[forloop.index0].metafields.custom.product_label_2.value }}</span>
                    </div>
                    <span class='product-variant-picker__option__price'>{{ product.variants[forloop.index0].price | money_without_trailing_zeros }}</span>
                  </div>
                </label>
              {%- endfor -%}
            </div>
          {%- else -%}
            <div class='product-variant-picker__option-label'>
              {{ option.name }}

              {%- assign option_name_downcase = option.name | downcase -%}

              {%- if block_option_name_downcase == option_name_downcase -%}
                <sidebar-button>
                  <button
                    data-sidebar-button
                    data-sidebar-id='product-variant-picker-popup-{{ product.id }}-{{ sectionId }}'
                    class='unstyled-button product-variant-picker__popup-toggle'
                    type='button'
                  >
                    <span>{{ information_drawer_button_label }}</span>
                  </button>
                </sidebar-button>
              {%- endif -%}
            </div>
            <dropdown-opener
              class='variant-picker-dropdown__toggle {% if option_type == 'dropdown-underline' %} variant-picker-dropdown__toggle--underline {% elsif option_type == 'dropdown-outline' %} variant-picker-dropdown__toggle--outline {% elsif option_type == 'dropdown-solid' %} variant-picker-dropdown__toggle--solid {% endif %}'
              data-aria-expanded='false'
              data-float-element-id='variant-picker-dropdown-{{ sectionId }}-{{ product.id }}-{{ option.position }}-{{ forloop.index0 }}'
              data-trigger='click'
              tabindex='0'
            >
              <div class='variant-picker-dropdown__toggle-label' data-dropdown-variant-picker-label>
                <span>{{ option.selected_value }}</span>
              </div>
              {%- render 'icon', icon_name: 'chevron', class: 'variant-picker-dropdown__chevron' -%}
            </dropdown-opener>
            <float-element
              class='variant-picker-dropdown {% if option_type == 'dropdown-underline' %} variant-picker-dropdown--underline {% endif %}'
              aria-hidden='true'
              id='variant-picker-dropdown-{{ sectionId }}-{{ product.id }}-{{ option.position }}-{{ forloop.index0 }}'
              data-placement='bottom-start'
              data-main-axis-offset='{% if settings.round_level != "1" %} 8{% else %} 0{% endif %}'
            >
              <template data-float-element-template='variant-picker-dropdown-{{ sectionId }}-{{ product.id }}-{{ option.position }}-{{ forloop.index0 }}'>
                <div class='variant-picker-dropdown__body'>
                  {%- for value in option.values -%}
                    <label
                      class='variant-picker-dropdown__item {% if option.selected_value == value %} selected {% endif %}'
                      for='{{ sectionId }}-{{ product.id }}-{{ option.position }}-{{ forloop.index0 }}'
                      tabindex='0'
                      data-focus-trap-target
                    >
                      <span>{{ value }}</span>
                    </label>
                  {%- endfor -%}
                </div>
              </template>
            </float-element>
          {%- endif -%}
        </div>
      {%- endfor -%}
    </div>
    <script data-variant-picker-variants type='application/json'>
      {{ product.variants | json }}
    </script>
  </variant-picker>
{%- endif -%}
