{%- liquid
  assign options = block.settings
  assign block_style = options.style
  assign title = options.title | default: options.page.title
  assign custom_liquid = block.settings.custom_liquid
  assign custom_icon_image = options.custom_icon_image
  assign icon = options.icon
-%}
{%- if options.style contains 'collapsible' -%}
  <accordeon-component
    class='accordeon-plus accordeon-plus--bottom-bordered accordeon-plus--top-bordered product-content-tab product-content-tab--collapsible-row'
    data-aria-expanded='{% if block_style == 'collapsible_row_open' %}true{% else %}false{% endif %}'
    {{ block.shopify_attributes }}
  >
    <accordeon-btn class='accordeon-plus__btn accordeon-plus__btn--small product-content-tab__btn' tabindex='0'>
      {%- if custom_icon_image != blank -%}
        <img
          {% render 'image-attributes', image: custom_icon_image, size: 'small', class: 'accordeon-plus__btn-icon' %}
        >
      {%- elsif icon != 'none' -%}
        {% render 'icon-pack', icon: icon, class: 'accordeon-plus__btn-icon' %}
      {%- endif -%}
      {{ title }}
      {%- render 'icon', icon_name: 'plus', class: 'accordeon-plus__icon' -%}
    </accordeon-btn>
    <div class='accordeon-plus__content-wrap' data-accordeon-content-wrapper>
      <div class='accordeon-plus__content product-content-tab__content' data-accordeon-content>
        <div class='rte product-content-tab__rte product-content-tab__text'>
          {{ custom_liquid }}
        </div>
      </div>
    </div>
  </accordeon-component>
{%- else -%}
  <div class='product-content-tab' {{ block.shopify_attributes }}>
    {% if title != blank %}
      <div class='product-content-tab__title'>
        {%- if custom_icon_image != blank -%}
          <img
            {% render 'image-attributes',
              image: custom_icon_image,
              size: 'small',
              class: 'product-content-tab__title-icon'
            %}
          >
        {%- elsif icon != 'none' -%}
          {% render 'icon-pack', icon: icon, class: 'product-content-tab__title-icon' %}
        {%- endif -%}
        {{ title }}
      </div>
    {% endif %}
    {% if custom_liquid != blank %}
      <div class='rte product-content-tab__rte product-content-tab__text'>
        {{ custom_liquid }}
      </div>
    {% endif %}
  </div>
{%- endif -%}
