{%- liquid
  assign options = block.settings
  assign show_tax_status = options.show_tax_status
  assign taxes_included = cart.taxes_included
  assign currency_code = cart.currency.iso_code | default: shop.currency
-%}

{% capture section_background_color %}
  {% render 'get-section-background-color', section: section %}
{% endcapture %}

<div class='product-general-info-block block-{{ block.id }}' {{ block.shopify_attributes }}>
  <product-block
    class='product-price-wrapper'
    id='product-price-{{ product.id }}-{{ sectionId }}'
  >
    {%- for variant in product.variants -%}
      {% assign price = variant.price | default: 0 %}

      <template data-product-block-template='{{ variant.id }}'>
        <div class='product-price__content' data-product-block-item>
          <div class='product-price__cost'>
            <div class='product-price__current-price {% if block.settings.highlight_sale_price and variant.compare_at_price > price %} product-price__current-price--highlight-sale{% endif %}'>
              <span class='product-price__currency-code'>{{ currency_code }}</span> {{ variant.price | money }}
              {%- if variant.unit_price_measurement -%}
                (<span class='product-price__currency-code'>{{ currency_code }}</span> {{ variant.unit_price | money }}
                <span aria-hidden='true'>/</span>
                {%- if variant.unit_price_measurement.reference_value != 1 -%}
                  {{- variant.unit_price_measurement.reference_value -}}
                {%- endif -%}
                {{ variant.unit_price_measurement.reference_unit }})
              {%- endif -%}
            </div>
            {%- if variant.compare_at_price > price -%}
              <div class='product-price__old-price  {% if block.settings.highlight_sale_price and variant.compare_at_price > price %} product-price__old-price--highlight-sale{% endif %}'>
                <span class='product-price__currency-code'>{{ currency_code }}</span> {{ variant.compare_at_price | money }}
              </div>
            {%- endif -%}
          </div>
          {%- if variant.compare_at_price > price and variant.available and block.settings.show_sale_amount_badge -%}
            {% render 'badges',
              name: 'sale_amount',
              section_background_color: section_background_color,
              product: variant
            %}
          {%- endif -%}
        </div>
      </template>
    {%- endfor -%}
    {%- liquid
      assign variant = product.selected_or_first_available_variant
      assign compare_at_price = variant.compare_at_price | default: 0
      assign price = variant.price | default: 0
      assign custom_duties = settings.custom_duties | newline_to_br | split: '<br />'
    -%}
    <script>
      {%- if custom_duties -%}
      var customDuties = {
        {% for duty in custom_duties %}
         {%- liquid
            assign key = duty | split: ':' | first | strip | json 
            assign value = duty | split: ':' | last | strip | json
         -%}
         {{ key }}: {{ value }}{%- unless forloop.last -%},{%- endunless -%}
        {% endfor %}
      };
      {%- endif -%}
    </script>
    <div class='product-price' data-product-block-container>
      <div class='product-price__content' data-product-block-item>
        <div class='product-price__cost'>
          <div class='product-price__current-price {% if block.settings.highlight_sale_price and variant.compare_at_price > price %} product-price__current-price--highlight-sale{% endif %}'>
            <span class='product-price__currency-code'>{{ currency_code }}</span> {{ price | money }}
            {%- if variant.unit_price_measurement -%}
              (<span class='product-price__currency-code'>{{ currency_code }}</span> {{ variant.unit_price | money }}
              <span aria-hidden='true'>/</span>
              {%- if variant.unit_price_measurement.reference_value != 1 -%}
                {{- variant.unit_price_measurement.reference_value -}}
              {%- endif -%}
              {{ variant.unit_price_measurement.reference_unit }})
            {%- endif -%}
          </div>
          {%- if compare_at_price > price -%}
            <div class='product-price__old-price {% if block.settings.highlight_sale_price %} product-price__old-price--highlight-sale{% endif %}'>
              <span class='product-price__currency-code'>{{ currency_code }}</span> {{ compare_at_price | money }}
            </div>
          {%- endif -%}
        </div>
        {%- if variant.compare_at_price > price and variant.available and block.settings.show_sale_amount_badge -%}
          <div class='product-sale-amount-badge'>
            {% render 'sale-amount-badge-text',
              price: variant.price,
              old_price: variant.compare_at_price,
              section_background_color: section_background_color
            %}
          </div>
        {%- endif -%}
      </div>
    </div>
    {%- if show_tax_status -%}
      <div class='product-price__tax-status'>
        {% render 'taxes-included-label' %}
      </div>
    {%- endif -%}
  </product-block>
</div>

<script>
  var dynamicShippingText = {
    eu_shipping: "{% assign temp = 'product.store_front.shipping.eu' | t %}{%  if temp %}{{ temp }}{% endif %}",
    non_eu_shipping: "{% assign temp = 'product.store_front.shipping.non_eu' | t %}{%  if temp %}{{ temp }}{% endif %}",
    us_shipping: "{% assign temp = 'product.store_front.shipping.us' | t %}{%  if temp %}{{ temp }}{% endif %}",
    worldwide_shipping: "{% assign temp = 'product.store_front.shipping.worldwide' | t %}{%  if temp %}{{ temp }}{% endif %}",
  }
</script>