{% liquid
  assign options = block.settings
  assign color_scheme = options.color_scheme
  assign show_background = options.show_background
  assign heading = options.heading
  assign heading_size = options.heading_size
  assign body = options.body
  assign content_align = options.content_alignment
  assign width = options.timer_desktop_width
%}

{% capture css %}
  {% style %}
    .block-{{block.id}} {
        --gsc-content-align: {{ content_align }};
        --gsc-timer-in-block-width: {{ width }}%;
    }
  {% endstyle %}
{% endcapture %}

{% render 'inline-css-minifier', css: css %}

<div
  class='timer-block color-{{ color_scheme }} {% if show_background %} timer-block--with-background{% endif %}'
  {{ attrs }}
>
  {% if heading != blank %}
    <h2 class='timer-block__heading {{ heading_size }}'>
      {{ heading }}
    </h2>
  {% endif %}
  {% if body != blank %}
    <div
      class='rte timer-block__body body-font-weight-from-global-settings'
    >
      {{ body }}
    </div>
  {% endif %}
  {% render 'timer', block: block, ensure_width: ensure_width %}
</div>
