{%- liquid
  assign options = section.settings

  assign color_scheme = options.color_scheme
  assign section_spacing_top = options.section_spacing_top
  assign section_spacing_bottom = options.section_spacing_bottom
  assign desktop_row_height = options.desktop_row_height
  assign mobile_row_height = options.mobile_row_height
  assign desktop_space_between_cards = options.desktop_space_between_cards | times: 0.1
  assign mobile_space_between_cards = options.mobile_space_between_cards | times: 0.1
  assign container_size = options.container_size
  assign title = options.title
  assign alignment = options.alignment
  assign heading_size = options.heading_size
  assign columns = options.columns

  assign mobile_layout = options.mobile_layout
-%}

{% capture css %}
  {% style %}
    .section-{{section.id}}{
        --gsc-space-between-cards: {{mobile_space_between_cards}}rem;
        --gsc-collage-row-height: {{ mobile_row_height }}px;
        --gsc-section-spacing-top: {{ section_spacing_top }}px;
        --gsc-section-spacing-bottom: {{ section_spacing_bottom }}px;
        --gsc-collage-columns: {{ columns }};
    }

    @media {% render 'media-queries', screen: 'md' %} {
        .section-{{section.id}}{
            --gsc-space-between-cards: {{desktop_space_between_cards}}rem;
            --gsc-collage-row-height: {{ desktop_row_height }}px;
        }
    }

    {% for block in section.blocks %}
        .block-{{ block.id }} {
          --gsc-collage-grid-item-row-span: {{ block.settings.desktop_rows }};
          --gsc-collage-grid-item-column-span: {{ block.settings.desktop_columns }};
        }

        {% assign options = block.settings %}
        
        {% case block.type %}
                {% when 'collection' %}
                    .block-{{ block.id }} {
                        --gsc-overlay-opacity: {{ options.overlay_opacity | times: 0.01 }};
                    }

                    .block-{{ block.id }} .collection-card__content {
                        {% render 'position-and-alignment', content_position: options.content_position %}
                    }

                {% when 'image' %}
                    .block-{{ block.id }} {
                        --gsc-overlay-opacity: {{ options.overlay_opacity | times: 0.01 }};
                    }

                    .block-{{ block.id }} .image-block__content-wrap {
                        {% render 'position-and-alignment', content_position: options.content_position %}
                    }
        {% endcase %}
    {% endfor %}
  {% endstyle %}
{% endcapture %}

{% capture mobile_carousel %}
  <carousel-component
    class='carousel collage__carousel'
    data-section-id='{{ section.id }}' 
    {% if mobile_layout == 'carousel' %}
      data-breakpoints='
        {
          "(max-width: 768px)": { "dragFree": true },
          "(min-width: 768px)": { "dragFree": false }
        }
      '
    {% endif %}
    data-align="start"
    data-axis='x'
    data-draggable
    data-contain-scroll='trimSnaps'
    with-stop-on-hover
  >
    <div class='carousel__viewport collage__carousel-viewport embla {% if mobile_layout == 'carousel' %}collage__carousel-viewport--without-overflow{% endif %}' data-carousel-viewport>
      <div class='carousel__container' data-carousel-container>
        {%- for block in section.blocks -%}
          <div
            class='collage__item carousel__slide collage__carousel-slide {% if mobile_layout == 'carousel' %}collage__carousel-slide--type-carousel{% endif %} block-{{ block.id }} color-{{ block.settings.color_scheme }}'
            {{ block.shopify_attributes }}
          >
            {%- render 'collage-item', block: block, section: section -%}
          </div>
        {%- endfor -%}
      </div>
    </div>

    {%- if mobile_layout == 'slideshow' and section.blocks.size > 1 -%}
      <carousel-dots
        class='solid-dots-carousel collage__solid-dots-carousel'
        data-contain-scroll='keepSnaps'
        data-align='center'
      >
        <div class='solid-dots-carousel__viewport embla' data-carousel-viewport>
          <div class='solid-dots-carousel__container' data-carousel-container>
            {%- for block in section.blocks -%}
              <carousel-dot
                class='solid-dots-carousel__solid-dot {% if forloop.index == 1 %}is-primary{% endif %}'
                tabindex='0'
                data-dot-index='{{ forloop.index0 }}'
              >
                <div class='solid-dots-carousel__solid-dot-circle'></div>
              </carousel-dot>
            {%- endfor -%}
          </div>
        </div>
      </carousel-dots>
    {%- endif -%}
  </carousel-component>
{% endcapture %}

{% capture grid %}
  <div class='collage__card-grid'>
    {%- for block in section.blocks -%}
      <div
        class='collage__item collage__card-grid-item block-{{ block.id }} color-{{ block.settings.color_scheme }}'
        {{ block.shopify_attributes }}
      >
        {%- render 'collage-item', block: block, section: section -%}
      </div>
    {%- endfor -%}
  </div>
{% endcapture %}

{%- render 'inline-css-minifier', css: css -%}

<div class='collage section section-{{ section.id }} color-{{ color_scheme }}'>
  {%- for block in section.blocks -%}
    {%- if block.settings.link == blank and block.type == 'quote' -%}
      <sidebar-component
        class='sidebar quote-sidebar'
        id='quote-sidebar-{{ block.id }}'
        data-with-overlay
        data-with-close-on-outside
        data-with-close-on-escape
        data-overlay-important
        data-open-direction='left'
        tabindex='-1'
      >
        <template data-sidebar-template='quote-sidebar-{{ block.id }}'>
          <div class='sidebar__body quote-sidebar__body' data-sidebar-body>
            <sidebar-button>
              <button
                data-sidebar-button
                data-sidebar-id='quote-sidebar-{{ block.id }}'
                class=' unstyled-button quote-sidebar__close-button-with-scale-hover close-button-with-scale-hover'
                aria-label='{{- 'general.quote.screen_reader.aria_label_for_close_drawer_button' | t -}}'
              ></button>
            </sidebar-button>
            {%- render 'quote', class: 'quote-sidebar__quote', block: block, is_inside_sidebar: true -%}
          </div>
        </template>
      </sidebar-component>
    {%- endif -%}
  {%- endfor -%}

  <div class='collage__container container container--{{ container_size }} section-spacing'>
    {%- if title != blank -%}
      <div class='collage__header {% if alignment == 'center' %}collage__header--center{% endif %}'>
        <h5 class='collage__title {{ heading_size }}'>{{ title }}</h5>
      </div>
    {%- endif -%}

    {%- if section.blocks.size > 0 -%}
      <div class='collage__blocks'>
        <div class='collage__desktop-content'>
          {{ grid }}
        </div>

        <div class='collage__mobile-content'>
          {% if mobile_layout contains 'column' %}
            {{ grid }}
          {% else %}
            {{ mobile_carousel }}
          {% endif %}
        </div>
      </div>
    {%- endif -%}
  </div>
</div>

{% render 'save-section-data-in-global-scope', section: section %}

{% schema %}
{
  "name": "t:sections.collage.name",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "default",
          "label": "t:sections.general_section_settings.color_scheme_option_default_label"
        },
        {
          "value": "primary",
          "label": "t:sections.general_section_settings.color_scheme_option_primary_label"
        },
        {
          "value": "secondary",
          "label": "t:sections.general_section_settings.color_scheme_option_secondary_label"
        },
        {
          "value": "custom-1",
          "label": "t:sections.general_section_settings.color_scheme_option_custom_1_label"
        },
        {
          "value": "custom-2",
          "label": "t:sections.general_section_settings.color_scheme_option_custom_2_label"
        },
        {
          "value": "custom-3",
          "label": "t:sections.general_section_settings.color_scheme_option_custom_3_label"
        },
        {
          "value": "white",
          "label": "t:sections.general_section_settings.color_scheme_option_white_text_label"
        },
        {
          "value": "black",
          "label": "t:sections.general_section_settings.color_scheme_option_black_text_label"
        }
      ],
      "default": "default",
      "label": "t:sections.general_section_settings.color_scheme_label",
      "info": "t:sections.general_section_settings.color_scheme_tip"
    },
    {
      "type": "select",
      "id": "container_size",
      "options": [
        {
          "value": "full-screen",
          "label": "t:sections.general_section_settings.container_size.screen_width_option"
        },
        {
          "value": "page-width",
          "label": "t:sections.general_section_settings.container_size.page_width_option"
        },
        {
          "value": "large",
          "label": "t:sections.general_section_settings.container_size.large_width_option"
        },
        {
          "value": "medium",
          "label": "t:sections.general_section_settings.container_size.medium_width_option"
        }
      ],
      "default": "large",
      "label": "t:sections.general_section_settings.container_size.label"
    },
    {
      "type": "range",
      "id": "section_spacing_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 48,
      "unit": "t:sections.general_section_settings.section_spacing_top.unit",
      "label": "t:sections.general_section_settings.section_spacing_top.label"
    },
    {
      "type": "range",
      "id": "section_spacing_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 48,
      "unit": "t:sections.general_section_settings.section_spacing_bottom.unit",
      "label": "t:sections.general_section_settings.section_spacing_bottom.label"
    },
    {
      "type": "header",
      "content": "t:sections.collage.heading_settings_header.content"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Collage",
      "label": "t:sections.collage.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.general_section_settings.label_for_heading_size_setting",
      "options": [
        {
          "value": "h0",
          "label": "t:sections.general_section_settings.heading_size_0_option"
        },
        {
          "value": "h1",
          "label": "t:sections.general_section_settings.heading_size_1_option"
        },
        {
          "value": "h2",
          "label": "t:sections.general_section_settings.heading_size_2_option"
        },
        {
          "value": "h3",
          "label": "t:sections.general_section_settings.heading_size_3_option"
        },
        {
          "value": "h4",
          "label": "t:sections.general_section_settings.heading_size_4_option"
        },
        {
          "value": "h5",
          "label": "t:sections.general_section_settings.heading_size_5_option"
        },
        {
          "value": "h6",
          "label": "t:sections.general_section_settings.heading_size_6_option"
        },
        {
          "value": "h7",
          "label": "t:sections.general_section_settings.heading_size_7_option"
        }
      ],
      "default": "h5"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "t:sections.general_section_settings.heading_alignment_label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.general_section_settings.alignment_option_left_label"
        },
        {
          "value": "center",
          "label": "t:sections.general_section_settings.alignment_option_center_label"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "t:sections.collage.layout.content"
    },
    {
      "type": "range",
      "id": "columns",
      "min": 3,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "t:sections.collage.columns.label"
    },
    {
      "type": "range",
      "id": "desktop_row_height",
      "min": 240,
      "max": 600,
      "step": 10,
      "default": 340,
      "unit": "t:sections.collage.desktop_row_height.unit",
      "label": "t:sections.collage.desktop_row_height.label"
    },
    {
      "type": "range",
      "id": "mobile_row_height",
      "min": 240,
      "max": 600,
      "step": 10,
      "default": 500,
      "unit": "t:sections.collage.mobile_row_height.unit",
      "label": "t:sections.collage.mobile_row_height.label"
    },
    {
      "type": "range",
      "id": "desktop_space_between_cards",
      "min": 0,
      "max": 32,
      "step": 1,
      "default": 16,
      "unit": "t:sections.collage.desktop_space_between_cards.unit",
      "label": "t:sections.collage.desktop_space_between_cards.label"
    },
    {
      "type": "range",
      "id": "mobile_space_between_cards",
      "min": 0,
      "max": 32,
      "step": 1,
      "default": 16,
      "unit": "t:sections.collage.mobile_space_between_cards.unit",
      "label": "t:sections.collage.mobile_space_between_cards.label"
    },
    {
      "type": "select",
      "id": "mobile_layout",
      "options": [
        {
          "value": "carousel",
          "label": "t:sections.general_section_settings.mobile_layout.options.option_1"
        },
        {
          "value": "slideshow",
          "label": "t:sections.general_section_settings.mobile_layout.options.option_2"
        },
        {
          "value": "one-column",
          "label": "t:sections.general_section_settings.mobile_layout.options.option_3"
        }
      ],
      "default": "carousel",
      "label": "t:sections.general_section_settings.mobile_layout.label"
    }
  ],
  "blocks": [
    {
      "type": "rich-text",
      "name": "t:sections.collage.blocks.rich_text.name",
      "settings": [
        {
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.general_section_settings.color_scheme_option_primary_label"
            },
            {
              "value": "secondary",
              "label": "t:sections.general_section_settings.color_scheme_option_secondary_label"
            },
            {
              "value": "custom-1",
              "label": "t:sections.general_section_settings.color_scheme_option_custom_1_label"
            },
            {
              "value": "custom-2",
              "label": "t:sections.general_section_settings.color_scheme_option_custom_2_label"
            },
            {
              "value": "custom-3",
              "label": "t:sections.general_section_settings.color_scheme_option_custom_3_label"
            },
            {
              "value": "white",
              "label": "t:sections.general_section_settings.color_scheme_option_white_text_label"
            },
            {
              "value": "black",
              "label": "t:sections.general_section_settings.color_scheme_option_black_text_label"
            }
          ],
          "default": "primary",
          "label": "t:sections.general_section_settings.color_scheme_label",
          "info": "t:sections.general_section_settings.color_scheme_tip",
          "info": "t:sections.general_section_settings.color_scheme_tip"
        },
        {
          "type": "header",
          "content": "t:sections.collage.blocks.rich_text.card_size_setting_header.content",
          "info": "t:sections.collage.blocks.rich_text.card_size_setting_header.info"
        },
        {
          "type": "range",
          "id": "desktop_columns",
          "min": 1,
          "max": 3,
          "step": 1,
          "default": 1,
          "label": "t:sections.collage.blocks.rich_text.desktop_columns.label"
        },
        {
          "type": "range",
          "id": "desktop_rows",
          "min": 1,
          "max": 3,
          "step": 1,
          "default": 1,
          "label": "t:sections.collage.blocks.rich_text.desktop_rows.label"
        },
        {
          "type": "header",
          "content": "t:sections.collage.blocks.rich_text.content_setting_header.content"
        },

        {
          "type": "text",
          "id": "caption",
          "default": "RICH TEXT",
          "label": "t:sections.collage.blocks.rich_text.caption.label"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Tell about your brand",
          "label": "t:sections.collage.blocks.rich_text.title.label"
        },
        {
          "type": "textarea",
          "id": "text",
          "default": "Share information about your brand with your customers. Describe a product, make announcements or welcome customers to your store.",
          "label": "t:sections.collage.blocks.rich_text.text.label"
        },

        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.general_section_settings.label_for_heading_size_setting",
          "options": [
            {
              "value": "h0",
              "label": "t:sections.general_section_settings.heading_size_0_option"
            },
            {
              "value": "h1",
              "label": "t:sections.general_section_settings.heading_size_1_option"
            },
            {
              "value": "h2",
              "label": "t:sections.general_section_settings.heading_size_2_option"
            },
            {
              "value": "h3",
              "label": "t:sections.general_section_settings.heading_size_3_option"
            },
            {
              "value": "h4",
              "label": "t:sections.general_section_settings.heading_size_4_option"
            },
            {
              "value": "h5",
              "label": "t:sections.general_section_settings.heading_size_5_option"
            },
            {
              "value": "h6",
              "label": "t:sections.general_section_settings.heading_size_6_option"
            },
            {
              "value": "h7",
              "label": "t:sections.general_section_settings.heading_size_7_option"
            }
          ],
          "default": "h5"
        },
        {
          "type": "select",
          "id": "body_size",
          "label": "t:sections.general_section_settings.label_for_body_size_setting",
          "options": [
            {
              "value": "body0",
              "label": "t:sections.general_section_settings.body_size_0_option"
            },
            {
              "value": "body1",
              "label": "t:sections.general_section_settings.body_size_1_option"
            },
            {
              "value": "body2",
              "label": "t:sections.general_section_settings.body_size_2_option"
            },
            {
              "value": "body3",
              "label": "t:sections.general_section_settings.body_size_3_option"
            },
            {
              "value": "body4",
              "label": "t:sections.general_section_settings.body_size_4_option"
            },
            {
              "value": "body5",
              "label": "t:sections.general_section_settings.body_size_5_option"
            },
            {
              "value": "body6",
              "label": "t:sections.general_section_settings.body_size_6_option"
            }
          ],
          "default": "body3"
        },
        {
          "type": "select",
          "id": "content_align",
          "label": "t:sections.general_section_settings.content_alignment_label",
          "options": [
            {
              "value": "left",
              "label": "t:sections.general_section_settings.alignment_option_left_label"
            },
            {
              "value": "center",
              "label": "t:sections.general_section_settings.alignment_option_center_label"
            },
            {
              "value": "right",
              "label": "t:sections.general_section_settings.alignment_option_right_label"
            }
          ],
          "default": "center"
        },

        {
          "type": "header",
          "content": "t:sections.collage.blocks.rich_text.buttons_setting_header.content"
        },
        {
          "type": "text",
          "id": "btn_text",
          "default": "Button label",
          "label": "t:sections.collage.blocks.rich_text.btn_text.label"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "t:sections.collage.blocks.rich_text.btn_url.label"
        },
        {
          "type": "select",
          "id": "btn_style",
          "options": [
            {
              "value": "solid",
              "label": "t:sections.collage.blocks.rich_text.btn_style.option_1"
            },
            {
              "value": "outline",
              "label": "t:sections.collage.blocks.rich_text.btn_style.option_2"
            },
            {
              "value": "link",
              "label": "t:sections.collage.blocks.rich_text.btn_style.option_3"
            }
          ],
          "default": "link",
          "label": "t:sections.collage.blocks.rich_text.btn_style.label"
        }
      ]
    },
    {
      "type": "collection",
      "name": "t:sections.collage.blocks.collection.name",
      "settings": [
        {
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.general_section_settings.color_scheme_option_primary_label"
            },
            {
              "value": "secondary",
              "label": "t:sections.general_section_settings.color_scheme_option_secondary_label"
            },
            {
              "value": "custom-1",
              "label": "t:sections.general_section_settings.color_scheme_option_custom_1_label"
            },
            {
              "value": "custom-2",
              "label": "t:sections.general_section_settings.color_scheme_option_custom_2_label"
            },
            {
              "value": "custom-3",
              "label": "t:sections.general_section_settings.color_scheme_option_custom_3_label"
            },
            {
              "value": "white",
              "label": "t:sections.general_section_settings.color_scheme_option_white_text_label"
            },
            {
              "value": "black",
              "label": "t:sections.general_section_settings.color_scheme_option_black_text_label"
            }
          ],
          "default": "white",
          "label": "t:sections.general_section_settings.color_scheme_label",
          "info": "t:sections.general_section_settings.color_scheme_tip",
          "info": "t:sections.general_section_settings.color_scheme_tip"
        },
        {
          "type": "header",
          "content": "t:sections.collage.blocks.collection.card_size_setting_header.content",
          "info": "t:sections.collage.blocks.collection.card_size_setting_header.info"
        },
        {
          "type": "range",
          "id": "desktop_columns",
          "min": 1,
          "max": 3,
          "step": 1,
          "default": 2,
          "label": "t:sections.collage.blocks.collection.desktop_columns.label"
        },
        {
          "type": "range",
          "id": "desktop_rows",
          "min": 1,
          "max": 3,
          "step": 1,
          "default": 2,
          "label": "t:sections.collage.blocks.collection.desktop_rows.label"
        },
        {
          "type": "header",
          "content": "t:sections.collage.blocks.collection.collection_setting_header.content"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collage.blocks.collection.collection.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.general_section_settings.label_for_collection_name_size_setting",
          "options": [
            {
              "value": "h0",
              "label": "t:sections.general_section_settings.heading_size_0_option"
            },
            {
              "value": "h1",
              "label": "t:sections.general_section_settings.heading_size_1_option"
            },
            {
              "value": "h2",
              "label": "t:sections.general_section_settings.heading_size_2_option"
            },
            {
              "value": "h3",
              "label": "t:sections.general_section_settings.heading_size_3_option"
            },
            {
              "value": "h4",
              "label": "t:sections.general_section_settings.heading_size_4_option"
            },
            {
              "value": "h5",
              "label": "t:sections.general_section_settings.heading_size_5_option"
            },
            {
              "value": "h6",
              "label": "t:sections.general_section_settings.heading_size_6_option"
            },
            {
              "value": "h7",
              "label": "t:sections.general_section_settings.heading_size_7_option"
            }
          ],
          "default": "h6"
        },
        {
          "type": "checkbox",
          "id": "show_product_count",
          "default": true,
          "label": "t:sections.collage.blocks.collection.show_product_count.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.collage.blocks.collection.image.label"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 20,
          "unit": "t:sections.collage.blocks.collection.overlay_opacity.unit",
          "label": "t:sections.collage.blocks.collection.overlay_opacity.label"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "t:sections.collage.blocks.collection.link_text.label",
          "default": "Link label"
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "t:sections.general_section_settings.content_position_label",
          "options": [
            {
              "value": "top-left",
              "label": "t:sections.general_section_settings.position_option_top_left_label"
            },
            {
              "value": "top-center",
              "label": "t:sections.general_section_settings.position_option_top_center_label"
            },
            {
              "value": "top-right",
              "label": "t:sections.general_section_settings.position_option_top_right_label"
            },
            {
              "value": "center-left",
              "label": "t:sections.general_section_settings.position_option_center_left_label"
            },
            {
              "value": "center-center",
              "label": "t:sections.general_section_settings.position_option_center_center_label"
            },
            {
              "value": "center-right",
              "label": "t:sections.general_section_settings.position_option_center_right_label"
            },
            {
              "value": "bottom-left",
              "label": "t:sections.general_section_settings.position_option_bottom_left_label"
            },
            {
              "value": "bottom-center",
              "label": "t:sections.general_section_settings.position_option_bottom_center_label"
            },
            {
              "value": "bottom-right",
              "label": "t:sections.general_section_settings.position_option_bottom_right_label"
            }
          ],
          "default": "bottom-left"
        }
      ]
    },
    {
      "type": "image",
      "name": "t:sections.collage.blocks.image.name",
      "settings": [
        {
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.general_section_settings.color_scheme_option_primary_label"
            },
            {
              "value": "secondary",
              "label": "t:sections.general_section_settings.color_scheme_option_secondary_label"
            },
            {
              "value": "custom-1",
              "label": "t:sections.general_section_settings.color_scheme_option_custom_1_label"
            },
            {
              "value": "custom-2",
              "label": "t:sections.general_section_settings.color_scheme_option_custom_2_label"
            },
            {
              "value": "custom-3",
              "label": "t:sections.general_section_settings.color_scheme_option_custom_3_label"
            },
            {
              "value": "white",
              "label": "t:sections.general_section_settings.color_scheme_option_white_text_label"
            },
            {
              "value": "black",
              "label": "t:sections.general_section_settings.color_scheme_option_black_text_label"
            }
          ],
          "default": "white",
          "label": "t:sections.general_section_settings.color_scheme_label",
          "info": "t:sections.general_section_settings.color_scheme_tip",
          "info": "t:sections.general_section_settings.color_scheme_tip"
        },
        {
          "type": "header",
          "content": "t:sections.collage.blocks.image.card_size_setting_header.content",
          "info": "t:sections.collage.blocks.image.card_size_setting_header.info"
        },
        {
          "type": "range",
          "id": "desktop_columns",
          "min": 1,
          "max": 3,
          "step": 1,
          "default": 2,
          "label": "t:sections.collage.blocks.image.desktop_columns.label"
        },
        {
          "type": "range",
          "id": "desktop_rows",
          "min": 1,
          "max": 3,
          "step": 1,
          "default": 1,
          "label": "t:sections.collage.blocks.image.desktop_rows.label"
        },

        {
          "type": "header",
          "content": "t:sections.collage.blocks.image.image_settings_header.content"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.collage.blocks.image.image.label"
        },
        {
          "type": "video",
          "id": "video",
          "label": "t:sections.collage.blocks.image.video.label"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 20,
          "unit": "t:sections.collage.blocks.image.overlay_opacity.unit",
          "label": "t:sections.collage.blocks.image.overlay_opacity.label"
        },
        {
          "type": "header",
          "content": "t:sections.collage.blocks.image.content_settings_header.content"
        },
        {
          "type": "text",
          "id": "caption",
          "label": "t:sections.collage.blocks.image.caption.label",
          "default": "IMAGE"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.collage.blocks.image.title.label",
          "default": "Image with text"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.collage.blocks.image.text.label",
          "default": "<p>Fill in the text to tell customers by what your products are inspired.</p>"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.general_section_settings.label_for_heading_size_setting",
          "options": [
            {
              "value": "h0",
              "label": "t:sections.general_section_settings.heading_size_0_option"
            },
            {
              "value": "h1",
              "label": "t:sections.general_section_settings.heading_size_1_option"
            },
            {
              "value": "h2",
              "label": "t:sections.general_section_settings.heading_size_2_option"
            },
            {
              "value": "h3",
              "label": "t:sections.general_section_settings.heading_size_3_option"
            },
            {
              "value": "h4",
              "label": "t:sections.general_section_settings.heading_size_4_option"
            },
            {
              "value": "h5",
              "label": "t:sections.general_section_settings.heading_size_5_option"
            },
            {
              "value": "h6",
              "label": "t:sections.general_section_settings.heading_size_6_option"
            },
            {
              "value": "h7",
              "label": "t:sections.general_section_settings.heading_size_7_option"
            }
          ],
          "default": "h6"
        },
        {
          "type": "select",
          "id": "body_size",
          "label": "t:sections.general_section_settings.label_for_body_size_setting",
          "info": "t:sections.general_section_settings.info_for_body_size_setting",
          "options": [
            {
              "value": "body0",
              "label": "t:sections.general_section_settings.body_size_0_option"
            },
            {
              "value": "body1",
              "label": "t:sections.general_section_settings.body_size_1_option"
            },
            {
              "value": "body2",
              "label": "t:sections.general_section_settings.body_size_2_option"
            },
            {
              "value": "body3",
              "label": "t:sections.general_section_settings.body_size_3_option"
            },
            {
              "value": "body4",
              "label": "t:sections.general_section_settings.body_size_4_option"
            },
            {
              "value": "body5",
              "label": "t:sections.general_section_settings.body_size_5_option"
            },
            {
              "value": "body6",
              "label": "t:sections.general_section_settings.body_size_6_option"
            }
          ],
          "default": "body3"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "t:sections.collage.blocks.image.link_text.label",
          "default": "Link label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.collage.blocks.image.link.label"
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "t:sections.general_section_settings.content_position_label",
          "options": [
            {
              "value": "top-left",
              "label": "t:sections.general_section_settings.position_option_top_left_label"
            },
            {
              "value": "top-center",
              "label": "t:sections.general_section_settings.position_option_top_center_label"
            },
            {
              "value": "top-right",
              "label": "t:sections.general_section_settings.position_option_top_right_label"
            },
            {
              "value": "center-left",
              "label": "t:sections.general_section_settings.position_option_center_left_label"
            },
            {
              "value": "center-center",
              "label": "t:sections.general_section_settings.position_option_center_center_label"
            },
            {
              "value": "center-right",
              "label": "t:sections.general_section_settings.position_option_center_right_label"
            },
            {
              "value": "bottom-left",
              "label": "t:sections.general_section_settings.position_option_bottom_left_label"
            },
            {
              "value": "bottom-center",
              "label": "t:sections.general_section_settings.position_option_bottom_center_label"
            },
            {
              "value": "bottom-right",
              "label": "t:sections.general_section_settings.position_option_bottom_right_label"
            }
          ],
          "default": "center-center"
        }
      ]
    },
    {
      "type": "product",
      "name": "t:sections.collage.blocks.product.name",
      "settings": [
        {
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.general_section_settings.color_scheme_option_primary_label"
            },
            {
              "value": "secondary",
              "label": "t:sections.general_section_settings.color_scheme_option_secondary_label"
            },
            {
              "value": "custom-1",
              "label": "t:sections.general_section_settings.color_scheme_option_custom_1_label"
            },
            {
              "value": "custom-2",
              "label": "t:sections.general_section_settings.color_scheme_option_custom_2_label"
            },
            {
              "value": "custom-3",
              "label": "t:sections.general_section_settings.color_scheme_option_custom_3_label"
            },
            {
              "value": "white",
              "label": "t:sections.general_section_settings.color_scheme_option_white_text_label"
            },
            {
              "value": "black",
              "label": "t:sections.general_section_settings.color_scheme_option_black_text_label"
            }
          ],
          "default": "primary",
          "label": "t:sections.general_section_settings.color_scheme_label",
          "info": "t:sections.general_section_settings.color_scheme_tip",
          "info": "t:sections.general_section_settings.color_scheme_tip"
        },
        {
          "type": "header",
          "content": "t:sections.collage.blocks.product.card_size_setting_header.content",
          "info": "t:sections.collage.blocks.product.card_size_setting_header.info"
        },
        {
          "type": "range",
          "id": "desktop_columns",
          "min": 1,
          "max": 3,
          "step": 1,
          "default": 1,
          "label": "t:sections.collage.blocks.product.desktop_columns.label"
        },
        {
          "type": "range",
          "id": "desktop_rows",
          "min": 1,
          "max": 3,
          "step": 1,
          "default": 1,
          "label": "t:sections.collage.blocks.product.desktop_rows.label"
        },
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.collage.blocks.product.product.label"
        },
        {
          "type": "select",
          "id": "product_card_align",
          "label": "t:sections.general_section_settings.content_alignment_label",
          "options": [
            {
              "value": "left",
              "label": "t:sections.general_section_settings.alignment_option_left_label"
            },
            {
              "value": "center",
              "label": "t:sections.general_section_settings.alignment_option_center_label"
            }
          ],
          "default": "left"
        }
      ]
    },
    {
      "type": "quote",
      "name": "t:sections.collage.blocks.quote.name",
      "settings": [
        {
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.general_section_settings.color_scheme_option_primary_label"
            },
            {
              "value": "secondary",
              "label": "t:sections.general_section_settings.color_scheme_option_secondary_label"
            },
            {
              "value": "custom-1",
              "label": "t:sections.general_section_settings.color_scheme_option_custom_1_label"
            },
            {
              "value": "custom-2",
              "label": "t:sections.general_section_settings.color_scheme_option_custom_2_label"
            },
            {
              "value": "custom-3",
              "label": "t:sections.general_section_settings.color_scheme_option_custom_3_label"
            },
            {
              "value": "white",
              "label": "t:sections.general_section_settings.color_scheme_option_white_text_label"
            },
            {
              "value": "black",
              "label": "t:sections.general_section_settings.color_scheme_option_black_text_label"
            }
          ],
          "default": "primary",
          "label": "t:sections.general_section_settings.color_scheme_label",
          "info": "t:sections.general_section_settings.color_scheme_tip",
          "info": "t:sections.general_section_settings.color_scheme_tip"
        },
        {
          "type": "header",
          "content": "t:sections.collage.blocks.quote.card_size_setting_header.content",
          "info": "t:sections.collage.blocks.quote.card_size_setting_header.info"
        },
        {
          "type": "range",
          "id": "desktop_columns",
          "min": 1,
          "max": 3,
          "step": 1,
          "default": 1,
          "label": "t:sections.collage.blocks.quote.desktop_columns.label"
        },
        {
          "type": "range",
          "id": "desktop_rows",
          "min": 1,
          "max": 3,
          "step": 1,
          "default": 1,
          "label": "t:sections.collage.blocks.quote.desktop_rows.label"
        },

        {
          "type": "header",
          "content": "t:sections.collage.blocks.quote.content_settings_header.content"
        },
        {
          "type": "textarea",
          "id": "text",
          "default": "Add authentic testimonials of your customers talking about your products or brand in their own words, so that future customers can identify with them and their needs.",
          "label": "t:sections.collage.blocks.quote.text.label"
        },
        {
          "type": "text",
          "id": "author_name",
          "default": "Author name",
          "label": "t:sections.collage.blocks.quote.author_name.label"
        },
        {
          "type": "image_picker",
          "id": "author_image",
          "label": "t:sections.collage.blocks.quote.author_image.label"
        },
        {
          "type": "range",
          "id": "rating",
          "min": 1,
          "max": 5,
          "step": 0.5,
          "default": 5,
          "label": "t:sections.collage.blocks.quote.rating.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.collage.blocks.quote.link.label",
          "info": "t:sections.collage.blocks.quote.link.info"
        },
        {
          "type": "select",
          "id": "quote_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.collage.blocks.quote.quote_alignment.option_1"
            },
            {
              "value": "center",
              "label": "t:sections.collage.blocks.quote.quote_alignment.option_2"
            }
          ],
          "default": "left",
          "label": "t:sections.collage.blocks.quote.quote_alignment.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collage.name",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "image"
        },
        {
          "type": "collection"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
