{%- liquid
  assign options = section.settings
  assign section_spacing_top = options.section_spacing_top
  assign section_spacing_bottom = options.section_spacing_bottom
  assign color_scheme = options.color_scheme
  assign container_size = options.container_size
-%}

{% capture css %}
  {% style %}
    .section-{{section.id}} {
        --gsc-section-spacing-top: {{ section_spacing_top }}px;
        --gsc-section-spacing-bottom: {{ section_spacing_bottom }}px;
    }
  {% endstyle %}
{% endcapture %}

{% render 'inline-css-minifier', css: css %}

<register-component class='login section section-{{ section.id }} color-{{ color_scheme }}'>
  <div class='container container--{{ container_size }} section-spacing'>
    <div class='login__content'>
      <h5 class='login__title' tabindex='-1'>
        {{ 'customer.register.store_front.title' | t }}
      </h5>
    </div>
    {%- form 'create_customer', novalidate: 'novalidate', class: 'login__form', data-register-form: '' -%}
      <div class='field login__field'>
        <label class='label' for='RegisterForm-FirstName'>{{ 'customer.register.store_front.first_name' | t }}</label>
        <input
          class='input input--solid input--large'
          type='text'
          id='RegisterForm-FirstName'
          name='customer[first_name]'
          {% if form.first_name %}
            value='{{ form.first_name }}'
          {% endif %}
          autocomplete='given-name'
          autofocus
          placeholder='{{ 'customer.register.store_front.first_name' | t }}'
          required
        >
      </div>

      <div class='field login__field'>
        <label class='label' for='RegisterForm-LastName'>{{ 'customer.register.store_front.last_name' | t }}</label>
        <input
          class='input input--solid input--large'
          type='text'
          id='RegisterForm-LastName'
          name='customer[last_name]'
          {% if form.last_name %}
            value='{{ form.last_name }}'
          {% endif %}
          autocomplete='family-name'
          placeholder='{{ 'customer.register.store_front.last_name' | t }}'
          required
        >
      </div>

      <div class='field login__field'>
        <label class='label' for='RegisterForm-email'>{{ 'customer.register.store_front.email' | t }}</label>
        <input
          class='input input--solid input--large'
          type='email'
          id='RegisterForm-email'
          name='customer[email]'
          {% if form.email %}
            value='{{ form.email }}'
          {% endif %}
          spellcheck='false'
          autocapitalize='off'
          autocomplete='email'
          aria-required='true'
          placeholder='{{ 'customer.register.store_front.email' | t }}'
          required
        >
      </div>

      {%- if form.errors contains 'email' -%}
        {% assign error = form.errors.translated_fields.email
          | capitalize
          | append: ' '
          | append: form.errors.messages.email
        %}
        <script>
          window.addEventListener('load', () => {
            window.bodyElement.notification.show('{{ error }}', 'warning')
            localStorage.removeItem('isRegistered')
          })
        </script>
      {%- endif -%}

      <div class='field login__field'>
        <label class='label' for='RegisterForm-password'>{{ 'customer.register.store_front.password' | t }}</label>

        <password-field class='password-input'>
          <input
            class='input input--solid input--large password-input__input'
            type='password'
            id='RegisterForm-password'
            name='customer[password]'
            aria-required='true'
            placeholder='{{ 'customer.register.store_front.password' | t }}'
            data-password-field-input
            required
          >
          <button type='button' class='password-input__btn unstyled-button' data-password-field-button>
            {% render 'icon',
              icon_name: 'password-input-opened-eye',
              class: 'password-input__icon password-input__icon--eye'
            %}
            {% render 'icon',
              icon_name: 'password-input-closed-eye',
              class: 'password-input__icon password-input__icon--closed-eye'
            %}
          </button>
        </password-field>
      </div>

      {%- if form.errors contains 'password' -%}
        {%- assign error = form.errors.translated_fields.password
          | capitalize
          | append: ' '
          | append: form.errors.messages.password
        -%}
        <script>
          window.addEventListener('load', () => {
            window.bodyElement.notification.show('{{ error }}', 'warning')
            localStorage.removeItem('isRegistered')
          })
        </script>
      {%- endif -%}

      <div class='login__btns'>
        <button
          class='btn btn--solid btn--lg login__btn'
          aria-label='{{ 'customer.register.screen_reader.create_account_button_label' | t }}'
        >
          {{ 'customer.register.store_front.create_account_button_label' | t }}
        </button>
      </div>

      <div class='login__footer'>
        {{ 'customer.register.store_front.sign_in_link_html' | t: account_login_url: routes.account_login_url }}
      </div>
    {%- endform -%}
  </div>
</register-component>

{% render 'save-section-data-in-global-scope', section: section %}

{% schema %}
{
  "name": "t:sections.register_form.name",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "default",
          "label": "t:sections.general_section_settings.color_scheme_option_default_label"
        },
        {
          "value": "primary",
          "label": "t:sections.general_section_settings.color_scheme_option_primary_label"
        },
        {
          "value": "secondary",
          "label": "t:sections.general_section_settings.color_scheme_option_secondary_label"
        },
        {
          "value": "custom-1",
          "label": "t:sections.general_section_settings.color_scheme_option_custom_1_label"
        },
        {
          "value": "custom-2",
          "label": "t:sections.general_section_settings.color_scheme_option_custom_2_label"
        },
        {
          "value": "custom-3",
          "label": "t:sections.general_section_settings.color_scheme_option_custom_3_label"
        },
        {
          "value": "white",
          "label": "t:sections.general_section_settings.color_scheme_option_white_text_label"
        },
        {
          "value": "black",
          "label": "t:sections.general_section_settings.color_scheme_option_black_text_label"
        }
      ],
      "default": "default",
      "label": "t:sections.general_section_settings.color_scheme_label",
      "info": "t:sections.general_section_settings.color_scheme_tip"
    },
    {
      "type": "select",
      "id": "container_size",
      "options": [
        {
          "value": "page-width",
          "label": "t:sections.general_section_settings.container_size.page_width_option"
        },
        {
          "value": "large",
          "label": "t:sections.general_section_settings.container_size.large_width_option"
        },
        {
          "value": "medium",
          "label": "t:sections.general_section_settings.container_size.medium_width_option"
        },
        {
          "value": "small",
          "label": "t:sections.general_section_settings.container_size.small_width_option"
        },
        {
          "value": "xsmall",
          "label": "t:sections.general_section_settings.container_size.extra_small_width_option"
        }
      ],
      "default": "xsmall",
      "label": "t:sections.general_section_settings.container_size.label"
    },
    {
      "type": "range",
      "id": "section_spacing_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 96,
      "unit": "t:sections.general_section_settings.section_spacing_top.unit",
      "label": "t:sections.general_section_settings.section_spacing_top.label"
    },
    {
      "type": "range",
      "id": "section_spacing_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 96,
      "unit": "t:sections.general_section_settings.section_spacing_bottom.unit",
      "label": "t:sections.general_section_settings.section_spacing_bottom.label"
    }
  ]
}
{% endschema %}
