{%- liquid
  assign options = section.settings
  assign section_spacing_top = options.section_spacing_top
  assign section_spacing_bottom = options.section_spacing_bottom
  assign color_scheme = options.color_scheme
  assign title = options.title
  assign alignment = options.alignment
  assign container_size = options.container_size

  assign desktop_space_between_cards = options.desktop_space_between_cards | times: 0.1
  assign mobile_space_between_cards = options.mobile_space_between_cards | times: 0.1

  assign mobile_columns = 2
  assign desktop_columns = options.desktop_columns
  assign desktop_carousel_percent_width = 100.0
  assign heading_size = options.heading_size

  assign desktop_columns_float = desktop_columns | times: 1.0
  assign desktop_slide_width = 100 | divided_by: desktop_columns_float

  assign some_block_has_image = false

  for block in section.blocks
    if block.settings.image != blank
      assign some_block_has_image = true
      break
    endif
  endfor

  assign desktop_layout = options.desktop_layout
  assign mobile_layout = options.mobile_layout

  assign show_navigation_arrows = options.show_navigation_arrows
  assign show_navigation_on_hover = options.show_navigation_on_hover
  assign autoplay_mode = options.autoplay_mode
  assign autoplay_interval = options.autoplay_interval
-%}

{% capture css %}
  {% style %}
    {% for block in section.blocks %}
        .block-{{ block.id }} {
            --gsc-image-width: {{ block.settings.image_width }}%;
            --gsc-logo-list-image-aspect-ratio: {{ block.settings.image.aspect_ratio }};
        }
    {% endfor %}

    .section-{{ section.id }} {
        --gsc-columns: {{ mobile_columns }};
        --gsc-slide-width: 50%;
        --gsc-space-between-cards: {{ mobile_space_between_cards }}rem;
        --gsc-section-spacing-top: {{ section_spacing_top }}px;
        --gsc-section-spacing-bottom: {{ section_spacing_bottom }}px;
    }

    @media {% render 'media-queries', screen: 'md' %} {
        .section-{{ section.id }} {
            --gsc-columns: {{ desktop_columns }};
            --gsc-slide-width: {{ desktop_slide_width }}%;
            --gsc-carousel-max-width: {{ 100 | divided_by: 6.0 | times: desktop_columns }}%;
            --gsc-space-between-cards: {{ desktop_space_between_cards }}rem;
        }
    }

    {% if desktop_layout == 'carousel' %}
      .section-{{section.id}}{
          --gsc-slide-width: {{ desktop_carousel_percent_width | times: 1.00 | divided_by: mobile_columns }}%;
      }

      @media {% render 'media-queries', screen: 'md' %} {
        .section-{{section.id}}{
          --gsc-slide-width: {{ desktop_carousel_percent_width | times: 1.00 | divided_by: desktop_columns }}%;
        }
      }
    {% endif %}
  {% endstyle %}
{% endcapture %}

{% render 'inline-css-minifier', css: css %}

{% capture desktop_carousel %}
  <carousel-component
    class='carousel logo-list__carousel'
    data-section-id='{{ section.id }}'
    {% if autoplay_mode == 'one_at_time' %}
      data-animation-type="one_at_time"
      data-autoplay-interval='{{autoplay_interval}}'
    {% endif %}
    {% if autoplay_mode == 'seamless' %}
      data-loop
      data-drag-free
      data-animation-type="seamless"
      data-autoplay-interval='{{autoplay_interval}}'
    {% endif %}
    data-contain-scroll='trimSnaps'
    with-stop-on-hover
    data-draggable
    data-align="start"
    data-axis="x"
  >

    {% if show_navigation_arrows != 'never' %}    
      <carousel-btn
        class='logo-list__carousel-btn {% if section.blocks.size < 3 %}logo-list__carousel-btn--mobile-hide{% endif %} {% if section.blocks.size <= desktop_columns %}logo-list__carousel-btn--desktop-hide{% endif %}'
        data-scroll-direction='prev'
        tabindex='0'
      >
        {% render 'icon', icon_name: 'chevron', class: 'x-flip logo-list__chevron' %}
      </carousel-btn>
    {% endif %}

    <div
      class='carousel__viewport logo-list__carousel-viewport embla {% if some_block_has_image == false %} logo-list__carousel-viewport--with-only-placeholder{% endif %}'
      data-carousel-viewport
    >
      <div class='carousel__container' data-carousel-container>
        {%- for block in section.blocks -%}
          {%- liquid
            assign image = block.settings.image
            assign link = block.settings.link
          -%}
          <div class='carousel__slide logo-list__slide block-{{ block.id }}' {{ block.shopify_attributes }}>
            <a
              class='logo-list__link'
              {% if link.url != blank %}
                href='{{ link.url }}'
              {% endif %}
              aria-label='{% if link.title %}{{ link.title }}{% endif %}'
            >
              {%- if image != blank -%}
                <img
                  {% render 'image-attributes', image: image, class: 'logo-list__image' %}
                >
              {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'logo-list__placeholder-image placeholder-image' }}
              {%- endif -%}
            </a>
          </div>
        {%- endfor -%}
      </div>
    </div>

    {% if show_navigation_arrows != 'never' %}   
      <carousel-btn
        class='logo-list__carousel-btn {% if section.blocks.size < 3 %}logo-list__carousel-btn--mobile-hide{% endif %} {% if section.blocks.size <= desktop_columns %}logo-list__carousel-btn--desktop-hide{% endif %}'
        data-scroll-direction='next'
        tabindex='0'
      >
        {%- render 'icon', icon_name: 'chevron', class: 'logo-list__chevron' -%}
      </carousel-btn>
    {% endif %}
  </carousel-component>
{% endcapture %}

{% capture mobile_carousel %}
  <carousel-component
    class='carousel logo-list__carousel'
    data-section-id='{{ section.id }}'
    {% if mobile_layout == 'carousel' %}
      data-breakpoints='
        {
          "(max-width: 768px)": { "dragFree": true },
          "(min-width: 768px)": { "dragFree": false }
        }
      '
    {% endif %}    
    {% if autoplay_mode == 'one_at_time' %}
      data-animation-type="one_at_time"
      data-autoplay-interval='{{autoplay_interval}}'
    {% endif %}
    {% if autoplay_mode == 'seamless' and mobile_layout contains 'carousel' %}
      data-loop
      data-drag-free
      data-animation-type="seamless"
      data-autoplay-interval='{{autoplay_interval}}'
    {% endif %}
    data-contain-scroll='trimSnaps'
    with-stop-on-hover
    data-draggable
    data-align="start"
    data-axis="x"
  >

    {% if show_navigation_arrows != 'never' %}  
      <carousel-btn
        class='logo-list__carousel-btn {% if section.blocks.size < 3 %}logo-list__carousel-btn--mobile-hide{% endif %} {% if section.blocks.size <= desktop_columns %}logo-list__carousel-btn--desktop-hide{% endif %}'
        data-scroll-direction='prev'
        tabindex='0'
      >
        {% render 'icon', icon_name: 'chevron', class: 'x-flip logo-list__chevron' %}
      </carousel-btn>
    {% endif %}  

    <div
      class='carousel__viewport logo-list__carousel-viewport embla {% if some_block_has_image == false %} logo-list__carousel-viewport--with-only-placeholder{% endif %}'
      data-carousel-viewport
    >
      <div class='carousel__container' data-carousel-container>
        {%- for block in section.blocks -%}
          {%- liquid
            assign image = block.settings.image
            assign link = block.settings.link
          -%}
          <div class='carousel__slide logo-list__slide block-{{ block.id }}' {{ block.shopify_attributes }}>
            <a
              class='logo-list__link'
              {% if link.url != blank %}
                href='{{ link.url }}'
              {% endif %}
              aria-label='{% if link.title %}{{ link.title }}{% endif %}'
            >
              {%- if image != blank -%}
                <img
                  {% render 'image-attributes', image: image, class: 'logo-list__image' %}
                >
              {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'logo-list__placeholder-image placeholder-image' }}
              {%- endif -%}
            </a>
          </div>
        {%- endfor -%}
      </div>
    </div>

    {% if show_navigation_arrows != 'never' %}  
      <carousel-btn
        class='logo-list__carousel-btn {% if section.blocks.size < 3 %}logo-list__carousel-btn--mobile-hide{% endif %} {% if section.blocks.size <= desktop_columns %}logo-list__carousel-btn--desktop-hide{% endif %}'
        data-scroll-direction='next'
        tabindex='0'
      >
        {%- render 'icon', icon_name: 'chevron', class: 'logo-list__chevron' -%}
      </carousel-btn>
    {% endif %}  
  </carousel-component>
{% endcapture %}

{% capture grid %}
  <div class='logo-list__grid'>
    {%- for block in section.blocks -%}
      {%- liquid
        assign image = block.settings.image
        assign link = block.settings.link
      -%}
      <div
        class='logo-list__grid-item block-{{ block.id }} {% if mobile_layout == 'one-column' %}logo-list__grid-item--one-column{% endif %}'
        {{ block.shopify_attributes }}
      >
        <a
          class='logo-list__link'
          {% if link.url != blank %}
            href='{{ link.url }}'
          {% endif %}
          aria-label='{% if link.title %}{{ link.title }}{% endif %}'
        >
          {%- if image != blank -%}
            <img
              {% render 'image-attributes', image: image, class: 'logo-list__image' %}
            >
          {%- else -%}
            {{ 'image' | placeholder_svg_tag: 'logo-list__placeholder-image placeholder-image' }}
          {%- endif -%}
        </a>
      </div>
    {%- endfor -%}
  </div>
{% endcapture %}

{% capture heading %}
  {%- if title != blank -%}
        <div class='logo-list__header {% if alignment == 'center' %}logo-list__header--center{% endif %}'>
          <h5 class='logo-list__title {{ heading_size }}'>{{ title }}</h5>
        </div>
      {%- endif -%}
{% endcapture %}

<div class='logo-list__desktop-content'>
  <div class='logo-list section section-{{ section.id }} color-{{ color_scheme }}'>
    <div class='logo-list__container container container--{{ container_size }} section-spacing  {% if show_navigation_arrows == 'on_hover' %}logo-list__container--with-navigation-on-hover{% endif %}'>
      {%- if title != blank -%}
        {{ heading }}
      {%- endif -%}

      {%- if desktop_layout == 'carousel' -%}
        {{ desktop_carousel }}
      {%- else -%}
        {{ grid }}
      {%- endif -%}
    </div>
  </div>
</div>

<div class='logo-list__mobile-content'>
  <div class='logo-list section section-{{ section.id }} color-{{ color_scheme }}'>
    <div class='logo-list__container container container--{{ container_size }} section-spacing'>
      {%- if title != blank -%}
        {{ heading }}
      {%- endif -%}

      {%- if mobile_layout == 'carousel' -%}
        {{ mobile_carousel }}
      {%- else -%}
        {{ grid }}
      {%- endif -%}
    </div>
  </div>
</div>

{% render 'save-section-data-in-global-scope', section: section %}

{% schema %}
{
  "name": "t:sections.logo_list.name",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "default",
          "label": "t:sections.general_section_settings.color_scheme_option_default_label"
        },
        {
          "value": "primary",
          "label": "t:sections.general_section_settings.color_scheme_option_primary_label"
        },
        {
          "value": "secondary",
          "label": "t:sections.general_section_settings.color_scheme_option_secondary_label"
        },
        {
          "value": "custom-1",
          "label": "t:sections.general_section_settings.color_scheme_option_custom_1_label"
        },
        {
          "value": "custom-2",
          "label": "t:sections.general_section_settings.color_scheme_option_custom_2_label"
        },
        {
          "value": "custom-3",
          "label": "t:sections.general_section_settings.color_scheme_option_custom_3_label"
        },
        {
          "value": "white",
          "label": "t:sections.general_section_settings.color_scheme_option_white_text_label"
        },
        {
          "value": "black",
          "label": "t:sections.general_section_settings.color_scheme_option_black_text_label"
        }
      ],
      "default": "default",
      "label": "t:sections.general_section_settings.color_scheme_label",
      "info": "t:sections.general_section_settings.color_scheme_tip"
    },
    {
      "type": "select",
      "id": "container_size",
      "options": [
        {
          "value": "page-width",
          "label": "t:sections.general_section_settings.container_size.page_width_option"
        },
        {
          "value": "large",
          "label": "t:sections.general_section_settings.container_size.large_width_option"
        },
        {
          "value": "medium",
          "label": "t:sections.general_section_settings.container_size.medium_width_option"
        },
        {
          "value": "small",
          "label": "t:sections.general_section_settings.container_size.small_width_option"
        }
      ],
      "default": "page-width",
      "label": "t:sections.general_section_settings.container_size.label"
    },
    {
      "type": "range",
      "id": "section_spacing_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 48,
      "unit": "t:sections.general_section_settings.section_spacing_top.unit",
      "label": "t:sections.general_section_settings.section_spacing_top.label"
    },
    {
      "type": "range",
      "id": "section_spacing_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 48,
      "unit": "t:sections.general_section_settings.section_spacing_bottom.unit",
      "label": "t:sections.general_section_settings.section_spacing_bottom.label"
    },
    {
      "type": "select",
      "id": "desktop_layout",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.general_section_settings.desktop_layout.options.option_1"
        },
        {
          "value": "carousel",
          "label": "t:sections.general_section_settings.desktop_layout.options.option_2"
        }
      ],
      "default": "carousel",
      "label": "t:sections.general_section_settings.desktop_layout.label"
    },
    {
      "type": "select",
      "id": "mobile_layout",
      "options": [
        {
          "value": "carousel",
          "label": "t:sections.general_section_settings.mobile_layout.options.option_1"
        },
        {
          "value": "one-column",
          "label": "t:sections.general_section_settings.mobile_layout.options.option_3"
        },
        {
          "value": "two-column",
          "label": "t:sections.general_section_settings.mobile_layout.options.option_4"
        }
      ],
      "default": "carousel",
      "label": "t:sections.general_section_settings.mobile_layout.label"
    },
    {
      "type": "header",
      "content": "t:sections.logo_list.heading_settings_header"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.logo_list.title_label",
      "default": "Logo list"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.general_section_settings.label_for_heading_size_setting",
      "options": [
        {
          "value": "h0",
          "label": "t:sections.general_section_settings.heading_size_0_option"
        },
        {
          "value": "h1",
          "label": "t:sections.general_section_settings.heading_size_1_option"
        },
        {
          "value": "h2",
          "label": "t:sections.general_section_settings.heading_size_2_option"
        },
        {
          "value": "h3",
          "label": "t:sections.general_section_settings.heading_size_3_option"
        },
        {
          "value": "h4",
          "label": "t:sections.general_section_settings.heading_size_4_option"
        },
        {
          "value": "h5",
          "label": "t:sections.general_section_settings.heading_size_5_option"
        },
        {
          "value": "h6",
          "label": "t:sections.general_section_settings.heading_size_6_option"
        },
        {
          "value": "h7",
          "label": "t:sections.general_section_settings.heading_size_7_option"
        }
      ],
      "default": "h5"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "t:sections.general_section_settings.heading_alignment_label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.general_section_settings.alignment_option_left_label"
        },
        {
          "value": "center",
          "label": "t:sections.general_section_settings.alignment_option_center_label"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "t:sections.logo_list.cards_settings_header"
    },
    {
      "type": "range",
      "id": "desktop_columns",
      "min": 1,
      "max": 8,
      "step": 1,
      "default": 6,
      "label": "t:sections.logo_list.desktop_columns_label"
    },
    {
      "type": "range",
      "id": "desktop_space_between_cards",
      "min": 0,
      "max": 32,
      "step": 1,
      "default": 16,
      "unit": "t:sections.logo_list.desktop_space_between_cards_unit",
      "label": "t:sections.logo_list.desktop_space_between_cards_label"
    },
    {
      "type": "range",
      "id": "mobile_space_between_cards",
      "min": 0,
      "max": 32,
      "step": 1,
      "default": 12,
      "unit": "t:sections.logo_list.mobile_space_between_cards_unit",
      "label": "t:sections.logo_list.mobile_space_between_cards_label"
    },
    // {
    //   "type": "checkbox",
    //   "id": "show_navigation_on_hover",
    //   "default": false,
    //   "label": "t:sections.general_section_settings.carousel-settings.show_arrows_on_hover.label"
    // },
    {
      "type": "select",
      "id": "show_navigation_arrows",
      "options": [
        {
          "value": "never",
          "label": "t:sections.general_section_settings.carousel-settings.show_navigation_arrows.options.option_1"
        },
        {
          "value": "always",
          "label": "t:sections.general_section_settings.carousel-settings.show_navigation_arrows.options.option_2"
        },
        {
          "value": "on_hover",
          "label": "t:sections.general_section_settings.carousel-settings.show_navigation_arrows.options.option_3"
        }
      ],
      "default": "always",
      "label": "t:sections.general_section_settings.carousel-settings.show_navigation_arrows.label"
    },
    {
      "type": "header",
      "content": "t:sections.general_section_settings.carousel-settings.label"
    },
    {
      "type": "select",
      "id": "autoplay_mode",
      "options": [
        {
          "value": "disabled",
          "label": "t:sections.general_section_settings.carousel-settings.autoplay_mode.options.option_1"
        },
        {
          "value": "one_at_time",
          "label": "t:sections.general_section_settings.carousel-settings.autoplay_mode.options.option_3"
        },
        {
          "value": "seamless",
          "label": "t:sections.general_section_settings.carousel-settings.autoplay_mode.options.option_2"
        }
      ],
      "default": "disabled",
      "label": "t:sections.general_section_settings.carousel-settings.autoplay_mode.label"
    },
    {
      "type": "range",
      "id": "autoplay_interval",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 3,
      "unit": "t:sections.general_section_settings.carousel-settings.autoplay_interval.unit",
      "label": "t:sections.general_section_settings.carousel-settings.autoplay_interval.label"
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "t:sections.logo_list.logo_block_name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.logo_list.logo_block_image_label"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 10,
          "max": 100,
          "step": 1,
          "default": 100,
          "unit": "t:sections.logo_list.logo_block_image_width_unit",
          "label": "t:sections.logo_list.logo_block_image_width_label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.logo_list.logo_block_link_label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.logo_list.name",
      "blocks": [
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        }
      ]
    }
  ]
}
{% endschema %}
