{%- liquid
  assign options = section.settings

  assign desktop_image = options.desktop_image
  assign mobile_image = options.mobile_image

  assign enable_desktop_custom_img_ratio = options.enable_desktop_custom_img_ratio
  assign enable_custom_mobile_img_ratio = options.enable_custom_mobile_img_ratio

  assign desktop_custom_image_ratio = options.desktop_custom_image_ratio | times: 100
  assign mobile_custom_image_ratio = options.mobile_custom_image_ratio | times: 100

  if mobile_image == blank
    assign mobile_image = desktop_image
    assign enable_custom_mobile_img_ratio = options.enable_desktop_custom_img_ratio
    assign mobile_custom_image_ratio = options.desktop_custom_image_ratio | times: 100
  endif

  if enable_desktop_custom_img_ratio == false and desktop_image != blank
    assign desktop_custom_image_ratio = 100 | divided_by: desktop_image.aspect_ratio
  endif
  if enable_custom_mobile_img_ratio == false and mobile_image != blank
    assign mobile_custom_image_ratio = 100 | divided_by: mobile_image.aspect_ratio
  endif

  assign heading = options.heading
  assign heading_size = options.heading_size
  assign body_richtext = options.body_richtext
  assign body_size = options.body_size
  assign section_spacing_top = options.section_spacing_top
  assign section_spacing_bottom = options.section_spacing_bottom
  assign container_size = options.container_size

  assign color_scheme = options.color_scheme

  assign products_position = options.desktop_position
  assign desktop_layout = options.desktop_layout
  assign mobile_layout = options.mobile_layout
  assign enable_pins = options.enable_pins

  assign desktop_cards_in_row = desktop_layout | replace: '_column' | split: '_' | last
  assign slide_width = 100.0 | divided_by: desktop_cards_in_row

  assign is_slideshow = false

  if desktop_layout contains 'slideshow'
    assign desktop_cards_in_row = 1
    assign slide_width = 100
    assign is_slideshow = true
  endif

  assign product_card_img_ratio = options.product_card_img_ratio
  assign product_card_align = options.product_card_content_alignment
-%}

{% capture css %}
  {% style %}
    .section-{{ section.id}} {
      --gsc-section-spacing-top: {{ section_spacing_top }}px;
      --gsc-section-spacing-bottom: {{ section_spacing_bottom }}px;
      --gsc-img-ratio: {{ mobile_custom_image_ratio }}%;

      --gsc-lookbook-heading-alignment: {{ section.settings.heading_content_alignment }};
      --gsc-space-between-cards: {{ section.settings.mobile_space_between_cards }}px;
    }
    
    @media {% render 'media-queries', screen: 'md' %} {
      .section-{{ section.id }} {
        --gsc-img-ratio: {{ desktop_custom_image_ratio }}%;
        
        --gsc-lookbook-gap: {{ section.settings.desktop_gap }}px;
        --gsc-lookbook-desktop-cards-in-row: {{ desktop_cards_in_row }};  
        
        --gsc-slide-width: {{ slide_width }}%;
        --gsc-space-between-cards: {{ section.settings.desktop_space_between_cards }}px;
      }
    }

    {% for block in section.blocks %}
      {% liquid
        assign mobile_horizontal_position = block.settings.mobile_horizontal_position
        assign mobile_vertical_position = block.settings.mobile_vertical_position
        assign desktop_horizontal_position = block.settings.desktop_horizontal_position
        assign desktop_vertical_position = block.settings.desktop_vertical_position

        if section.settings.mobile_image == blank
          assign mobile_horizontal_position = desktop_horizontal_position
          assign mobile_vertical_position = desktop_vertical_position
        endif
      %}

      .block-{{ block.id }} {
        --gsc-lookbook-pin-horizontal-position: {{ mobile_horizontal_position }}%;
        --gsc-lookbook-pin-vertical-position: {{ mobile_vertical_position }}%;
      }      

      @media {% render 'media-queries', screen: 'md' %} {
        .block-{{ block.id }} {
          --gsc-lookbook-pin-horizontal-position: {{ desktop_horizontal_position }}%;
          --gsc-lookbook-pin-vertical-position: {{ desktop_vertical_position }}%;
        }
      }
    {% endfor %}
  {% endstyle %}
{% endcapture %}

{% render 'inline-css-minifier', css: css %}

{% if heading != blank or body_richtext != blank %}
  {% capture content %}
    <div class="lookbook__content">
      {% if heading != blank %}
        <h2 class='{{ heading_size }} lookbook__title'>{{heading}}</h2> 
      {% endif %}
      
      {% if body_richtext != blank %}
        <div class='{{ body_size }} body-font-weight-from-global-settings lookbook__subtitle'>
          {{body_richtext}} 
        </div>
      {% endif %}
    </div>
  {% endcapture %}
{% endif %}

{% capture desktop_carousel %}
  <carousel-component
    class='card-carousel'
    data-section-id='{{ section.id }}'
    with-stop-on-hover
    data-draggable
    data-align="start"
    data-axis="x"
    data-contain-scroll="trimSnaps"
    data-lookbook-carousel
    >

    {% if is_slideshow != true %}      
      <div class='card-carousel__position-btn-wrap card-carousel__position-btn-wrap--prev'>
        <div class='shape shape--{{ product_card_img_ratio }}'>
          <carousel-btn
            class='carousel-btn card-carousel__carousel-btn card-carousel__carousel-btn--prev'
            data-scroll-direction='prev'
            tabindex='0'
          >
            {%- render 'icon', icon_name: 'chevron', class: 'carousel-btn__icon x-flip' -%}
          </carousel-btn>
        </div>
      </div>    
    {% endif %}
  
    <div
      class='embla card-carousel__viewport lookbook__carousel-viewport'
      data-carousel-viewport
    >
      <div class='card-carousel__container'>
        {%- for block in section.blocks -%}
          {%- comment %}<locksmith:ce5c>{% endcomment -%}
            {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: block.settings.product, subject_parent: section, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
          {%- comment %}</locksmith:ce5c>{% endcomment -%}
          <div class='card-carousel__slide'>
            {% render 'product-card',
              product: block.settings.product,
              img_ratio: product_card_img_ratio,
              product_card_align: product_card_align,
              with_bottom_spacing: true
              data: 'data-lookbook-block'
              block: block,
              class: 'lookbook__product-card'
            %}
          </div>
        {%- endfor -%}
      </div>
    </div>

    {% if is_slideshow != true %}      
      <div class='card-carousel__position-btn-wrap card-carousel__position-btn-wrap--next'>
        <div class='shape shape--{{ product_card_img_ratio }}'>
          <carousel-btn
            class='carousel-btn card-carousel__carousel-btn card-carousel__carousel-btn--next'
            data-scroll-direction='next'
            tabindex='0'
          >
            {%- render 'icon', icon_name: 'chevron', class: 'carousel-btn__icon' -%}
          </carousel-btn>
        </div>
      </div>
  {% endif %}
    
    {% if desktop_layout contains 'slideshow' %}
      <carousel-dots
        class='solid-dots-carousel collection-list__dots-container'
        data-contain-scroll='keepSnaps'
        data-align='center'
      >
        <div class='solid-dots-carousel__viewport embla' data-carousel-viewport>
          <div class='solid-dots-carousel__container' data-carousel-container>
            {%- for product in section.blocks -%}
              <carousel-dot
                class='solid-dots-carousel__solid-dot {% if forloop.index == 1 %}is-primary{% endif %}'
                tabindex='0'
                data-dot-index='{{ forloop.index0 }}'
              >
                <div class='solid-dots-carousel__solid-dot-circle'></div>
              </carousel-dot>
            {%- endfor -%}
          </div>
        </div>
      </carousel-dots>
    {% endif %}
  </carousel-component>
{% endcapture %}

{% capture mobile_carousel %}
  <carousel-component
    class='card-carousel {% if mobile_layout contains 'slideshow' %}lookbook__card-carousel--slideshow{% endif %}'
    data-section-id='{{ section.id }}'
    with-stop-on-hover
    data-draggable
    data-align="start"
    data-axis="x"
    data-contain-scroll="trimSnaps"
    data-lookbook-carousel
    {% if mobile_layout contains 'carousel' %}
      data-breakpoints='
        {
          "(max-width: 768px)": { "dragFree": true },
          "(min-width: 768px)": { "dragFree": false }
        }
      '
    {% endif %}
    >
    <div
      class='embla card-carousel__viewport lookbook__carousel-viewport'
      data-carousel-viewport
    >
      <div class='card-carousel__container'>
        {%- for block in section.blocks -%}
          {%- comment %}<locksmith:4c8f>{% endcomment -%}
            {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: block.settings.product, subject_parent: section, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
          {%- comment %}</locksmith:4c8f>{% endcomment -%}
          <div class='card-carousel__slide'>
            {%- if mobile_layout == 'carousel_horizontal_cards' -%}
              {% render 'horizontal-product-card',
                product: block.settings.product,
                img_ratio: product_card_img_ratio,
                data: 'data-lookbook-block'
                block: block,
                class: 'lookbook__product-card'
              %}
            {%- else -%}
              {% render 'product-card',
                product: block.settings.product,
                img_ratio: product_card_img_ratio,
                product_card_align: product_card_align,
                with_bottom_spacing: true
                data: 'data-lookbook-block'
                block: block,
                class: 'lookbook__product-card'
              %}
            {%- endif -%}
          </div>
        {%- endfor -%}
      </div>
    </div>
    
    {% if mobile_layout contains 'slideshow' %}
      <carousel-dots
        class='solid-dots-carousel collection-list__dots-container'
        data-contain-scroll='keepSnaps'
        data-align='center'
      >
        <div class='solid-dots-carousel__viewport embla' data-carousel-viewport>
          <div class='solid-dots-carousel__container' data-carousel-container>
            {%- for product in section.blocks -%}
              <carousel-dot
                class='solid-dots-carousel__solid-dot {% if forloop.index == 1 %}is-primary{% endif %}'
                tabindex='0'
                data-dot-index='{{ forloop.index0 }}'
              >
                <div class='solid-dots-carousel__solid-dot-circle'></div>
              </carousel-dot>
            {%- endfor -%}
          </div>
        </div>
      </carousel-dots>
    {% endif %}
  </carousel-component>
{% endcapture %}

{% capture pins %}
  {% if enable_pins and section.blocks.size > 0 %}
    {% for block in section.blocks %}
      <button data-block-id='{{ block.id }}' data-lookbook-pin type='button' class='block-{{ block.id }} lookbook__pin' aria-label='{{ 'lookbook.screen_reader.pin' | t }}'></button>
    {% endfor %}
  {% endif %}
{% endcapture %}

<lookbook-component class='lookbook section-{{ section.id }} color-{{ color_scheme }}'>
  <div class='container container--{{ container_size }} lookbook__container section-spacing'>
    {{ content }}

    <div class='lookbook__wrapper {% if products_position contains 'center' %} lookbook__wrapper--align-center {% endif %}'>
      <div class='lookbook__main-image'>
        <div class='lookbook__image-wrapper'>
          <div class='lookbook__desktop-content'>
            <div class='shape shape--nature'>
              {%- if desktop_image != blank -%}
                <img
                  {% render 'image-attributes', image: desktop_image, parent_fit: 'cover', class: 'lookbook__image' %}
                >
              {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'image placeholder-image lookbook__image' }}
              {%- endif -%}
            </div>

            {{ pins }}
          </div>

          <div class='lookbook__mobile-content'>
            <div class='shape shape--nature'>
              {%- if mobile_image != blank -%}
                <img
                  {% render 'image-attributes', image: mobile_image, parent_fit: 'cover', class: 'lookbook__image' %}
                >
              {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'image placeholder-image lookbook__image' }}
              {%- endif -%}
            </div>

            {% if enable_pins != true and section.blocks.size > 0 and mobile_layout contains 'popup' %}
              <modal-opener
                data-modal='#Lookbook-Popup-{{ section.id }}'
                class='lookbook__pin-default'
              >
                <button
                  type='button'
                  class='lookbook__pin-default-icon-wrapper'
                  aria-label='{{ 'lookbook.screen_reader.pin' | t }}'
                >
                  {% render 'icon', icon_name: 'plus', class: 'lookbook__pin-default-icon' %}
                </button>
              </modal-opener>
            {% else %}
              {% if mobile_layout contains 'popup' %}
                {% for block in section.blocks %}
                  <modal-opener
                    data-modal='#Lookbook-Popup-{{ section.id }}'
                  >
                    <button
                      data-block-id='{{ block.id }}'
                      data-lookbook-pin
                      type='button'
                      class='block-{{ block.id }} lookbook__pin'
                      aria-label='{{ 'lookbook.screen_reader.pin' | t }}'
                    ></button>
                  </modal-opener>
                {% endfor %}
              {% else %}
                {{ pins }}
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>

      {% if section.blocks.size > 0 %}
        <div class='lookbook__products {% if desktop_layout == 'slideshow_30' %} lookbook__products--with-slideshow-30-percent-width {% endif %} {% if products_position contains 'left' %} lookbook__products--on-left-side {% endif %}  {% if desktop_layout contains 'slideshow' %} lookbook__products--with-slideshow {% endif %}'>
          <div class='lookbook__desktop-content' data-lookbook-desktop-content>
            {% if desktop_layout contains 'grid' %}
              <div class='lookbook__products-grid'>
                {%- for block in section.blocks -%}
                  {%- comment %}<locksmith:5288>{% endcomment -%}
                    {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: block.settings.product, subject_parent: section, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                  {%- comment %}</locksmith:5288>{% endcomment -%}
                  {% render 'product-card',
                    product: block.settings.product,
                    img_ratio: product_card_img_ratio,
                    product_card_align: product_card_align,
                    with_bottom_spacing: true,
                    data: 'data-lookbook-block',
                    block: block,
                    class: 'lookbook__product-card'
                  %}
                {%- endfor -%}
              </div>
            {% else %}
              {{ desktop_carousel }}
            {% endif %}
          </div>

          <div class='lookbook__mobile-content' data-lookbook-mobile-content>
            {% if mobile_layout contains 'grid' %}
              <div class='lookbook__products-grid'>
                {%- for block in section.blocks -%}
                  {%- comment %}<locksmith:7630>{% endcomment -%}
                    {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: block.settings.product, subject_parent: section, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                  {%- comment %}</locksmith:7630>{% endcomment -%}
                  {% render 'product-card',
                    product: block.settings.product,
                    img_ratio: product_card_img_ratio,
                    product_card_align: product_card_align,
                    with_bottom_spacing: true,
                    data: 'data-lookbook-block',
                    block: block,
                    class: 'lookbook__product-card'
                  %}
                {%- endfor -%}
              </div>
            {% else %}
              {% if mobile_layout contains 'popup' %}
                <lookbook-modal
                  class='lookbook__modal'
                  id='Lookbook-Popup-{{ section.id }}'
                  data-with-overlay
                  data-with-close-on-outside
                  data-overlay-opacity='35'
                  data-lookbook-modal
                >
                  <template data-modal-template='Lookbook-Popup-{{ section.id }}'>
                    <div class='lookbook__modal-body'>
                      <div class='lookbook__modal-content'>
                        <div class='lookbook__modal-header'>
                          <p class='lookbook__modal-header-title'>
                            {{ 'lookbook.store_front.modal-header-title' | t }}
                          </p>
                          <modal-close-btn
                            class='lookbook__modal-close-wrapper'
                            aria-label='{{ 'lookbook.screen_reader.close' | t }}'
                            type='button'
                            data-modal='#Lookbook-Popup-{{ section.id }}'
                          >
                            <div class='lookbook__modal-close-btn'></div>
                          </modal-close-btn>
                        </div>

                        {{ mobile_carousel }}
                      </div>
                    </div>
                  </template>
                </lookbook-modal>

              {% else %}
                {{ mobile_carousel }}
              {% endif %}
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</lookbook-component>

{% schema %}
{
  "name": "t:sections.lookbook.name",
  "tag": "section",
  "class": "shopify-section__lookbook",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "default",
          "label": "t:sections.general_section_settings.color_scheme_option_default_label"
        },
        {
          "value": "primary",
          "label": "t:sections.general_section_settings.color_scheme_option_primary_label"
        },
        {
          "value": "secondary",
          "label": "t:sections.general_section_settings.color_scheme_option_secondary_label"
        },
        {
          "value": "custom-1",
          "label": "t:sections.general_section_settings.color_scheme_option_custom_1_label"
        },
        {
          "value": "custom-2",
          "label": "t:sections.general_section_settings.color_scheme_option_custom_2_label"
        },
        {
          "value": "custom-3",
          "label": "t:sections.general_section_settings.color_scheme_option_custom_3_label"
        }
      ],
      "default": "default",
      "label": "t:sections.general_section_settings.color_scheme_label",
      "info": "t:sections.general_section_settings.color_scheme_tip"
    },
    {
      "type": "select",
      "id": "container_size",
      "options": [
        {
          "value": "full-screen",
          "label": "t:sections.general_section_settings.container_size.screen_width_option"
        },
        {
          "value": "page-width",
          "label": "t:sections.general_section_settings.container_size.page_width_option"
        },
        {
          "value": "large",
          "label": "t:sections.general_section_settings.container_size.large_width_option"
        },
        {
          "value": "medium",
          "label": "t:sections.general_section_settings.container_size.medium_width_option"
        }
      ],
      "default": "page-width",
      "label": "t:sections.general_section_settings.container_size.label"
    },
    {
      "type": "range",
      "id": "section_spacing_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 96,
      "unit": "t:sections.general_section_settings.section_spacing_top.unit",
      "label": "t:sections.general_section_settings.section_spacing_top.label"
    },
    {
      "type": "range",
      "id": "section_spacing_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 96,
      "unit": "t:sections.general_section_settings.section_spacing_bottom.unit",
      "label": "t:sections.general_section_settings.section_spacing_bottom.label"
    },
    {
      "type": "checkbox",
      "id": "enable_pins",
      "default": true,
      "label": "t:sections.lookbook.enable_pins.label"
    },
    {
      "type": "header",
      "content": "t:sections.lookbook.content.settings_header"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.lookbook.content.heading.label",
      "default": "Lookbook"
    },
    {
      "type": "richtext",
      "id": "body_richtext",
      "label": "t:sections.lookbook.content.body.label",
      "default": "<p>Show your products, collections and social media posts or tell about recent events.</p>"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.general_section_settings.label_for_heading_size_setting",
      "options": [
        {
          "value": "h0",
          "label": "t:sections.general_section_settings.heading_size_0_option"
        },
        {
          "value": "h1",
          "label": "t:sections.general_section_settings.heading_size_1_option"
        },
        {
          "value": "h2",
          "label": "t:sections.general_section_settings.heading_size_2_option"
        },
        {
          "value": "h3",
          "label": "t:sections.general_section_settings.heading_size_3_option"
        },
        {
          "value": "h4",
          "label": "t:sections.general_section_settings.heading_size_4_option"
        },
        {
          "value": "h5",
          "label": "t:sections.general_section_settings.heading_size_5_option"
        },
        {
          "value": "h6",
          "label": "t:sections.general_section_settings.heading_size_6_option"
        },
        {
          "value": "h7",
          "label": "t:sections.general_section_settings.heading_size_7_option"
        }
      ],
      "default": "h2"
    },
    {
      "type": "select",
      "id": "body_size",
      "label": "t:sections.general_section_settings.label_for_body_size_setting",
      "options": [
        {
          "value": "body0",
          "label": "t:sections.general_section_settings.body_size_0_option"
        },
        {
          "value": "body1",
          "label": "t:sections.general_section_settings.body_size_1_option"
        },
        {
          "value": "body2",
          "label": "t:sections.general_section_settings.body_size_2_option"
        },
        {
          "value": "body3",
          "label": "t:sections.general_section_settings.body_size_3_option"
        },
        {
          "value": "body4",
          "label": "t:sections.general_section_settings.body_size_4_option"
        },
        {
          "value": "body5",
          "label": "t:sections.general_section_settings.body_size_5_option"
        },
        {
          "value": "body6",
          "label": "t:sections.general_section_settings.body_size_6_option"
        }
      ],
      "default": "body3",
      "info": "t:sections.lookbook.content.body_size.info"
    },
    {
      "type": "select",
      "id": "heading_content_alignment",
      "label": "t:sections.lookbook.content.content_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.lookbook.content.content_alignment.options.option_1"
        },
        {
          "value": "center",
          "label": "t:sections.lookbook.content.content_alignment.options.option_2"
        },
        {
          "value": "right",
          "label": "t:sections.lookbook.content.content_alignment.options.option_3"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "t:sections.lookbook.image.settings_header.content"
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "t:sections.lookbook.image.desktop_image.label"
    },
    {
      "type": "checkbox",
      "id": "enable_desktop_custom_img_ratio",
      "default": true,
      "label": "t:sections.lookbook.image.enable_desktop_custom_img_ratio.label"
    },
    {
      "type": "range",
      "id": "desktop_custom_image_ratio",
      "min": 0.2,
      "max": 2,
      "step": 0.1,
      "default": 1,
      "unit": "t:sections.lookbook.image.desktop_custom_image_ratio.unit",
      "label": "t:sections.lookbook.image.desktop_custom_image_ratio.label"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "t:sections.lookbook.image.mobile_image.label"
    },
    {
      "type": "checkbox",
      "id": "enable_custom_mobile_img_ratio",
      "default": true,
      "label": "t:sections.lookbook.image.enable_custom_mobile_img_ratio.label"
    },
    {
      "type": "range",
      "id": "mobile_custom_image_ratio",
      "min": 0.2,
      "max": 2,
      "step": 0.1,
      "default": 1,
      "unit": "t:sections.lookbook.image.mobile_custom_image_ratio.unit",
      "label": "t:sections.lookbook.image.mobile_custom_image_ratio.label"
    },
    {
      "type": "header",
      "content": "t:sections.lookbook.cards.settings_header.content"
    },
    {
      "type": "select",
      "id": "desktop_position",
      "label": "t:sections.lookbook.cards.desktop_position.label",
      "options": [
        {
          "value": "left_top",
          "label": "t:sections.lookbook.cards.desktop_position.options.option_1"
        },
        {
          "value": "right_top",
          "label": "t:sections.lookbook.cards.desktop_position.options.option_2"
        },
        {
          "value": "left_center",
          "label": "t:sections.lookbook.cards.desktop_position.options.option_3"
        },
        {
          "value": "right_center",
          "label": "t:sections.lookbook.cards.desktop_position.options.option_4"
        }
      ],
      "default": "right_top"
    },
    {
      "type": "select",
      "id": "desktop_layout",
      "label": "t:sections.lookbook.cards.desktop_layout.label",
      "options": [
        {
          "value": "grid_1_column",
          "label": "t:sections.lookbook.cards.desktop_layout.options.option_1"
        },
        {
          "value": "grid_2_column",
          "label": "t:sections.lookbook.cards.desktop_layout.options.option_2"
        },
        {
          "value": "grid_3_column",
          "label": "t:sections.lookbook.cards.desktop_layout.options.option_3"
        },
        {
          "value": "carousel_1_column",
          "label": "t:sections.lookbook.cards.desktop_layout.options.option_4"
        },
        {
          "value": "carousel_2_column",
          "label": "t:sections.lookbook.cards.desktop_layout.options.option_5"
        },
        {
          "value": "carousel_3_column",
          "label": "t:sections.lookbook.cards.desktop_layout.options.option_6"
        },
        {
          "value": "slideshow_50",
          "label": "t:sections.lookbook.cards.desktop_layout.options.option_7"
        },
        {
          "value": "slideshow_30",
          "label": "t:sections.lookbook.cards.desktop_layout.options.option_8"
        }
      ],
      "default": "grid_3_column"
    },
    {
      "type": "select",
      "id": "mobile_layout",
      "label": "t:sections.lookbook.cards.mobile_layout.label",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.lookbook.cards.mobile_layout.options.option_1"
        },
        {
          "value": "slideshow",
          "label": "t:sections.lookbook.cards.mobile_layout.options.option_2"
        },
        {
          "value": "carousel_popup",
          "label": "t:sections.lookbook.cards.mobile_layout.options.option_3"
        },
        {
          "value": "slideshow_popup",
          "label": "t:sections.lookbook.cards.mobile_layout.options.option_4"
        },
        {
          "value": "carousel_vertical_cards",
          "label": "t:sections.lookbook.cards.mobile_layout.options.option_5"
        },
        {
          "value": "carousel_horizontal_cards",
          "label": "t:sections.lookbook.cards.mobile_layout.options.option_6"
        }
      ],
      "default": "grid"
    },
    {
      "type": "select",
      "id": "product_card_img_ratio",
      "options": [
        {
          "value": "default",
          "label": "t:sections.general_section_settings.img_ratio_option_default_label"
        },
        {
          "value": "square",
          "label": "t:sections.general_section_settings.img_ratio_option_fill_square_label"
        },
        {
          "value": "portrait",
          "label": "t:sections.general_section_settings.img_ratio_option_fill_portrait_label"
        },
        {
          "value": "portrait-xl",
          "label": "t:sections.general_section_settings.img_ratio_option_fill_portrait_xl_label"
        },
        {
          "value": "landscape",
          "label": "t:sections.general_section_settings.img_ratio_option_fill_landscape_label"
        },
        {
          "value": "fit-square",
          "label": "t:sections.general_section_settings.img_ratio_option_fit_square_label"
        },
        {
          "value": "fit-portrait",
          "label": "t:sections.general_section_settings.img_ratio_option_fit_portrait_label"
        },
        {
          "value": "fit-portrait-xl",
          "label": "t:sections.general_section_settings.img_ratio_option_fit_portrait_xl_label"
        },
        {
          "value": "fit-landscape",
          "label": "t:sections.general_section_settings.img_ratio_option_fit_landscape_label"
        }
      ],
      "default": "portrait",
      "label": "t:sections.general_section_settings.img_ratio_label"
    },
    {
      "type": "select",
      "id": "product_card_content_alignment",
      "label": "t:sections.lookbook.cards.content_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.lookbook.cards.content_alignment.options.option_1"
        },
        {
          "value": "center",
          "label": "t:sections.lookbook.cards.content_alignment.options.option_2"
        }
      ],
      "default": "left"
    },
    {
      "type": "range",
      "id": "desktop_gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 20,
      "label": "t:sections.lookbook.cards.desktop_gap.label"
    },
    {
      "type": "range",
      "id": "desktop_space_between_cards",
      "min": 0,
      "max": 32,
      "step": 1,
      "default": 24,
      "label": "t:sections.lookbook.cards.desktop_space_between_cards.label",
      "unit": "t:sections.lookbook.cards.desktop_space_between_cards.unit"
    },
    {
      "type": "range",
      "id": "mobile_space_between_cards",
      "min": 0,
      "max": 32,
      "step": 1,
      "default": 20,
      "label": "t:sections.lookbook.cards.mobile_space_between_cards.label",
      "unit": "t:sections.lookbook.cards.mobile_space_between_cards.unit"
    }
  ],
  "blocks": [
    {
      "type": "pin_product",
      "name": "t:sections.lookbook.blocks.pin_product.name",
      "limit": 12,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.lookbook.blocks.pin_product.product.label"
        },
        {
          "type": "range",
          "id": "desktop_horizontal_position",
          "min": 5,
          "max": 95,
          "step": 1,
          "default": 40,
          "unit": "t:sections.lookbook.blocks.pin_product.desktop_horizontal_position.unit",
          "label": "t:sections.lookbook.blocks.pin_product.desktop_horizontal_position.label"
        },
        {
          "type": "range",
          "id": "desktop_vertical_position",
          "min": 5,
          "max": 95,
          "step": 1,
          "default": 30,
          "unit": "t:sections.lookbook.blocks.pin_product.desktop_vertical_position.unit",
          "label": "t:sections.lookbook.blocks.pin_product.desktop_vertical_position.label"
        },
        {
          "type": "range",
          "id": "mobile_horizontal_position",
          "min": 5,
          "max": 95,
          "step": 1,
          "default": 40,
          "unit": "t:sections.lookbook.blocks.pin_product.mobile_horizontal_position.unit",
          "label": "t:sections.lookbook.blocks.pin_product.mobile_horizontal_position.label"
        },
        {
          "type": "range",
          "id": "mobile_vertical_position",
          "min": 5,
          "max": 95,
          "step": 1,
          "default": 30,
          "unit": "t:sections.lookbook.blocks.pin_product.mobile_vertical_position.unit",
          "label": "t:sections.lookbook.blocks.pin_product.mobile_vertical_position.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.lookbook.name",
      "blocks": [
        {
          "type": "pin_product",
          "settings": {
            "mobile_horizontal_position": 21,
            "mobile_vertical_position": 51,
            "desktop_horizontal_position": 21,
            "desktop_vertical_position": 51
          }
        },
        {
          "type": "pin_product",
          "settings": {
            "mobile_horizontal_position": 49,
            "mobile_vertical_position": 30,
            "desktop_horizontal_position": 49,
            "desktop_vertical_position": 30
          }
        },
        {
          "type": "pin_product",
          "settings": {
            "mobile_horizontal_position": 66,
            "mobile_vertical_position": 74,
            "desktop_horizontal_position": 66,
            "desktop_vertical_position": 74
          }
        }
      ]
    }
  ]
}
{% endschema %}
