{%- liquid
  assign options = section.settings
  assign color_scheme = options.color_scheme
  assign logo_img = options.logo_img
  assign desktop_logo_width = options.desktop_logo_width
  assign mobile_logo_width = options.mobile_logo_width
-%}

{% capture css %}
  {% style %}
    .section-{{ section.id }} {
        --gsc-logo-width: {{ mobile_logo_width }}px;
    }

    @media {% render 'media-queries', screen: 'md' %} {
        .section-{{ section.id }}{
            --gsc-logo-width: {{ desktop_logo_width }}px;
        }
    }
  {% endstyle %}
{% endcapture %}

{% render 'inline-css-minifier', css: css %}

<div class='password-header section section-{{ section.id }} color-{{ color_scheme }}'>
  <div class='password-header__container container container--full-screen'>
    {% render 'logo',
      class: 'password-header__logo',
      image: logo_img,
      logo_width: desktop_logo_width,
      logo_text: shop.name
    %}

    {%- if shop.password_message != blank -%}
      <div class='password-header__message'>{{ shop.password_message }}</div>
    {%- endif -%}

    <password-modal-opener
      class='password-header__link body-font-weight-from-global-settings'
      data-modal='#PopupModal-ForgotPassword'
      tabindex='0'
    >
      <div class='password-header__link-icon'>
        {% render 'icon', icon_name: 'padlock' %}
      </div>
      <span>
        {{ 'general.password_page.store_front.text_for_element_which_open_modal' | t }}
      </span>
    </password-modal-opener>
  </div>

  <password-modal class='password-modal' id='PopupModal-ForgotPassword' tabindex='-1' data-with-overlay>
    <template data-modal-template='PopupModal-ForgotPassword'>
      <div
        role='dialog'
        aria-label='{{- 'general.password_page.screen_reader.aria_label_for_forgot_password' | t -}}'
        aria-modal='true'
        class='password-modal__body'
        tabindex='-1'
      >
        <modal-close-btn
          class='password-modal__close  close-button-with-scale-hover'
          data-modal='#PopupModal-ForgotPassword'
        >
        </modal-close-btn>

        <h5>{{ 'general.password_page.store_front.text_for_title_in_login_modal' | t }}</h5>

        <div class='password-modal__login-form'>
          {%- form 'storefront_password', id: 'StorefrontPasswordForm' -%}
            <div class='field password-modal__login-form-field'>
              <label class='visually-hidden' for='StorefrontPasswordForm-PasswordInput-{{ form.id }}'>
                {{- 'general.password_page.screen_reader.text_for_title_in_login_modal' | t -}}
              </label>
              <input
                type='password'
                name='password'
                class='input input--outline input--large'
                placeholder='{{ 'general.password_page.store_front.placeholder_for_password_input' | t }}'
                id='StorefrontPasswordForm-PasswordInput-{{ form.id }}'
                password-modal-input
                required
              >
              <button
                class='btn btn--solid btn--lg password-modal__login-form-btn'
                name='commit'
                aria-label='{{- 'general.password_page.screen_reader.aria_label_for_submit_password' | t -}}'
              >
                {%- render 'icon', icon_name: 'arrow', class: 'password-modal__login-form-btn-arrow-icon' -%}
              </button>
            </div>
            {%- if form.errors -%}
              {%- assign error = 'general.password_page.store_front.incorrect_password_error_message' | t -%}

              <script>
                window.addEventListener('load', () => {
                  window.bodyElement.notification.show('{{ error }}', 'warning')
                })
              </script>
            {%- endif -%}
          {%- endform -%}
        </div>
        <div>
          {{ 'general.password_page.store_front.text_for_link_to_admin_at_html' | t }}
        </div>
      </div>
    </template>
  </password-modal>
</div>

{% render 'save-section-data-in-global-scope', section: section %}

{% schema %}
{
  "name": "t:sections.password_header.name",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "default",
          "label": "t:sections.general_section_settings.color_scheme_option_default_label"
        },
        {
          "value": "primary",
          "label": "t:sections.general_section_settings.color_scheme_option_primary_label"
        },
        {
          "value": "secondary",
          "label": "t:sections.general_section_settings.color_scheme_option_secondary_label"
        },
        {
          "value": "custom-1",
          "label": "t:sections.general_section_settings.color_scheme_option_custom_1_label"
        },
        {
          "value": "custom-2",
          "label": "t:sections.general_section_settings.color_scheme_option_custom_2_label"
        },
        {
          "value": "custom-3",
          "label": "t:sections.general_section_settings.color_scheme_option_custom_3_label"
        },
        {
          "value": "white",
          "label": "t:sections.general_section_settings.color_scheme_option_white_text_label"
        },
        {
          "value": "black",
          "label": "t:sections.general_section_settings.color_scheme_option_black_text_label"
        }
      ],
      "default": "default",
      "label": "t:sections.general_section_settings.color_scheme_label",
      "info": "t:sections.general_section_settings.color_scheme_tip"
    },
    {
      "type": "header",
      "content": "t:sections.password_header.logo_settings_header"
    },
    {
      "type": "image_picker",
      "id": "logo_img",
      "label": "t:sections.password_header.logo_img_label"
    },
    {
      "type": "range",
      "id": "desktop_logo_width",
      "min": 20,
      "max": 400,
      "step": 10,
      "default": 140,
      "unit": "t:sections.password_header.desktop_logo_width_unit",
      "label": "t:sections.password_header.desktop_logo_width_label"
    },
    {
      "type": "range",
      "id": "mobile_logo_width",
      "min": 20,
      "max": 400,
      "step": 10,
      "default": 140,
      "unit": "t:sections.password_header.mobile_logo_width_unit",
      "label": "t:sections.password_header.mobile_logo_width_label"
    }
  ]
}
{% endschema %}
