{%- liquid
  assign options = section.settings
  assign section_spacing_top = options.section_spacing_top
  assign section_spacing_bottom = options.section_spacing_bottom
  assign content_align = options.content_align
  assign color_scheme = options.color_scheme
  assign enable_background_around_container = options.enable_background_around_container
  assign container_size = options.container_size
-%}

{% capture css %}
  {% style %}
    .section-{{section.id}} {
        --gsc-section-spacing-top: {{ section_spacing_top }}px;
        --gsc-section-spacing-bottom: {{ section_spacing_bottom }}px;
    }

    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'icon' %}
          .block-{{ block.id }} {
            --gsc-section-icon-size: {{ block.settings.icon_size }}px;
          }

        {% when 'countdown' %}
          .block-{{block.id}} {
            --gsc-timer-block-width: 100%;
          }

          @media {% render 'media-queries', screen: 'md' %} {
            .block-{{block.id}} {
              --gsc-timer-block-width: {{block.settings.timer_desktop_width}}%;
            }
          }
      {% endcase %}
    {% endfor %}
  {% endstyle %}
{% endcapture %}

{% render 'inline-css-minifier', css: css %}

<div class='rich-text__outer-container section-{{ section.id }} {% if enable_background_around_container %} section color-{{ color_scheme }}{% endif %}'>
  <div class='section-spacing rich-text rich-text--section  container container--{{ container_size }}'>
    <div class='rich-text__container  {% unless enable_background_around_container %} rich-text__container--with-aside-spacing section color-{{ color_scheme }}{% endunless %}'>
      <div class='rich-text__content rich-text__content--with-{{ content_align }}-align'>
        {%- for block in section.blocks -%}
          {%- liquid
            assign options = block.settings
            assign caption = options.caption
            assign title = options.title
            assign heading_size = options.heading_size
            assign text = options.text
            assign text_2 = options.text_2
            assign text_3 = options.text_3
            assign btn_text = options.btn_text
            assign btn_url = options.btn_url
            assign btn_style = options.btn_style
            assign extra_btn_url = options.extra_btn_url
            assign extra_btn_text = options.extra_btn_text
            assign extra_btn_style = options.extra_btn_style
            assign body_size = options.body_size
            assign custom_icon_image = options.custom_icon_image
            assign icon = options.icon
          -%}
          {%- case block.type -%}
            {%- when '@app' -%}
              <div {{ block.shopify_attributes }} data-custom-app>
                {%- render block -%}
              </div>
            {% when 'icon' %}
              {% if custom_icon_image != blank or icon != 'none' %}
                <div class='block-{{ block.id }}' {{ block.shopify_attributes }}>
                  {%- if custom_icon_image != blank -%}
                    <img
                      {% render 'image-attributes', image: custom_icon_image, size: 'small', class: 'rich-text__icon' %}
                    >
                  {%- elsif icon != 'none' -%}
                    {% render 'icon-pack', icon: icon, class: 'rich-text__icon' %}
                  {%- endif -%}
                </div> 
              {% endif %}
            {%- when 'caption' -%}
              {%- if caption != blank -%}
                <div class='caption rich-text__caption block-{{block.id}}' {{ block.shopify_attributes }}>
                  {{ caption }}
                </div>
              {%- endif -%}
            {%- when 'heading' -%}
              {%- if title != blank -%}
                <h5 class='rte block-{{block.id}} {{ heading_size }} rich-text__heading' {{ block.shopify_attributes }}>
                  {{ title }}
                </h5>
              {%- endif -%}
            {%- when 'text' -%}
              {%- if text != blank or text_2 != blank or text_3 != blank -%}
                <div
                  class=' {{ body_size }} rich-text__text-wrapper block-{{block.id}} body-font-weight-from-global-settings {% if container_size != 'xsmall' %} rich-text__text-wrapper--with-large-desktop-gap{% endif %}'
                  {{ block.shopify_attributes }}
                >
                  {% if text != blank %}
                    <div class='rte rich-text__text rich-text-section__text'>
                      {{ text }}
                    </div>
                  {% endif %}
                  {% if text_2 != blank %}
                    <div class='rte rich-text__text rich-text-section__text'>
                      {{ text_2 }}
                    </div>
                  {% endif %}
                  {% if text_3 != blank %}
                    <div class='rte rich-text__text rich-text-section__text'>
                      {{ text_3 }}
                    </div>
                  {% endif %}
                </div>
              {%- endif -%}
            {%- when 'buttons' -%}
              {%- if btn_text != blank or extra_btn_text != blank -%}
                <div class='rich-text__btns block-{{block.id}}' {{ block.shopify_attributes }}>
                  {%- if btn_text != blank -%}
                    {%- if btn_style == 'link' -%}
                      <a
                        class='link'
                        {% if btn_url != blank %}
                          href='{{ btn_url }}'
                        {% endif %}
                        aria-label='{{ btn_text }}'
                      >
                        <span class='link__text'>{{ btn_text }}</span>
                        {%- render 'icon', icon_name: 'link-chevron', class: 'link__chevron' -%}
                      </a>
                    {%- else -%}
                      <a
                        class='btn btn--{{ btn_style }} rich-text__btn'
                        {% if btn_url != blank %}
                          href='{{ btn_url }}'
                        {% endif %}
                        aria-label='{{- btn_text -}}'
                      >
                        {{- btn_text -}}
                      </a>
                    {%- endif -%}
                  {%- endif -%}
                  {%- if extra_btn_text != blank -%}
                    {%- if extra_btn_style == 'link' -%}
                      <a
                        class='link'
                        {% if extra_btn_url != blank %}
                          href='{{ extra_btn_url }}'
                        {% endif %}
                        aria-label='{{ extra_btn_text }}'
                      >
                        <span class='link__text'>{{ extra_btn_text }}</span>
                        {%- render 'icon', icon_name: 'link-chevron', class: 'link__chevron' -%}
                      </a>
                    {%- else -%}
                      <a
                        class='btn btn--{{ extra_btn_style }} rich-text__btn'
                        {% if extra_btn_url != blank %}
                          href='{{ extra_btn_url }}'
                        {% endif %}
                        aria-label='{{- extra_btn_text -}}'
                      >
                        {{- extra_btn_text -}}
                      </a>
                    {%- endif -%}
                  {%- endif -%}
                </div>
              {%- endif -%}
            {% when 'countdown' %}
              <div class='block-{{block.id}} rich-text__timer-wrapper' {{ block.shopify_attributes }}>
                <div class=' rich-text__timer'>
                  {% render 'timer', block: block %}
                </div>
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% render 'save-section-data-in-global-scope', section: section %}

{% schema %}
{
  "name": "t:sections.rich_text.name",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "default",
          "label": "t:sections.general_section_settings.color_scheme_option_default_label"
        },
        {
          "value": "primary",
          "label": "t:sections.general_section_settings.color_scheme_option_primary_label"
        },
        {
          "value": "secondary",
          "label": "t:sections.general_section_settings.color_scheme_option_secondary_label"
        },
        {
          "value": "custom-1",
          "label": "t:sections.general_section_settings.color_scheme_option_custom_1_label"
        },
        {
          "value": "custom-2",
          "label": "t:sections.general_section_settings.color_scheme_option_custom_2_label"
        },
        {
          "value": "custom-3",
          "label": "t:sections.general_section_settings.color_scheme_option_custom_3_label"
        },
        {
          "value": "white",
          "label": "t:sections.general_section_settings.color_scheme_option_white_text_label"
        },
        {
          "value": "black",
          "label": "t:sections.general_section_settings.color_scheme_option_black_text_label"
        }
      ],
      "default": "default",
      "label": "t:sections.general_section_settings.color_scheme_label",
      "info": "t:sections.general_section_settings.color_scheme_tip"
    },
    {
      "type": "checkbox",
      "id": "enable_background_around_container",
      "default": false,
      "label": "t:sections.general_section_settings.enable_background_around_container_label"
    },
    {
      "type": "select",
      "id": "container_size",
      "options": [
        {
          "value": "page-width",
          "label": "t:sections.general_section_settings.container_size.page_width_option"
        },
        {
          "value": "large",
          "label": "t:sections.general_section_settings.container_size.large_width_option"
        },
        {
          "value": "medium",
          "label": "t:sections.general_section_settings.container_size.medium_width_option"
        },
        {
          "value": "small",
          "label": "t:sections.general_section_settings.container_size.small_width_option"
        },
        {
          "value": "xsmall",
          "label": "t:sections.general_section_settings.container_size.extra_small_width_option"
        }
      ],
      "default": "page-width",
      "label": "t:sections.general_section_settings.container_size.label"
    },
    {
      "type": "range",
      "id": "section_spacing_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "unit": "t:sections.general_section_settings.section_spacing_top.unit",
      "label": "t:sections.general_section_settings.section_spacing_top.label"
    },
    {
      "type": "range",
      "id": "section_spacing_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "unit": "t:sections.general_section_settings.section_spacing_bottom.unit",
      "label": "t:sections.general_section_settings.section_spacing_bottom.label"
    },
    {
      "type": "select",
      "id": "content_align",
      "label": "t:sections.general_section_settings.content_alignment_label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.general_section_settings.alignment_option_left_label"
        },
        {
          "value": "center",
          "label": "t:sections.general_section_settings.alignment_option_center_label"
        },
        {
          "value": "right",
          "label": "t:sections.general_section_settings.alignment_option_right_label"
        }
      ],
      "default": "center"
    }
  ],
  "blocks": [
    {
      "type": "icon",
      "name": "t:sections.rich_text.icon_block_name",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.general_section_settings.icon.none_icon_label"
            },
            {
              "value": "settings",
              "label": "t:sections.general_section_settings.icon.general_group.settings_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "search",
              "label": "t:sections.general_section_settings.icon.general_group.search_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "eye",
              "label": "t:sections.general_section_settings.icon.general_group.eye_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "eye-slash",
              "label": "t:sections.general_section_settings.icon.general_group.eye_slash_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "user",
              "label": "t:sections.general_section_settings.icon.general_group.user_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "love-outline",
              "label": "t:sections.general_section_settings.icon.general_group.love_outline_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "love-solid",
              "label": "t:sections.general_section_settings.icon.general_group.love_solid_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "like",
              "label": "t:sections.general_section_settings.icon.general_group.like_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "dislike",
              "label": "t:sections.general_section_settings.icon.general_group.dislike_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "lamp",
              "label": "t:sections.general_section_settings.icon.general_group.lamp_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "star-outline",
              "label": "t:sections.general_section_settings.icon.general_group.star_outline_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "star-solid",
              "label": "t:sections.general_section_settings.icon.general_group.star_solid_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "trash",
              "label": "t:sections.general_section_settings.icon.general_group.trash_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "document",
              "label": "t:sections.general_section_settings.icon.general_group.document_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "copy",
              "label": "t:sections.general_section_settings.icon.general_group.copy_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "share",
              "label": "t:sections.general_section_settings.icon.general_group.share_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "plus",
              "label": "t:sections.general_section_settings.icon.general_group.plus_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "minus",
              "label": "t:sections.general_section_settings.icon.general_group.minus_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "checkmark",
              "label": "t:sections.general_section_settings.icon.general_group.checkmark_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "arrow-right",
              "label": "t:sections.general_section_settings.icon.general_group.arrow_right_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "arrow-left",
              "label": "t:sections.general_section_settings.icon.general_group.arrow_left_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "undo",
              "label": "t:sections.general_section_settings.icon.general_group.undo_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "redo",
              "label": "t:sections.general_section_settings.icon.general_group.redo_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "refresh",
              "label": "t:sections.general_section_settings.icon.general_group.refresh_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "notification",
              "label": "t:sections.general_section_settings.icon.general_group.notification_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "clock",
              "label": "t:sections.general_section_settings.icon.general_group.clock_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "calendar",
              "label": "t:sections.general_section_settings.icon.general_group.calendar_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "information",
              "label": "t:sections.general_section_settings.icon.general_group.information_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "bag",
              "label": "t:sections.general_section_settings.icon.shop_group.bag_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "cart",
              "label": "t:sections.general_section_settings.icon.shop_group.cart_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "barcode",
              "label": "t:sections.general_section_settings.icon.shop_group.barcode_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "coupon",
              "label": "t:sections.general_section_settings.icon.shop_group.coupon_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "gift",
              "label": "t:sections.general_section_settings.icon.shop_group.gift_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "discount-outline",
              "label": "t:sections.general_section_settings.icon.shop_group.discount_outline_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "discount-solid",
              "label": "t:sections.general_section_settings.icon.shop_group.discount_solid_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "medal",
              "label": "t:sections.general_section_settings.icon.shop_group.medal_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "pen-and-ruler",
              "label": "t:sections.general_section_settings.icon.shop_group.pen_and_ruler_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "color-swatch",
              "label": "t:sections.general_section_settings.icon.shop_group.color_swatch_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "car",
              "label": "t:sections.general_section_settings.icon.shop_group.car_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "cup",
              "label": "t:sections.general_section_settings.icon.shop_group.cup_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "cake",
              "label": "t:sections.general_section_settings.icon.shop_group.cake_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "hanger",
              "label": "t:sections.general_section_settings.icon.shop_group.hanger_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "t-shirt",
              "label": "t:sections.general_section_settings.icon.shop_group.t_shirt_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "dress",
              "label": "t:sections.general_section_settings.icon.shop_group.dress_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "jewelry",
              "label": "t:sections.general_section_settings.icon.shop_group.jewelry_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "furniture",
              "label": "t:sections.general_section_settings.icon.shop_group.furniture_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "toy",
              "label": "t:sections.general_section_settings.icon.shop_group.toy_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "shipping-box",
              "label": "t:sections.general_section_settings.icon.shipping_group.shipping_box_icon_label",
              "group": "t:sections.general_section_settings.icon.shipping_group.label"
            },
            {
              "value": "address-pin",
              "label": "t:sections.general_section_settings.icon.shipping_group.address_pin_icon_label",
              "group": "t:sections.general_section_settings.icon.shipping_group.label"
            },
            {
              "value": "fast-delivery",
              "label": "t:sections.general_section_settings.icon.shipping_group.fast_delivery_icon_label",
              "group": "t:sections.general_section_settings.icon.shipping_group.label"
            },
            {
              "value": "delivery-truck",
              "label": "t:sections.general_section_settings.icon.shipping_group.delivery_truck_icon_label",
              "group": "t:sections.general_section_settings.icon.shipping_group.label"
            },
            {
              "value": "easy-returns",
              "label": "t:sections.general_section_settings.icon.shipping_group.easy_returns_icon_label",
              "group": "t:sections.general_section_settings.icon.shipping_group.label"
            },
            {
              "value": "world",
              "label": "t:sections.general_section_settings.icon.shipping_group.world_icon_label",
              "group": "t:sections.general_section_settings.icon.shipping_group.label"
            },
            {
              "value": "plane",
              "label": "t:sections.general_section_settings.icon.shipping_group.plane_icon_label",
              "group": "t:sections.general_section_settings.icon.shipping_group.label"
            },
            {
              "value": "search-order",
              "label": "t:sections.general_section_settings.icon.shipping_group.search_order_icon_label",
              "group": "t:sections.general_section_settings.icon.shipping_group.label"
            },
            {
              "value": "briefcase",
              "label": "t:sections.general_section_settings.icon.shipping_group.briefcase_icon_label",
              "group": "t:sections.general_section_settings.icon.shipping_group.label"
            },
            {
              "value": "store",
              "label": "t:sections.general_section_settings.icon.shipping_group.store_icon_label",
              "group": "t:sections.general_section_settings.icon.shipping_group.label"
            },
            {
              "value": "routing",
              "label": "t:sections.general_section_settings.icon.shipping_group.routing_icon_label",
              "group": "t:sections.general_section_settings.icon.shipping_group.label"
            },

            {
              "value": "credit-card",
              "label": "t:sections.general_section_settings.icon.payment_security_group.credit_card_icon_label",
              "group": "t:sections.general_section_settings.icon.payment_security_group.label"
            },
            {
              "value": "lock",
              "label": "t:sections.general_section_settings.icon.payment_security_group.lock_icon_label",
              "group": "t:sections.general_section_settings.icon.payment_security_group.label"
            },
            {
              "value": "shield",
              "label": "t:sections.general_section_settings.icon.payment_security_group.shield_icon_label",
              "group": "t:sections.general_section_settings.icon.payment_security_group.label"
            },
            {
              "value": "secure-payment",
              "label": "t:sections.general_section_settings.icon.payment_security_group.secure_payment_icon_label",
              "group": "t:sections.general_section_settings.icon.payment_security_group.label"
            },
            {
              "value": "wallet",
              "label": "t:sections.general_section_settings.icon.payment_security_group.wallet_icon_label",
              "group": "t:sections.general_section_settings.icon.payment_security_group.label"
            },
            {
              "value": "cash",
              "label": "t:sections.general_section_settings.icon.payment_security_group.cash_icon_label",
              "group": "t:sections.general_section_settings.icon.payment_security_group.label"
            },
            {
              "value": "receipt",
              "label": "t:sections.general_section_settings.icon.payment_security_group.receipt_icon_label",
              "group": "t:sections.general_section_settings.icon.payment_security_group.label"
            },
            {
              "value": "tag",
              "label": "t:sections.general_section_settings.icon.payment_security_group.tag_icon_label",
              "group": "t:sections.general_section_settings.icon.payment_security_group.label"
            },
            {
              "value": "list",
              "label": "t:sections.general_section_settings.icon.payment_security_group.list_icon_label",
              "group": "t:sections.general_section_settings.icon.payment_security_group.label"
            },
            {
              "value": "scanner",
              "label": "t:sections.general_section_settings.icon.payment_security_group.scanner_icon_label",
              "group": "t:sections.general_section_settings.icon.payment_security_group.label"
            },
            {
              "value": "phone",
              "label": "t:sections.general_section_settings.icon.communication_group.phone_icon_label",
              "group": "t:sections.general_section_settings.icon.communication_group.label"
            },
            {
              "value": "chat",
              "label": "t:sections.general_section_settings.icon.communication_group.chat_icon_label",
              "group": "t:sections.general_section_settings.icon.communication_group.label"
            },
            {
              "value": "message",
              "label": "t:sections.general_section_settings.icon.communication_group.message_icon_label",
              "group": "t:sections.general_section_settings.icon.communication_group.label"
            },
            {
              "value": "email-outline",
              "label": "t:sections.general_section_settings.icon.communication_group.email_icon_label",
              "group": "t:sections.general_section_settings.icon.communication_group.label"
            },
            {
              "value": "customer-support",
              "label": "t:sections.general_section_settings.icon.communication_group.customer_support_icon_label",
              "group": "t:sections.general_section_settings.icon.communication_group.label"
            },
            {
              "value": "printer-and-fax",
              "label": "t:sections.general_section_settings.icon.communication_group.printer_and_fax_icon_label",
              "group": "t:sections.general_section_settings.icon.communication_group.label"
            },
            {
              "value": "devices",
              "label": "t:sections.general_section_settings.icon.communication_group.devices_icon_label",
              "group": "t:sections.general_section_settings.icon.communication_group.label"
            },
            {
              "value": "mobile",
              "label": "t:sections.general_section_settings.icon.communication_group.mobile_icon_label",
              "group": "t:sections.general_section_settings.icon.communication_group.label"
            },
            {
              "value": "virus",
              "label": "t:sections.general_section_settings.icon.ecology_group.virus_icon_label",
              "group": "t:sections.general_section_settings.icon.ecology_group.label"
            },
            {
              "value": "mask",
              "label": "t:sections.general_section_settings.icon.ecology_group.mask_icon_label",
              "group": "t:sections.general_section_settings.icon.ecology_group.label"
            },
            {
              "value": "eco",
              "label": "t:sections.general_section_settings.icon.ecology_group.eco_icon_label",
              "group": "t:sections.general_section_settings.icon.ecology_group.label"
            },
            {
              "value": "rabbit",
              "label": "t:sections.general_section_settings.icon.ecology_group.rabbit_icon_label",
              "group": "t:sections.general_section_settings.icon.ecology_group.label"
            },
            {
              "value": "twitter",
              "label": "t:sections.general_section_settings.icon.social_group.twitter_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "facebook",
              "label": "t:sections.general_section_settings.icon.social_group.facebook_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "pinterest",
              "label": "t:sections.general_section_settings.icon.social_group.pinterest_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "instagram",
              "label": "t:sections.general_section_settings.icon.social_group.instagram_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "tiktok",
              "label": "t:sections.general_section_settings.icon.social_group.tiktok_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "tumblr",
              "label": "t:sections.general_section_settings.icon.social_group.tumblr_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "snapchat",
              "label": "t:sections.general_section_settings.icon.social_group.snapchat_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "youtube",
              "label": "t:sections.general_section_settings.icon.social_group.youtube_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "vimeo",
              "label": "t:sections.general_section_settings.icon.social_group.vimeo_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "linkedin",
              "label": "t:sections.general_section_settings.icon.social_group.linkedin_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "flickr",
              "label": "t:sections.general_section_settings.icon.social_group.flickr_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "reddit",
              "label": "t:sections.general_section_settings.icon.social_group.reddit_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "email-solid",
              "label": "t:sections.general_section_settings.icon.social_group.email_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "behance",
              "label": "t:sections.general_section_settings.icon.social_group.behance_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "discord",
              "label": "t:sections.general_section_settings.icon.social_group.discord_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "dribbble",
              "label": "t:sections.general_section_settings.icon.social_group.dribbble_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "medium",
              "label": "t:sections.general_section_settings.icon.social_group.medium_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "twitch",
              "label": "t:sections.general_section_settings.icon.social_group.twitch_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "whatsapp",
              "label": "t:sections.general_section_settings.icon.social_group.whatsapp_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "viber",
              "label": "t:sections.general_section_settings.icon.social_group.viber_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "telegram",
              "label": "t:sections.general_section_settings.icon.social_group.telegram_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            }
          ],
          "default": "none",
          "label": "t:sections.general_section_settings.icon.label",
          "info": "t:sections.general_section_settings.icon.info"
        },
        {
          "type": "image_picker",
          "id": "custom_icon_image",
          "label": "t:sections.general_section_settings.custom_icon_image.label"
        },
        {
          "type": "range",
          "id": "icon_size",
          "min": 24,
          "max": 200,
          "step": 2,
          "default": 48,
          "unit": "t:sections.rich_text.blocks.icon.icon_size.unit",
          "label": "t:sections.rich_text.blocks.icon.icon_size.label"
        }
      ],
      "limit": 1
    },
    {
      "type": "caption",
      "name": "t:sections.rich_text.caption_block_name",
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "RICH TEXT",
          "label": "t:sections.rich_text.caption_block_caption_label"
        }
      ],
      "limit": 1
    },
    {
      "type": "heading",
      "name": "t:sections.rich_text.heading_block_name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "t:sections.rich_text.heading_block_title_label",
          "default": "Tell about your brand"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.general_section_settings.label_for_heading_size_setting",
          "options": [
            {
              "value": "h0",
              "label": "t:sections.general_section_settings.heading_size_0_option"
            },
            {
              "value": "h1",
              "label": "t:sections.general_section_settings.heading_size_1_option"
            },
            {
              "value": "h2",
              "label": "t:sections.general_section_settings.heading_size_2_option"
            },
            {
              "value": "h3",
              "label": "t:sections.general_section_settings.heading_size_3_option"
            },
            {
              "value": "h4",
              "label": "t:sections.general_section_settings.heading_size_4_option"
            },
            {
              "value": "h5",
              "label": "t:sections.general_section_settings.heading_size_5_option"
            },
            {
              "value": "h6",
              "label": "t:sections.general_section_settings.heading_size_6_option"
            },
            {
              "value": "h7",
              "label": "t:sections.general_section_settings.heading_size_7_option"
            }
          ],
          "default": "h5"
        }
      ],
      "limit": 1
    },
    {
      "type": "text",
      "name": "t:sections.rich_text.text_block_name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.rich_text.blocks.text.description.content"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements or welcome customers to your store.</p>",
          "label": "t:sections.rich_text.blocks.text.text_1.label"
        },
        {
          "type": "richtext",
          "id": "text_2",
          "label": "t:sections.rich_text.blocks.text.text_2.label"
        },
        {
          "type": "richtext",
          "id": "text_3",
          "label": "t:sections.rich_text.blocks.text.text_3.label"
        },
        {
          "type": "select",
          "id": "body_size",
          "label": "t:sections.general_section_settings.label_for_body_size_setting",
          "info": "t:sections.general_section_settings.info_for_body_size_setting",
          "options": [
            {
              "value": "body0",
              "label": "t:sections.general_section_settings.body_size_0_option"
            },
            {
              "value": "body1",
              "label": "t:sections.general_section_settings.body_size_1_option"
            },
            {
              "value": "body2",
              "label": "t:sections.general_section_settings.body_size_2_option"
            },
            {
              "value": "body3",
              "label": "t:sections.general_section_settings.body_size_3_option"
            },
            {
              "value": "body4",
              "label": "t:sections.general_section_settings.body_size_4_option"
            },
            {
              "value": "body5",
              "label": "t:sections.general_section_settings.body_size_5_option"
            },
            {
              "value": "body6",
              "label": "t:sections.general_section_settings.body_size_6_option"
            }
          ],
          "default": "body3"
        }
      ],
      "limit": 1
    },
    {
      "type": "buttons",
      "name": "t:sections.rich_text.buttons_block_name",
      "settings": [
        {
          "type": "text",
          "id": "btn_text",
          "default": "Button label",
          "label": "t:sections.rich_text.buttons_block_btn_text_label"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "t:sections.rich_text.buttons_block_btn_url_label"
        },
        {
          "type": "select",
          "id": "btn_style",
          "options": [
            {
              "value": "solid",
              "label": "t:sections.rich_text.buttons_block_btn_style_option_solid_label"
            },
            {
              "value": "outline",
              "label": "t:sections.rich_text.buttons_block_btn_style_option_outline_label"
            },
            {
              "value": "link",
              "label": "t:sections.rich_text.buttons_block_btn_style_option_link_label"
            }
          ],
          "default": "link",
          "label": "t:sections.rich_text.buttons_block_btn_style_label"
        },
        {
          "type": "text",
          "id": "extra_btn_text",
          "label": "t:sections.rich_text.buttons_block_extra_btn_text_label"
        },
        {
          "type": "url",
          "id": "extra_btn_url",
          "label": "t:sections.rich_text.buttons_block_extra_btn_url_label"
        },
        {
          "type": "select",
          "id": "extra_btn_style",
          "options": [
            {
              "value": "solid",
              "label": "t:sections.rich_text.buttons_block_extra_btn_style_option_solid_label"
            },
            {
              "value": "outline",
              "label": "t:sections.rich_text.buttons_block_extra_btn_style_option_outline_label"
            },
            {
              "value": "link",
              "label": "t:sections.rich_text.buttons_block_extra_btn_style_option_link_label"
            }
          ],
          "default": "solid",
          "label": "t:sections.rich_text.buttons_block_extra_btn_style_label"
        }
      ],
      "limit": 1
    },
    {
      "type": "countdown",
      "name": "t:sections.countdown_timer.blocks.timer.name",
      "settings": [
        {
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "default",
              "label": "t:sections.general_section_settings.color_scheme_option_default_label"
            },
            {
              "value": "primary",
              "label": "t:sections.general_section_settings.color_scheme_option_primary_label"
            },
            {
              "value": "secondary",
              "label": "t:sections.general_section_settings.color_scheme_option_secondary_label"
            },
            {
              "value": "custom-1",
              "label": "t:sections.general_section_settings.color_scheme_option_custom_1_label"
            },
            {
              "value": "custom-2",
              "label": "t:sections.general_section_settings.color_scheme_option_custom_2_label"
            },
            {
              "value": "custom-3",
              "label": "t:sections.general_section_settings.color_scheme_option_custom_3_label"
            },
            {
              "value": "white",
              "label": "t:sections.general_section_settings.color_scheme_option_white_text_label"
            },
            {
              "value": "black",
              "label": "t:sections.general_section_settings.color_scheme_option_black_text_label"
            }
          ],
          "default": "secondary",
          "label": "t:sections.general_section_settings.color_scheme_label",
          "info": "t:sections.general_section_settings.color_scheme_tip"
        },
        {
          "type": "select",
          "id": "background_type",
          "options": [
            {
              "value": "hide",
              "label": "t:sections.countdown_timer.blocks.timer.background_hide"
            },
            {
              "value": "separate",
              "label": "t:sections.countdown_timer.blocks.timer.background_separate"
            },
            {
              "value": "common",
              "label": "t:sections.countdown_timer.blocks.timer.background_common"
            }
          ],
          "default": "separate",
          "label": "t:sections.countdown_timer.blocks.timer.background"
        },
        {
          "type": "select",
          "id": "background_style",
          "options": [
            {
              "value": "solid",
              "label": "t:sections.countdown_timer.blocks.timer.background_solid"
            },
            {
              "value": "outline",
              "label": "t:sections.countdown_timer.blocks.timer.background_outline"
            }
          ],
          "default": "solid",
          "label": "t:sections.countdown_timer.blocks.timer.background_style"
        },
        {
          "type": "checkbox",
          "id": "enable_separators",
          "default": true,
          "label": "t:sections.countdown_timer.blocks.timer.show_separators"
        },
        {
          "type": "checkbox",
          "id": "captitalize_unit_labels",
          "default": true,
          "label": "t:sections.countdown_timer.blocks.timer.capitalize_unit_labels"
        },
        {
          "type": "range",
          "id": "timer_desktop_width",
          "min": 30,
          "max": 100,
          "step": 1,
          "default": 50,
          "unit": "t:sections.countdown_timer.blocks.timer.desktop_width.unit",
          "label": "t:sections.countdown_timer.blocks.timer.desktop_width.label"
        },
        {
          "type": "radio",
          "id": "mode",
          "label": "t:sections.countdown_timer.blocks.timer.mode.label",
          "default": "fixed",
          "options": [
            {
              "label": "t:sections.countdown_timer.blocks.timer.mode.fixed",
              "value": "fixed"
            },
            {
              "label": "t:sections.countdown_timer.blocks.timer.mode.evergreen",
              "value": "evergreen"
            }
          ]
        },

        { "type": "header", "content": "t:sections.countdown_timer.blocks.timer.mode.fixed" },
        {
          "type": "select",
          "id": "year",
          "options": [
            { "value": "2023", "label": "2023" },
            { "value": "2024", "label": "2024" },
            { "value": "2025", "label": "2025" },
            { "value": "2026", "label": "2026" },
            { "value": "2027", "label": "2027" },
            { "value": "2028", "label": "2028" },
            { "value": "2029", "label": "2029" }
          ],
          "default": "2024",
          "label": "t:sections.countdown_timer.blocks.timer.year"
        },
        {
          "type": "select",
          "id": "month",
          "options": [
            {
              "value": "january",
              "label": "t:sections.countdown_timer.blocks.timer.january"
            },
            {
              "value": "february",
              "label": "t:sections.countdown_timer.blocks.timer.february"
            },
            {
              "value": "march",
              "label": "t:sections.countdown_timer.blocks.timer.march"
            },
            {
              "value": "april",
              "label": "t:sections.countdown_timer.blocks.timer.april"
            },
            {
              "value": "may",
              "label": "t:sections.countdown_timer.blocks.timer.may"
            },
            {
              "value": "june",
              "label": "t:sections.countdown_timer.blocks.timer.june"
            },
            {
              "value": "july",
              "label": "t:sections.countdown_timer.blocks.timer.july"
            },
            {
              "value": "august",
              "label": "t:sections.countdown_timer.blocks.timer.august"
            },
            {
              "value": "september",
              "label": "t:sections.countdown_timer.blocks.timer.september"
            },
            {
              "value": "october",
              "label": "t:sections.countdown_timer.blocks.timer.october"
            },
            {
              "value": "november",
              "label": "t:sections.countdown_timer.blocks.timer.november"
            },
            {
              "value": "december",
              "label": "t:sections.countdown_timer.blocks.timer.december"
            }
          ],
          "default": "january",
          "label": "t:sections.countdown_timer.blocks.timer.month"
        },
        {
          "type": "select",
          "id": "day",
          "options": [
            { "value": "1", "label": "1" },
            { "value": "2", "label": "2" },
            { "value": "3", "label": "3" },
            { "value": "4", "label": "4" },
            { "value": "5", "label": "5" },
            { "value": "6", "label": "6" },
            { "value": "7", "label": "7" },
            { "value": "8", "label": "8" },
            { "value": "9", "label": "9" },
            { "value": "10", "label": "10" },
            { "value": "11", "label": "11" },
            { "value": "12", "label": "12" },
            { "value": "13", "label": "13" },
            { "value": "14", "label": "14" },
            { "value": "15", "label": "15" },
            { "value": "16", "label": "16" },
            { "value": "17", "label": "17" },
            { "value": "18", "label": "18" },
            { "value": "19", "label": "19" },
            { "value": "20", "label": "20" },
            { "value": "21", "label": "21" },
            { "value": "22", "label": "22" },
            { "value": "23", "label": "23" },
            { "value": "24", "label": "24" },
            { "value": "25", "label": "25" },
            { "value": "26", "label": "26" },
            { "value": "27", "label": "27" },
            { "value": "28", "label": "28" },
            { "value": "29", "label": "29" },
            { "value": "30", "label": "30" },
            { "value": "31", "label": "31" }
          ],
          "default": "1",
          "label": "t:sections.countdown_timer.blocks.timer.day"
        },
        {
          "type": "select",
          "id": "hour",
          "options": [
            { "value": "0", "label": "12 AM" },
            { "value": "1", "label": "01 AM" },
            { "value": "2", "label": "02 AM" },
            { "value": "3", "label": "03 AM" },
            { "value": "4", "label": "04 AM" },
            { "value": "5", "label": "05 AM" },
            { "value": "6", "label": "06 AM" },
            { "value": "7", "label": "07 AM" },
            { "value": "8", "label": "08 AM" },
            { "value": "9", "label": "09 AM" },
            { "value": "10", "label": "10 AM" },
            { "value": "11", "label": "11 AM" },
            { "value": "12", "label": "12 PM" },
            { "value": "13", "label": "01 PM" },
            { "value": "14", "label": "02 PM" },
            { "value": "15", "label": "03 PM" },
            { "value": "16", "label": "04 PM" },
            { "value": "17", "label": "05 PM" },
            { "value": "18", "label": "06 PM" },
            { "value": "19", "label": "07 PM" },
            { "value": "20", "label": "08 PM" },
            { "value": "21", "label": "09 PM" },
            { "value": "22", "label": "10 PM" },
            { "value": "23", "label": "11 PM" }
          ],
          "default": "0",
          "label": "t:sections.countdown_timer.blocks.timer.hour"
        },
        {
          "type": "select",
          "id": "minute",
          "options": [
            { "value": "0", "label": "00" },
            { "value": "1", "label": "01" },
            { "value": "2", "label": "02" },
            { "value": "3", "label": "03" },
            { "value": "4", "label": "04" },
            { "value": "5", "label": "05" },
            { "value": "6", "label": "06" },
            { "value": "7", "label": "07" },
            { "value": "8", "label": "08" },
            { "value": "9", "label": "09" },
            { "value": "10", "label": "10" },
            { "value": "11", "label": "11" },
            { "value": "12", "label": "12" },
            { "value": "13", "label": "13" },
            { "value": "14", "label": "14" },
            { "value": "15", "label": "15" },
            { "value": "16", "label": "16" },
            { "value": "17", "label": "17" },
            { "value": "18", "label": "18" },
            { "value": "19", "label": "19" },
            { "value": "20", "label": "20" },
            { "value": "21", "label": "21" },
            { "value": "22", "label": "22" },
            { "value": "23", "label": "23" },
            { "value": "24", "label": "24" },
            { "value": "25", "label": "25" },
            { "value": "26", "label": "26" },
            { "value": "27", "label": "27" },
            { "value": "28", "label": "28" },
            { "value": "29", "label": "29" },
            { "value": "30", "label": "30" },
            { "value": "31", "label": "31" },
            { "value": "32", "label": "32" },
            { "value": "33", "label": "33" },
            { "value": "34", "label": "34" },
            { "value": "35", "label": "35" },
            { "value": "36", "label": "36" },
            { "value": "37", "label": "37" },
            { "value": "38", "label": "38" },
            { "value": "39", "label": "39" },
            { "value": "40", "label": "40" },
            { "value": "41", "label": "41" },
            { "value": "42", "label": "42" },
            { "value": "43", "label": "43" },
            { "value": "44", "label": "44" },
            { "value": "45", "label": "45" },
            { "value": "46", "label": "46" },
            { "value": "47", "label": "47" },
            { "value": "48", "label": "48" },
            { "value": "49", "label": "49" },
            { "value": "50", "label": "50" },
            { "value": "51", "label": "51" },
            { "value": "52", "label": "52" },
            { "value": "53", "label": "53" },
            { "value": "54", "label": "54" },
            { "value": "55", "label": "55" },
            { "value": "56", "label": "56" },
            { "value": "57", "label": "57" },
            { "value": "58", "label": "58" },
            { "value": "59", "label": "59" }
          ],
          "default": "0",
          "label": "t:sections.countdown_timer.blocks.timer.minute"
        },
        {
          "type": "checkbox",
          "id": "hide_on_complete",
          "default": true,
          "label": "t:sections.countdown_timer.blocks.timer.hide_on_complete"
        },

        { "type": "header", "content": "t:sections.countdown_timer.blocks.timer.mode.evergreen" },
        {
          "type": "paragraph",
          "content": "Shows the amount of time a particular user has to get the offer"
        },
        {
          "type": "select",
          "id": "evergreen_unit",
          "label": "t:sections.countdown_timer.blocks.timer.time_units_heading",
          "default": "day",
          "options": [
            {
              "label": "t:sections.countdown_timer.blocks.timer.days",
              "value": "day"
            },
            {
              "label": "t:sections.countdown_timer.blocks.timer.hours",
              "value": "hour"
            },
            {
              "label": "t:sections.countdown_timer.blocks.timer.minutes",
              "value": "minute"
            },
            {
              "label": "t:sections.countdown_timer.blocks.timer.seconds",
              "value": "second"
            }
          ]
        },
        {
          "type": "number",
          "id": "evergreen_value",
          "label": "t:sections.countdown_timer.blocks.timer.time_value",
          "default": 1
        },
        {
          "type": "select",
          "id": "evergreen_on_complete",
          "label": "t:sections.countdown_timer.blocks.timer.evergreen_on_complete",
          "default": "restart",
          "options": [
            {
              "label": "t:sections.countdown_timer.blocks.timer.on_complete_options.hide",
              "value": "hide"
            },
            {
              "label": "t:sections.countdown_timer.blocks.timer.on_complete_options.restart",
              "value": "restart"
            },
            {
              "label": "t:sections.countdown_timer.blocks.timer.on_complete_options.wait_one_day",
              "value": "wait_one_day"
            }
          ]
        }
      ],
      "limit": 1
    }
  ],
  "presets": [
    {
      "name": "t:sections.rich_text.name",
      "blocks": [
        {
          "type": "icon"
        },
        {
          "type": "caption"
        },
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
